---
title: About
layout: home
---

  <div style="background-image: radial-gradient(rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.6) 80%), url('{{ 'assets/images/fab-group-photo.png' | relative_url }}'); background-size: cover; background-position:center;">
    {% include navbar.html %}
      <div class="container-fluid white">
        <div class="row row-cols-2 spaced-out mr-xl-4">
          <div class="col-md-6 ml-xl-4 mr-xl-4">
            <div class="my-4">
              <div class="placeholder" style="height:300px">
              </div>
            </div>
          </div>
          </div>
          <div class="row d-flex flex-colums row-cols-4 pt-3 pl-xl-5 pl-lg-5 pr-xl-5 pr-lg-5 pb-3">
            <div class="col-md-5">
              <div class="display-4 text-uppercase light-letters">
                About Fab City
              </div>
              <div class="h5">
                A global collaboration with a distributed network
                of cities prototypes local approaches to meet the
                challenge of producing everything the city
                consumes by 2054.
              </div>
              <!-- <button type="button" class="btn pr-lg-4 pl-lg-4 small btn-white rounded-0 pr-3 pl-3 pt-1 pb-1">See more</button> -->
            </div>
          </div>
        </div>
</div>
<body>

<section class="bg-grey">
  <div class="container-fluid">
    <div class="row row-cols-2">
      <div class="col-md-6">
        <div class="h5">
        It is a new urban model of transforming and
        shaping cities that shifts how they source and use
        materials from ‘Products In Trash Out’ (PITO) to
        ‘Data In Data Out’ (DIDO).
        </div>
      </div>
      <div class="col-md-6">
        <div class="h5">
        The Fab City takes the ideals of the Fab Lab such as
        the connectivity, culture, glocalism and creativity
        and scales it to the City.
        </div>
      </div>
    </div>
  </div>
</section>
<!-- background img -->
<!-- <section class="p-5" style="background-image: radial-gradient(rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.6) 80%), url('{{ 'assets/images/fab-group-photo.png' | relative_url }}'); background-size: cover; background-position:center;">
  <div class="p-5" style="height:600px;">
  </div>
</section> -->
<!-- Manifesto -->
<div class="borderline dark d-none d-sm-block"></div>
      <div class="row row-cols-2 m-0  w-100 h-100">
        <div class="col-md-6 p-0">
            <img src="assets/images/manifesto.png" class="w-100" alt="">
        </div>
        <div class="col-md-6 pt-1 pb-1 pr-2 pl-2 pb-2 p-xl-5">
            <h1 class="display-4 light-letters text-weight-light text-uppercase">The Fab city <br /> Manifesto </h1>
              <div class="h6">
                We embrace strategies in circular economy and
                digital social innovation, and foster collaboration
                between a global network of European and
                worldwide cities and territories to meet the
                planetary challenges presented by climate
                change and social inequalities.
            </div>
            <button type="button" class="d-none d-sm-block btn btn-infill pl-3 pr-3 text-uppercase">Read more</button>
          <button type="button" class="d-block d-sm-none btn btn-infill pl-3 pr-3 text-uppercase">Download the manifesto</button>
        </div>
      </div>

<!-- Fab Lab Foundation -->
<!-- <section class="bg-blue">
  <div class="container">
    <div class="row row-cols-2 spaced-out">
      <div class="col-md-6 pl-sm-2 pl-xl-0">
        <h1 class="display-4 white text-uppercase light-letters pb-3 ">Fab Lab <br/> Foundation</h1>
      </div>
      <div class="col-md-6 pl-sm-2 pl-xl-0 pt-2">
        <div class="h5 white">
          The Fab City Foundation has been established as a legal
          and organizational structure in Estonia to enable the
          location-independent work of the globally distributed
          Fab City community.
        </div>
      </div>
    </div>
    <div class="row row-cols-1 spaced-out">
      <div class="col-md-6 pl-sm-2 pl-xl-0">
        <div class="h4 white pb-3 font-weight-bold">Board Members</div>
      </div>
    </div>
    <div class="row spaced-out row-cols-6">
      {% for item in site.data.collective.members %}
        <div class="col-md-2 pl-0">
          <div class="rounded-0 border-0 text-center">
              <img src="{{ item.img | relative_url }}" alt="{{ item.name }}" class="img-thumbnail rounded-0 p-0 border-0 h-100" style="width:200px;filter:grayscale(100%);">
              <div class="white text-uppercase text-weight-bold pt-3">{{ item.name }}</div>
              <h5 class="small text-muted pt-2">{{ item.position }}</h5>
          </div>
        </div>
    {% endfor %}
  </div>
  </div>
</section> -->
<!-- <div class="borderline dark"></div> -->
<!-- Fab Lab collective -->
<!-- <section class="bg-white">
  <div class="container">
    <div class="row row-cols-2 spaced-out">
      <div class="col-md-6 pl-sm-2 pl-xl-0">
        <h1 class="display-4 d-none d-sm-block text-uppercase pb-3 light-letters ">Fab Lab Collective</h1>
        <h1 class="display-4 d-block d-sm-none text-uppercase pb-3 light-letters ">Fab Lab <br /> Collective</h1>
      </div>
      <div class="col-md-6 pl-sm-2 pl-xl-0">
      </div>
    </div>
    <div class="row row-cols-1 spaced-out">
      <div class="col-md-6 pl-sm-2 pl-xl-0">
        <div class="h4 pb-3 font-weight-bold">Board Members</div>
      </div>
    </div>
    <div class="row spaced-out row-cols-6">
      {% for item in site.data.collective.members %}
        <div class="col-md-2 pl-0">
          <div class="rounded-0 border-0 text-center">
              <img src="{{ item.img | relative_url }}" alt="{{ item.name }}" class="img-thumbnail rounded-0 p-0 border-0 h-100" style="width:200px;filter:grayscale(100%);">
              <div class=" text-uppercase text-weight-bold pt-3">{{ item.name }}</div>
              <h5 class="small text-muted pt-2">{{ item.position }}</h5>
          </div>
        </div>
    {% endfor %}
  </div>
  <div class="mt-3 black text-center">
    <a href="#collective" target="_blank"><button type="button" class="btn pl-4 pr-4 pb-1 pt-1 small bg-white border-1 border-black black rounded-0 text-uppercase">View the collective</button></a>
  </div>
  </div>
</section> -->
<!-- <div class="borderline dark"></div> -->

<!-- ROADMAP -->
<section class="bg-red">
  <div class="container" >
    <div class="row row-cols-2 ml-lg-5 ml-xl-5 mr-lg-5 mr-xl-5">
      <div class="col-md-6">
            <div class="display-4 uppercase white text-uppercase light-letters">Roadmap</div>
      </div>
          <div class="col-md-6 mt-0">
            <div class="mt-2 mb-3 white h5">
              Our Roadmap is unique. Launched in 2011 by the City of
              Barcelona, it is now in constant development thanks to the
              distributed network of cities, individual advocates, NGOs,
              academics and industry partners.
            </div>
          </div>
          <div class="col white d-block d-sm-none">
            <div class="row row-cols-2 spaced-out float-right pr-3">
              <div class="col-3">
                <a class="arrow big clickable align-bottom" onclick="toRight()">&#8249;</a>
              </div>
              <div class="col-3 float-right text-right">
                <a class="arrow big clickable align-bottom" onclick="toLeft()">&#8250;</a>
              </div>
            </div>
          </div>
    </div>
    <div class="row w-100 row-cols-1">
      <div class="col-md-12">
        <div id="timeline" onscroll="scrollPosi()" style="display:inline-block;width:100%;overflow-y:auto;">
					<ul class="timeline timeline-horizontal">
            {% for item in site.data.roadmap.events %}
						<li id="{{ item.number }}" class="timeline-item"> <!-- becomes active -->
              <div class="timeline-badge primary"></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<div id="{{ item.title }}" class="h4 timeline-title white text-weight-bold fat-letters pl-3 pr-3 pb-1">{{ item.year }}</div>
                  <div class="pl-3 pb-1 white"><small>{{ item.location }}</small></div>
									<div class="pl-3 pb-2 mr-5 white text-uppercase text-wrap"><small>{{ item.title }}</small></div>
								</div>
								<div id="{{ item.title }}" class="timeline-body small white high-lines pt-3 mr-5 pl-3 pr-5 hidden">
									<p>{{ item.description }}</p>
								</div>
							</div>
						</li>
            {% endfor %}
					</ul>
        </div>
				</div>
      </div>
      </div>
      <div class="row position-absolute spaced-out white w-100" style="margin-top: -13em">
        <div class="col ml-5">
          <a class="position-absolute arrow big clickable align-middle d-none d-sm-block" onclick="toRight()">&#8249;</a>
        </div>

        <div class="col float-right text-right">
          <a class="arrow big clickable align-middle d-none d-sm-block" onclick="toLeft()">&#8250;</a>
        </div>
    </div>
</section>

<script type="text/javascript">
  function toLeft() {
    var elmnt = document.getElementById("timeline");
    var x = elmnt.scrollLeft;
    var w = elmnt.scrollWidth;
    var c = elmnt.clientWidth;
    var s = (w - c) / 6;
    elmnt.scrollLeft += s;
  }
  function toRight() {
    var elmnt = document.getElementById("timeline");
    var x = elmnt.scrollLeft;
    var w = elmnt.scrollWidth;
    var c = elmnt.clientWidth;
    var s = (w - c) / -6;
    elmnt.scrollLeft += s;
  }
  function scrollPosi() {
    var elmnt = document.getElementById("timeline");
    var x = elmnt.scrollLeft;
    var w = elmnt.scrollWidth;
    var c = elmnt.clientWidth;
    var s = x / ((w - c) / 7);
    switch(true) {
      case (s < 1):
        document.getElementById("0").classList.add("active");
        document.getElementById("1").classList.remove("active");
        break;
      case (s < 2):
        document.getElementById("1").classList.add("active");
        document.getElementById("2").classList.remove("active");
        document.getElementById("0").classList.remove("active");
        break;
      case (s < 3):
        document.getElementById("2").classList.add("active");
        document.getElementById("1").classList.remove("active");
        document.getElementById("3").classList.remove("active");
        break;
      case (s < 4):
        document.getElementById("3").classList.add("active");
        document.getElementById("2").classList.remove("active");
        document.getElementById("4").classList.remove("active");
        break;
      case (s < 5):
        document.getElementById("4").classList.add("active");
        document.getElementById("3").classList.remove("active");
        document.getElementById("5").classList.remove("active");
        break;
      case (s < 6):
        document.getElementById("5").classList.add("active");
        document.getElementById("4").classList.remove("active");
        document.getElementById("6").classList.remove("active");
        break;
      case (s <= 7):
        document.getElementById("6").classList.add("active");
        document.getElementById("5").classList.remove("active");
        break;
      default:
        break;
    }
  }
</script>

<!-- Collaborators -->
<section>
  <div class="container-fluid">
    <div class="row row-cols-1">
      <div class="col-md-12">
        <div class="display-4 light-letters d-none d-sm-block mt-1 mb-3 text-uppercase text-wrap w-100">
          Collaborators
        </div>
        <div class="display-4 light-letters d-block d-sm-none mt-1 mb-1 text-uppercase text-wrap w-100">
          Collabo-<br/>rators
        </div>
      </div>
    </div>
    <div class="row row-cols-xl-7 row-cols-lg-7 row-cols-sm-3 row-cols-xs-3 align-self-center ml-xl-2 mr-xl-2 spaced-out">
      {% for item in site.data.collaborators.logos %}
      <div class="col-md-1dot5">
      <!-- <div class="col-2dot4 col-sm-2dot4 col-md-2dot4 col-lg-2dot4 col-xl-2dot4"> -->
        <a href="{{ item.url }}" target="_blank">
            <img src="{{ item.logo | relative_url }}" class="p-2 align-self-center" style="max-width: 8em; filter:grayscale(100%)" />
        </a>
      </div>
      {% endfor %}
    </div>
    <div class="float-right text-right">
      <a class="arrow smaller pt-5 pr-md-5 pr-md-5 white display-3" href="#">&rarr;</a>
    </div>
  </div>
</section>

<div class="borderline dark"></div>

<!-- MEDIA kit -->
<section class="bg-grey">
  <div class="container-fluid">
    <div class="row row-cols-2 ml-lg-5 ml-xl-5 mr-lg-5 mr-xl-5">
      <div class="col-md-4">
            <div class="display-4 fat-letters">Media Kit</div>
            <div class="mt-2 mb-3 small">
              We have gathered all the necessary assets in case you wanted to write
              something about us. You can download all of them together or just get
              the one you need.
            </div>
            <button type="button" class="d-block d-sm-none btn pr-lg-4 pl-lg-4 small btn-action text-uppercase">Download complete kit</button>
          </div>
        <div class="col-md-8 pt-5">
          <button type="button" class="d-none d-sm-block float-right btn pr-lg-4 pl-lg-4 small btn-action text-uppercase">Download complete kit</button>
        </div>
      </div>
    </div>
</section>

</body>
