---
title: About
layout: home
---


<div class="about-page page-content">
  <div class="landing-hero flex align-content-center">
    <div class="col-sm-12">
      <h1 class="landing-headline text-justify">
        We’re a global initiative</br>
        for productive,</br>
        resilient, open cities.
      </h1>
    </div>
  </div>

  <div class="bg-blue fabcity-p-tb-50">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <p class="fabcity-mb-30 fabcity-font-size-20 text-black text-justify">
            Climate breakdown and social exclusion require us to
            reinvent the fundamental systems we depend upon,
            a task which requires courage, coherence and long-term thinking.
            Humans consume planetary resources at a rate that puts planetary systems at risk.
            We need a deep transformation of how we organise production and consumption in cities.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <img src="assets/images/pages/about/about.jpg" alt="" class="img-fluid fabcity-mb-35 min-width-100">
        </div>
      </div>
    </div>
  </div>

  <div class="with-line-separator">
    <div class="fabcity-p-tb-50 container">
      <div class="row">
        <div class="col-md-12">
          <h3 class="fabcity-mb-25">
            Why a ‘Fab’ City?
          </h3>
          <p class="text-justify fabcity-mb-35">
            The Fab City global initiative builds on the global network of Fab Labs.
            A Fab Lab is a domestic scale fabrication laboratory,
            founded by researchers at MIT in Boston,
            that provides access to the tools and knowledge to ‘make anything’.
            2000 Fab Labs across the globe form a distributed infrastructure and
            global community which supports the global movement of ‘bits’ while
            ‘atoms’ stay local.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h3 class="fabcity-mb-25">
            PITO to DIDO
          </h3>
          <p class="text-justify fabcity-mb-35">
            Fab City builds on the ideals of the Fab Lab such as connectivity,
            culture, glocalism and creativity, and scales it to the City.
            It implements the logic ‘from bits to atoms’ at the urban scale using the model:
            PITO (Product In Trash Out) to DIDO (Data In Data Out).
            We’re building sustainable ecosystems of production and knowledge:
            from the 3D printer at home, to the neighborhood Fab Lab, to a local factory global logistics infrastructure.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <img src="assets/images/pages/about/pito_dido.png" class="img-fluid width-100 fabcity-mt-20" alt="">
        </div>
      </div>

      <div class="row" >
        <div class="col-md-12 text-center fabcity-mt-50">
          <a href="/assets/documents/FabCity_Whitepaper.pdf" target="_blank" class="">
            <button class="fabcity-btn">
              Read the Whitepaper
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="with-line-separator bg-beige">
    <div class="fabcity-p-tb-50 container">
      <div class="row">
        <div class="col-md-12">
          <h3 class="fabcity-mb-25">
            Our Strategic Action Plan
          </h3>
          <p class="text-justify fabcity-mb-35">
            There is no one single approach to enabling a city that thrives on its own resourcefulness and productive capacity. Fab City global initiative recognises
            that each locality is unique in cultural, social and materials resources. The Fab
            City Strategic Action Plan was developed as a framework to guide cities to explore, identify and prototype local productivity that reflects and benefits their own city and corresponding bioregion.
          </p>
        </div>
      </div>

      <div class="row fabcity-mb-30">
        <div class="col-md-12">
          <img src="assets/images/pages/about/bioregion-01.png" alt="" class="img-fluid min-width-100">
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 col-md-6">
          <p class="text-justify fabcity-mb-35">
            The Fab City Foundation hosts guidance sessions and bootcamps to get to know the SAP,
            keep an eye on the events page for more information or subscribe to our newsletter.
          </p>
        </div>
      </div>

      <div class="row" >
        <div class="col-md-12">
          <a href="https://blog.fab.city/" target="_blank" class="fab-city-link">
              Download the guide to the SAP →
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="with-line-separator">
    <div class="fabcity-pt-50 container">

      <div class="row fabcity-mb-50">
        <div class="col-md-12">
          <p class="fabcity-mb-50 text-black text-justify">
            Fab City started as a challenge for a city to produce
            (almost) everything it consumes.
            The provocation has grown into a global movement,
            which is facilitated by the Fab City Foundation,
            a Network of cities and a Collective of experts.
          </p>
          <h3 class="fabcity-mb-25">
            The Fab City Network
          </h3>
          <p class="text-justify fabcity-mb-35">
            At the core of the Fab City initiative, is a global network of cities,
            regions and localities who work towards resiliency through situated prototypes of
            productive cities that respond to the local context.
            Each local effort comprises city leaders, Fab Labs and civic organisations who collaborate in their territories,
            and at distance with the network through annual programming.
            The Network members have pledged to join the challenge at our yearly Summit.
          </p>
        </div>
        <div class="col-md-6">
          <a href="/network.html" class="">
            <button class="fabcity-btn secondary">
              Meet the Network →
            </button>
          </a>
        </div>
        <div class="col-md-6">
          <a href="https://form.typeform.com/to/Fo8Sbf" class="">
            <button class="fabcity-btn secondary">
              Join the Network →
            </button>
          </a>
        </div>
      </div>

      <div class="row fabcity-mb-50">
        <div class="col-md-12">
          <h3 class="fabcity-mb-25">
            The Fab City Collective
          </h3>
          <p class="text-justify fabcity-mb-35">
            Urbanists, designers, makers, innovators, artists, developers, engineers,
            and other professionals and enthusiasts around the world who steward the ideas
            of Fab City within their own work and likeminded organisations. Members of the
            Collective support Fab City projects at the local level and contribute to knowledge
            transfer across the global initiative.
          </p>
          <p class="text-justify fabcity-mb-35">
            The Collective is dynamic and self-organised,
            it is not fixed by membership and can be open to new collaborators.
            It is not currently possible to join the Collective.
          </p>
        </div>
        <div class="col-md-12">
          <a href="/collective.html" class="">
            <button class="fabcity-btn secondary">
              Meet the Collective →
            </button>
          </a>
        </div>
      </div>

      <div class="row fabcity-mb-50">
        <div class="col-md-12">
          <h3 class="fabcity-mb-25">
            Fab City Foundation
          </h3>
          <p class="text-justify fabcity-mb-35">
            Established in 2018, the Fab City Foundation supports the global initiative through
            the development of projects and educational programs that are focused on building the
            capacity of cities and their communities. Based in e-Estonia,
            the Foundation is location independent and supports distributed programs as well as projects in both hemispheres.
          </p>
        </div>
        <div class="col-md-12">
          <a href="/the-foundation.html" class="">
            <button class="fabcity-btn secondary">
              About the Foundation →
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-red container-fluid">
    <div class="row fabcity-p-tb-50">
      <h2 class="col-md-6">
        Roadmap
      </h2>
      <div class="col-md-6">
        <p>
          Our Roadmap is unique.
          Launched in 2011 by the City of Barcelona, it is now in constant development thanks to the distributed network of cities,
          individual advocates, NGOs, academics and industry partners.
        </p>
      </div>
    </div>

    <div class="width-100 position-relative">
      <div id="roadmap-component" class="roadmap-component timeline-component overflow-x-hidden">
        <ul class="timeline-container width-100 align-items-start">
          {% assign events = site.data.roadmap.events | sort: "year" %}
          {% for item in events %}
          <li class="timelime-item flex-column">
            <div class="timeline-dot"></div>
            <div class="timeline-item-header fabcity-mb-20">
              {{item.year}} – {{item.location}}
            </div>
            <h4 class="timelime-item-title fabcity-mb-20">
              {{item.title}}
            </h4>
            <div class="timelime-item-description">
              {{item.description}}
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>

      <div class="timeline-control back" onclick="toRight()">
        <div class="arrow arrow-left"></div>
      </div>
      <div class="timeline-control next" onclick="toLeft()">
        <div class="arrow arrow-right"></div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  {% assign events = site.data.roadmap.events | sort: "year" %}

  function toLeft() {
    let elmnt = document.getElementById("roadmap-component");
    let x = elmnt.scrollLeft;
    let w = elmnt.scrollWidth;
    let c = elmnt.clientWidth;
    let s = (w - c) / {{ events.last.number }};
    elmnt.scrollLeft += 320;
  }

  function toRight() {
    let elmnt = document.getElementById("roadmap-component");
    let x = elmnt.scrollLeft;
    let w = elmnt.scrollWidth;
    let c = elmnt.clientWidth;
    let s = (w - c) / {{ events.last.number | prepend: "-" }};
    elmnt.scrollLeft -= 320;
  }

  function scrollPosi() {
    let elmnt = document.getElementById("roadmap-component");
    let x = elmnt.scrollLeft;
    let w = elmnt.scrollWidth;
    let c = elmnt.clientWidth;
    let s = x / ((w - c) / {{ events.last.number | plus: 1 }});


    switch(true) {
    {% assign events2 = site.data.roadmap.events | sort: "year" | reverse %}
    {% for item in events2 %}
      // case (s < {{ item.number | plus: 1 }}):
      //   document.getElementById("{{ item.number }}").classList.add("active");
      //   document.getElementById("{{ item.number | plus: 1 | at_most: events.count }}").classList.remove("active");
      //   document.getElementById("{{ item.number | minus: 1 | at_least: 0 }}").classList.remove("active");
      //   break;
    {% endfor %}
      default:
        break;
    }
  }
</script>
