---
layout: default
title: About Us
---

<body>
  <div class="borderline dark"></div>
<!-- First Section -->
  <section style="background-image: radial-gradient(rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.6) 80%), url('{{ 'assets/images/fab-group-photo.png' | relative_url }}'); background-size: cover; background-position:center;">
      <br />
      <div class="container-fluid white">
        <div class="row row-cols-2 spaced-out mr-xl-4">
          <div class="col-md-5">
            <div class="display-4 uppercase pl-xl-4 ml-xl-4 ">
              <!-- About <br/> Fab City -->
            </div>
          </div>
          <div class="col-md-6 ml-xl-4 mr-xl-4">
            <div class="my-4">
              <div class="placeholder" style="height:300px">
              </div>
            </div>
          </div>
          </div>
          <div class="row d-flex flex-colums row-cols-4 pt-3 pl-xl-5 pl-lg-5 pr-xl-5 pr-lg-5 pb-3">
            <div class="col-md-5">
              <div class="display-4 text-uppercase">
                About Fab City
              </div>
              <div class="h5">
                A global collaboration with a distributed network
                of cities prototypes local approaches to meet the
                challenge of producing everything the city
                consumes by 2054.
              </div>
              <!-- <button type="button" class="btn pr-lg-4 pl-lg-4 small btn-white rounded-0 pr-3 pl-3 pt-1 pb-1">See more</button> -->
            </div>
          </div>
        </div>
</section>
<section class="bg-grey">
  <div class="container-fluid">
    <div class="row row-cols-2">
      <div class="col-md-6">
        <div class="h5">
        It is a new urban model of transforming and
        shaping cities that shifts how they source and use
        materials from ‘Products In Trash Out’ (PITO) to
        ‘Data In Data Out’ (DIDO).
        </div>
      </div>
      <div class="col-md-6">
        <div class="h5">
        The Fab City takes the ideals of the Fab Lab such as
        the connectivity, culture, glocalism and creativity
        and scales it to the City.
        </div>
      </div>
    </div>
  </div>
</section>
<!-- background img -->
<!-- <section class="p-5" style="background-image: radial-gradient(rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.6) 80%), url('{{ 'assets/images/fab-group-photo.png' | relative_url }}'); background-size: cover; background-position:center;">
  <div class="p-5" style="height:600px;">
  </div>
</section> -->

<!-- Fab Lab Foundation -->
<section class="bg-blue">
  <div class="container">
    <div class="row row-cols-2 spaced-out">
      <div class="col-md-6 pl-0">
        <h1 class="display-4 white uppercase pb-3">Fab city <br/> Foundation</h1>
      </div>
      <div class="col-md-6">
        <div class="h5 white">
          The Fab City Foundation has been established as a legal
          and organizational structure in Estonia to enable the
          location-independent work of the globally distributed
          Fab City community.
        </div>
      </div>
    </div>
    <div class="row row-cols-1 spaced-out">
      <div class="col-md-6 pl-0">
        <div class="h4 white pb-3 font-weight-bold">Board Members</div>
      </div>
    </div>
    <div class="row spaced-out row-cols-6">
      {% for item in site.data.collective.members %}
        <div class="col-md-2 pl-0">
          <div class="rounded-0 border-0 text-center">
              <img src="{{ item.img }}" alt="{{ item.name }}" class="img-thumbnail rounded-0 p-0 border-0 h-100" style="width:200px;filter:grayscale(100%);">
              <div class="white text-uppercase text-weight-bold pt-3">{{ item.name }}</div>
              <h5 class="small text-muted pt-2">{{ item.position }}</h5>
          </div>
        </div>
    {% endfor %}
  </div>
  </div>
</section>
<!-- <div class="borderline dark"></div> -->

<!-- ROADMAP -->
<section class="bg-red">
  <div class="container-fluid">
    <div class="row row-cols-2 ml-lg-5 ml-xl-5 mr-lg-5 mr-xl-5">
      <div class="col-md-6">
            <div class="display-4 uppercase white text-uppercase">Roadmap</div>
      </div>

          <div class="col-md-6 mt-0">
            <div class="mt-2 mb-3 white h5">
              Our Roadmap is unique. Launched in 2011 by the City of
              Barcelona, it is now in constant development thanks to the
              distributed network of cities, individual advocates, NGOs,
              academics and industry partners.
            </div>
          </div>
          <div class="col white d-block d-sm-none">
            <div class="row row-cols-2 spaced-out float-right pr-3">
              <div class="col-3">
                <a class="arrow big clickable align-bottom" onclick="toRight()">&#8249;</a>
              </div>
              <div class="col-3 float-right text-right">
                <a class="arrow big clickable align-bottom" onclick="toLeft()">&#8250;</a>
              </div>
            </div>
          </div>
    </div>
    <div class="row w-100 row-cols-1">
      <div class="col-md-12">
        <div id="timeline" onscroll="scrollPosi()" style="display:inline-block;width:100%;overflow-y:auto;">
					<ul class="timeline timeline-horizontal">
            {% for item in site.data.roadmap.events %}
						<li id="{{ item.number }}" class="timeline-item"> <!-- becomes active -->
              <div class="timeline-badge primary"></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<div id="{{ item.title }}" class="h4 timeline-title white text-weight-bold fat-letters pl-3 pr-3 pb-1">{{ item.year }}</div>
                  <div class="pl-3 pb-1 white"><small>{{ item.location }}</small></div>
									<div class="pl-3 pb-2 mr-5 white text-uppercase text-wrap"><small>{{ item.title }}</small></div>
								</div>
								<div id="{{ item.title }}" class="timeline-body small white high-lines pt-3 mr-5 pl-3 pr-5 hidden">
									<p>{{ item.description }}</p>
								</div>
							</div>
						</li>
            {% endfor %}
					</ul>
        </div>
				</div>
        <!-- <div class="row w-100 row-cols-2 ml-0 p-3 ml-lg-5 ml-xl-5 mr-lg-5 mr-xl-5 d-flex justify-content-around">
          <div class="col-md-6 col-xs-1 col">
            <a class="arrow black big clickable" onclick="toRight()">&larr;</a>
          </div>
          <div class="col-md-6 col-xs-1 col float-right text-right">
            <a class="arrow black big clickable" onclick="toLeft()">&rarr;</a>
          </div>
        </div> -->
      </div>
    </div>
</section>

<script type="text/javascript">
  function toLeft() {
    var elmnt = document.getElementById("timeline");
    var x = elmnt.scrollLeft;
    var w = elmnt.scrollWidth;
    var c = elmnt.clientWidth;
    var s = (w - c) / 6 ;
    elmnt.scrollLeft += s;
  }
  function toRight() {
    var elmnt = document.getElementById("timeline");
    var x = elmnt.scrollLeft;
    var w = elmnt.scrollWidth;
    var c = elmnt.clientWidth;
    var s = (w - c) / -7;
    elmnt.scrollLeft += s;
  }
  function scrollPosi() {
    var elmnt = document.getElementById("timeline");
    var x = elmnt.scrollLeft;
    var w = elmnt.scrollWidth;
    var c = elmnt.clientWidth;
    var s = x / ((w - c) / 7);
    switch(true) {
      case (s < 1):
        document.getElementById("0").classList.add("active");
        document.getElementById("1").classList.remove("active");
        break;
      case (s < 2):
        document.getElementById("1").classList.add("active");
        document.getElementById("2").classList.remove("active");
        document.getElementById("0").classList.remove("active");
        break;
      case (s < 3):
        document.getElementById("2").classList.add("active");
        document.getElementById("1").classList.remove("active");
        document.getElementById("3").classList.remove("active");
        break;
      case (s < 4):
        document.getElementById("3").classList.add("active");
        document.getElementById("2").classList.remove("active");
        document.getElementById("4").classList.remove("active");
        break;
      case (s < 5):
        document.getElementById("4").classList.add("active");
        document.getElementById("3").classList.remove("active");
        document.getElementById("5").classList.remove("active");
        break;
      case (s < 6):
        document.getElementById("5").classList.add("active");
        document.getElementById("4").classList.remove("active");
        document.getElementById("6").classList.remove("active");
        break;
      case (s <= 7):
        document.getElementById("6").classList.add("active");
        document.getElementById("5").classList.remove("active");
        break;
      default:
        break;
    }
  }
</script>

<!-- Collaborators -->
<section>
  <div class="container-fluid">
    <div class="row row-cols-1">
      <div class="col-md-12 text-center">
        <div class="display-4 mt-1 mb-1 text-uppercase text-wrap w-100 text-truncate">
          Collaborators
        </div>
      </div>
    </div>
    <div class="row row-cols-6 align-self-center ml-xl-5 mr-xl-5 spaced-out">
      {% for item in site.data.collaborators.logos %}
      <div class="col-md-1dot5">
      <!-- <div class="col-2dot4 col-sm-2dot4 col-md-2dot4 col-lg-2dot4 col-xl-2dot4"> -->
        <a href="{{ item.url }}" target="_blank">
            <img src="{{ item.logo }}" class="p-3 align-self-center" style="max-width: 8em; filter:grayscale(100%)" />
        </a>
      </div>
      {% endfor %}
    </div>
    <div class="float-right text-right">
      <a class="arrow smaller pt-5 pr-md-5 pr-md-5 white display-3" href="#">&rarr;</a>
    </div>
  </div>
</section>
<!-- MEDIA kit -->
<section class="bg-red">
  <div class="container-fluid">
    <div class="row row-cols-2 ml-lg-5 ml-xl-5 mr-lg-5 mr-xl-5">
      <div class="col-md-6">
            <div class="display-4 uppercase ">Media Kit</div>
          </div>
          <div class="col-md-6 mt-0">
            <div class="mt-2 mb-3 small white">
              Fab City members, cities, regions and countries, agree to commit efforts and
              resources in order to achieve the 2054 challenge for cities to produce at least
              50% of the energy, food and products they consume.
            </div>
            <button type="button" class="float-right btn pr-lg-4 pl-lg-4 small btn-action">Download All</button>
          </div>
        </div>
        <div class="row ml-lg-5 pt-3 ml-xl-5 mr-lg-5 mr-xl-5 d-flex justify-content-between">
          {% for item in site.data.media-kit.photos %}
          <div class="col-md-3 m-2 " style="background-image: radial-gradient(rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.5) 80%), url({{ item.img }}); background-size: cover; background-position:center; height:300px;">
          </div>
          {% endfor %}
        </div>
    </div>

</section>


</body>


<!-- Take Action Modal -->
<div class="modal fade" id="take-action" tabindex="-1" role="dialog" aria-labelledby="take-action" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header con">
        <h5 class="modal-title h2 text-white uppercase" id="take-action">Take Action</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="dismiss-modal text-white" aria-hidden="true">&times;</span>
        </button>
        <div class="borderline"></div>
      </div>
      <div class="pt-3 pb-3 fat-letters text-white">
        Do you want to take part on this? become a member on the Fab City <br/> Network.
        <br />
        <br />
        First, let us know how you are:
      </div>
      <div class="pt-3 pb-3 spaced-out">
        <button type="button" class="btn pr-lg-4 pl-lg-4 small btn-action">I'm a City</button>
        <button type="button" class="btn pr-lg-4 pl-lg-4 small btn-action">I'm a person</button>
        <button type="button" class="btn pr-lg-4 pl-lg-4 small btn-action">I'm a government</button>
      </div>
    </div>
  </div>
</div>
