---
title: About
layout: home
---

  <div style="background-image: radial-gradient(rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.6) 80%), url('{{ 'assets/images/fab-group-photo.png' | relative_url }}'); background-size: cover; background-position:center;">
    {% include navbar.html %}
      <div class="container-fluid white">
        <div class="row row-cols-2 spaced-out mr-xl-4">
          <div class="col-md-6 ml-xl-4 mr-xl-4">
            <div class="my-4">
              <div class="placeholder" style="height:300px">
              </div>
            </div>
          </div>
          </div>
          <div class="row d-flex flex-colums row-cols-4 pt-3 pl-xl-5 pl-lg-5 pr-xl-5 pr-lg-5 pb-3">
            <div class="col-md-5">
              <div class="display-4 text-uppercase light-letters">
                About Fab City
              </div>
              <div class="h5">
                A global collaboration with a distributed network
                of cities prototypes local approaches to meet the
                challenge of producing everything the city
                consumes by 2054.
              </div>
              <!-- <button type="button" class="btn pr-lg-4 pl-lg-4 small btn-white rounded-0 pr-3 pl-3 pt-1 pb-1">See more</button> -->
            </div>
          </div>
        </div>
</div>
<body>

<section class="bg-grey">
  <div class="container-fluid">
    <div class="row row-cols-2">
      <div class="col-md-6">
        <div class="h5">
          {{ site.data.datainout.left-section }}
        </div>
      </div>
      <div class="col-md-6">
        <div class="h5">
        {{ site.data.datainout.right-section }}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- background img -->
<!-- <section class="p-5" style="background-image: radial-gradient(rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.6) 80%), url('{{ 'assets/images/fab-group-photo.png' | relative_url }}'); background-size: cover; background-position:center;">
  <div class="p-5" style="height:600px;">
  </div>
</section> -->

<!-- Fab Lab Network -->
<section class="bg-green">
  <div class="container">
    <div class="row row-cols-2 spaced-out">
      <div class="col-md-6 pl-sm-2 pl-xl-0">
        <h1 class="display-4 white text-uppercase light-letters pb-3 ">{{ site.data.about-network.title }}</h1>
      </div>
      <div class="col-md-6 pl-sm-2 pl-xl-0 pt-2">
        <!-- <div class="h5 white">
          {{ site.data.foundation.subtitle }}
        </div> -->
      </div>
    </div>
    <div class="row row-cols-1 spaced-out">
      <div class="col-md-6 pl-sm-2 pl-xl-0">
        <div class="h4 white pb-3 font-weight-bold">{{ site.data.about-network.text }}</div>
      </div>
      <a class="btn pr-lg-4 pl-lg-4 small btn-action text-uppercase" href="/network.html">Go the Network</a>
    </div>
    <a class="btn m-0 pr-lg-4 pl-lg-4 small btn-action text-uppercase" href="/network.html">Go the Network</a>
    <!-- <div class="row spaced-out row-cols-6">
      {% for item in site.data.collective.members %}
        <div class="col-md-2 pl-0">
          <div class="rounded-0 border-0 text-center">
              <img src="{{ item.img | relative_url }}" alt="{{ item.name }}" class="img-thumbnail rounded-0 p-0 border-0 h-100" style="width:200px;filter:grayscale(100%);">
              <div class="white text-uppercase text-weight-bold pt-3">{{ item.name }}</div>
              <h5 class="small text-muted pt-2">{{ item.position }}</h5>
          </div>
        </div>
    {% endfor %}
  </div> -->
  </div>
</section>
<div class="borderline dark"></div>

<!-- Fab Lab Foundation -->
<section class="bg-blue">
  <div class="container">
    <div class="row row-cols-2 spaced-out">
      <div class="col-md-6 pl-sm-2 pl-xl-0">
        <h1 class="display-4 white text-uppercase light-letters pb-3 ">{{ site.data.foundation.title }}</h1>
      </div>
      <div class="col-md-6 pl-sm-2 pl-xl-0 pt-2">
        <!-- <div class="h5 white">
          {{ site.data.foundation.subtitle }}
        </div> -->
      </div>
    </div>
    <div class="row row-cols-1 spaced-out">
      <div class="col-md-6 pl-sm-2 pl-xl-0">
        <div class="h4 white pb-3 font-weight-bold">{{ site.data.foundation.text }}</div>
      </div>
    </div>
    <!-- <div class="row spaced-out row-cols-6">
      {% for item in site.data.collective.members %}
        <div class="col-md-2 pl-0">
          <div class="rounded-0 border-0 text-center">
              <img src="{{ item.img | relative_url }}" alt="{{ item.name }}" class="img-thumbnail rounded-0 p-0 border-0 h-100" style="width:200px;filter:grayscale(100%);">
              <div class="white text-uppercase text-weight-bold pt-3">{{ item.name }}</div>
              <h5 class="small text-muted pt-2">{{ item.position }}</h5>
          </div>
        </div>
    {% endfor %}
  </div> -->
  </div>
</section>
<!-- <div class="borderline dark"></div> -->
<!-- Fab Lab collective -->
<section class="bg-white">
  <div class="container">
    <div class="row row-cols-2 spaced-out">
      <div class="col-md-6 pl-sm-2 pl-xl-0">
        <h1 class="display-4 d-none d-sm-block text-uppercase pb-3 light-letters ">Fab City Collective</h1>
        <h1 class="display-4 d-block d-sm-none text-uppercase pb-3 light-letters ">Fab City <br /> Collective</h1>
      </div>
      <div class="col-md-6 pl-sm-2 pl-xl-0">
      </div>
    </div>
    <div class="row row-cols-1 spaced-out">
      <div class="col-md-6 pl-sm-2 pl-xl-0">
        <div class="h4 pb-3 font-weight-bold">{{ site.data.collective.text }}</div>
      </div>
    </div>
    <!-- <div class="row spaced-out row-cols-6">
      {% for item in site.data.collective.members %}
        <div class="col-md-2 pl-0">
          <div class="rounded-0 border-0 text-center">
              <img src="{{ item.img | relative_url }}" alt="{{ item.name }}" class="img-thumbnail rounded-0 p-0 border-0 h-100" style="width:200px;filter:grayscale(100%);">
              <div class=" text-uppercase text-weight-bold pt-3">{{ item.name }}</div>
              <h5 class="small text-muted pt-2">{{ item.position }}</h5>
          </div>
        </div>
    {% endfor %}
  </div> -->
  <!-- <div class="mt-3 black text-center">
    <a href="#collective" target="_blank"><button type="button" class="btn pl-4 pr-4 pb-1 pt-1 small bg-white border-1 border-black black rounded-0 text-uppercase">View the collective</button></a>
  </div> -->
  </div>
</section>
<div class="borderline dark"></div>

<!-- ROADMAP -->
<section class="bg-red">
  <div class="container" >
    <div class="row row-cols-2 ml-lg-5 ml-xl-5 mr-lg-5 mr-xl-5">
      <div class="col-md-6">
            <div class="display-4 uppercase white text-uppercase light-letters">{{ site.data.roadmap.title }}</div>
      </div>
          <div class="col-md-6 mt-0">
            <div class="mt-2 mb-3 white h5">
              {{ site.data.roadmap.subtitle }}
            </div>
          </div>
          <div class="col white d-block d-sm-none">
            <div class="row row-cols-2 spaced-out float-right pr-3">
              <div class="col-3">
                <a class="arrow big clickable align-bottom" onclick="toRight()">&#8249;</a>
              </div>
              <div class="col-3 float-right text-right">
                <a class="arrow big clickable align-bottom" onclick="toLeft()">&#8250;</a>
              </div>
            </div>
          </div>
    </div>
    <div class="row w-100 row-cols-1">
      <div class="col-md-12">
        <div id="timeline" onscroll="scrollPosi()" style="display:inline-block;width:100%;overflow-y:auto;">
					<ul class="timeline timeline-horizontal">
            {% assign events = site.data.roadmap.events | sort: "year" | reverse %}
            {% for item in events %}
						<li id="{{ item.number }}" class="timeline-item"> <!-- becomes active -->
              <div class="timeline-badge primary"></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<div id="{{ item.title }}" class="h4 timeline-title white text-weight-bold fat-letters pl-3 pr-3 pb-1">{{ item.year }}</div>
                  <div class="pl-3 pb-1 white"><small>{{ item.location }}</small></div>
									<div class="pl-3 pb-2 mr-5 white text-uppercase text-wrap"><small>{{ item.title }}</small></div>
								</div>
								<div id="{{ item.title }}" class="timeline-body small white high-lines pt-3 mr-5 pl-3 pr-5 hidden">
									<p>{{ item.description }}</p>
								</div>
							</div>
						</li>
            {% endfor %}
					</ul>
        </div>
				</div>
      </div>
      </div>
      <div class="row position-absolute spaced-out white w-100" style="margin-top: -13em">
        <div class="col ml-5">
          <a class="position-absolute arrow big clickable align-middle d-none d-sm-block" onclick="toRight()">&#8249;</a>
        </div>

        <div class="col float-right text-right">
          <a class="arrow big clickable align-middle d-none d-sm-block" onclick="toLeft()">&#8250;</a>
        </div>
    </div>
</section>

<script type="text/javascript">
  {% assign events = site.data.roadmap.events | sort: "year" %}

  function toLeft() {
    var elmnt = document.getElementById("timeline");
    var x = elmnt.scrollLeft;
    var w = elmnt.scrollWidth;
    var c = elmnt.clientWidth;
    var s = (w - c) / {{ events.last.number }};
    elmnt.scrollLeft += s;
  }
  function toRight() {
    var elmnt = document.getElementById("timeline");
    var x = elmnt.scrollLeft;
    var w = elmnt.scrollWidth;
    var c = elmnt.clientWidth;
    var s = (w - c) / {{ events.last.number | prepend: "-" }};
    elmnt.scrollLeft += s;
  }
  function scrollPosi() {
    var elmnt = document.getElementById("timeline");
    var x = elmnt.scrollLeft;
    var w = elmnt.scrollWidth;
    var c = elmnt.clientWidth;
    var s = x / ((w - c) / {{ events.last.number | plus: 1 }});


    switch(true) {
    {% assign events2 = site.data.roadmap.events | sort: "year" | reverse %}
    {% for item in events2 %}
      // case (s < {{ item.number | plus: 1 }}):
      //   document.getElementById("{{ item.number }}").classList.add("active");
      //   document.getElementById("{{ item.number | plus: 1 | at_most: events.count }}").classList.remove("active");
      //   document.getElementById("{{ item.number | minus: 1 | at_least: 0 }}").classList.remove("active");
      //   break;
    {% endfor %}
      default:
        break;
    }
  }
</script>

<!-- Collaborators -->
<section>
  <div class="container-fluid">
    <div class="row row-cols-1">
      <div class="col-md-12">
        <div class="display-4 light-letters d-none d-sm-block mt-1 mb-3 text-uppercase text-wrap w-100">
          Collaborators
        </div>
        <div class="display-4 light-letters d-block d-sm-none mt-1 mb-1 text-uppercase text-wrap w-100">
          Collabo-<br/>rators
        </div>
      </div>
    </div>
    <div class="row row-cols-xl-7 row-cols-lg-7 row-cols-sm-3 row-cols-xs-3 align-self-center ml-xl-2 mr-xl-2 spaced-out">
      {% for item in site.data.collaborators.logos %}
      <div class="col-md-1dot5">
      <!-- <div class="col-2dot4 col-sm-2dot4 col-md-2dot4 col-lg-2dot4 col-xl-2dot4"> -->
        <a href="{{ item.url }}" target="_blank">
            <img src="{{ item.logo | relative_url }}" class="p-2 align-self-center" style="max-width: 8em; filter:grayscale(100%)" />
        </a>
      </div>
      {% endfor %}
    </div>
    <div class="float-right text-right">
      <a class="arrow smaller pt-5 pr-md-5 pr-md-5 white display-3" href="#">&rarr;</a>
    </div>
  </div>
</section>

<!-- Manifesto -->
<div class="borderline dark d-none d-sm-block"></div>
      <div class="row row-cols-2 m-0  w-100 h-100">
        <div class="col-md-6 p-0">
            <img src="assets/images/manifesto.png" class="w-100" alt="">
        </div>
        <div class="col-md-6 pt-1 pb-1 pr-2 pl-2 pb-2 p-xl-5">
            <h1 class="display-4 light-letters text-weight-light text-uppercase">{{ site.data.manifesto.title }}</h1>
              <div class="h6">
                {{ site.data.manifesto.subtitle }}
            </div>
            <a href="{{ site.data.manifesto.readmore-link }}"><button type="button" class="d-none d-sm-block btn btn-infill pl-3 pr-3 text-uppercase">Read more</button></a>
          <a href="{{ site.data.manifesto.download-link }}"><button type="button" class="d-block d-sm-none btn btn-infill pl-3 pr-3 text-uppercase">Download the manifesto</button></a>
        </div>
      </div>

<div class="borderline dark"></div>

<!-- MEDIA kit -->
<section class="bg-grey">
  <div class="container-fluid">
    <div class="row row-cols-2 ml-lg-5 ml-xl-5 mr-lg-5 mr-xl-5">
      <div class="col-md-4">
            <div class="display-4 fat-letters">Media Kit</div>
            <div class="mt-2 mb-3 small">
              {{ site.data.media-kit.text }}
            </div>
            <a class="d-block d-sm-none btn pr-lg-4 pl-lg-4 small btn-action text-uppercase" href="{{ site.data.media-kit.download-link }}">View the complete kit</a>
          </div>
        <div class="col-md-8 pt-5">
          <a class="d-none d-sm-block float-right btn pr-lg-4 pl-lg-4 small btn-action text-uppercase" href="{{ site.data.media-kit.download-link }}">View the complete kit</a>
        </div>
      </div>
    </div>
</section>

</body>
