---
layout: default
title: About Us
---

<body>
  <div class="borderline dark"></div>
<!-- First Section -->
  <section class="bg-black">
      <br />
      <div class="container-fluid white">
        <div class="row row-cols-2 spaced-out">
          <div class="col-md-5">
            <div class="display-4 uppercase pl-4 ml-4 ">About <br/> Fab City</div>
          </div>
          <div class="col-md-6 ml-4 mr-4">
            <div class="my-4">
              Fab City Global Initiative is a collective of civic leaders, makers, urbanists and innovators <br />
              working on shifting the industrial urban paradigm to one that better supports life on Earth. A<br />
              global collaboration with a distributed network of cities prototypes local approaches to meet<br />
              the challenge of producing everything the city consumes by 2054.<br />
            </div>
            <div class="my-4">
              FAb City takes the ideals of the Fab Lab - the connectivity, culture and creativity - and scales <br />
              it to the City. It is a new urban model of transforming and shaping cities that shifts how they<br />
              source and use materials from ‘Products In Trash Out’ (PITO) to ‘Data In Data Out’ (DIDO).<br />
            </div>
          </div>
          </div>

          <div class="row row-cols-2 pl-xl-5 pl-lg-5 pr-xl-5 pr-lg-5">
            <div class="col ml-3 mr-3 border-white border-bottom"></div>
          </div>
          <div class="row d-flex flex-colums row-cols-4 pt-3 pl-xl-5 pl-lg-5 pr-xl-5 pr-lg-5 pb-3">
            <div class="col-md-5">
              <div class="font-weight-bold medium h4">
                The Manifesto
              </div>
              <div class="my-4">
                We embrace strategies in circular economy and digital social <br />
                innovation, and foster collaboration between a global network of <br />
                European and worldwide cities and territories to meet the planetary <br />
                challenges presented by climate change and social inequalities. <br />
              </div>
              <button type="button" class="btn pr-lg-4 pl-lg-4 small btn-white rounded-0 pr-3 pl-3 pt-1 pb-1">See more</button>
            </div>
            <div class="col-md-2">
              <div class="my-3 smaller text-uppercase">Ecological</div>
              <div class="my-3 smaller text-uppercase">Inclusive</div>
              <div class="my-3 smaller text-uppercase">Glocalism</div>
              <div class="my-3 smaller text-uppercase">Locally<br /> Prodcutive</div>
            </div>
            <div class="col-md-2">
              <div class="my-3 smaller text-uppercase">PARTICIPATORY</div>
              <div class="my-3 smaller text-uppercase">Economic growth <br />& Employment</div>
              <div class="my-3 smaller text-uppercase">People-Centered</div>
              <div class="my-3 smaller text-uppercase">Holistic</div>
            </div>
            <div class="col-md-2">
              <div class="my-3 smaller text-uppercase">Open Source <br /> Philosophy</div>
              <div class="my-3 smaller text-uppercase">Experimental</div>
            </div>

          </div>
          <div class="row row-cols-2 pl-xl-5 pl-lg-5 pr-xl-5 pr-lg-5">
            <div class="col ml-3 mr-3 border-white border-bottom"></div>
          </div>

        </div>
</section>

<!-- background img -->
<section class="p-5" style="background-image: radial-gradient(rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.6) 80%), url('{{ 'assets/images/fab-group-photo.png' | relative_url }}'); background-size: cover; background-position:center;">
  <div class="p-5" style="height:600px;">
  </div>
</section>

<!-- Collective -->
<section class="bg-blue">
  <div class="container">
    <div class="row row-cols-1 spaced-out">
    <h1 class="display-4 white uppercase pb-3">Fab city <br/> Collective</h1>
    </div>
    <div class="row spaced-out row-cols-6">
      {% for item in site.data.collective.members %}
        <div class="col-md-2 pl-0">
          <div class="rounded-0 border-0 text-center">
              <img src="{{ item.img }}" alt="{{ item.name }}" class="img-thumbnail rounded-0 p-0 border-0 h-100" style="width:200px;filter:grayscale(100%);">
              <div class="white text-uppercase text-weight-bold pt-3">{{ item.name }}</div>
              <h5 class="small text-muted pt-2">{{ item.position }}</h5>
          </div>
        </div>
    {% endfor %}
  </div>
  </div>
</section>
<!-- <div class="borderline dark"></div> -->

<!-- ROADMAP -->
<section class="bg-grey">
  <div class="container-fluid">
    <div class="row row-cols-2 ml-lg-5 ml-xl-5 mr-lg-5 mr-xl-5">
      <div class="col-md-6">
            <div class="display-4 uppercase ">Roadmap</div>
          </div>
          <div class="col-md-6 mt-0">
            <div class="mt-2 mb-3">
              Our Roadmap is unique. Launched in 2011 by the City of Barcelona, it is now in constant <br />
              development thanks to the distributed network of cities, individual advocates, NGOs, <br />
              academics and industry partners. We employ a collective approach of ‘learning-by-doing’ <br />
              to constantly prototype, experiment, succeed and fail in our quest to produce everything <br />
              we consume by 2054.
            </div>
          </div>
    </div>
    <div class="row w-100 row-cols-1">
      <div class="col-md-12">
        <div id="timeline" class="fadeinout" onscroll="scrollPosi()" style="display:inline-block;width:100%;overflow-y:auto;">
					<ul class="timeline timeline-horizontal">
            {% for item in site.data.roadmap.events %}
						<li id="{{ item.number }}" class="timeline-item"> <!-- becomes active -->
              <div class="timeline-badge primary"></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<div id="{{ item.title }}" class="h4 timeline-title text-weight-bold fat-letters pl-3 pr-3 pb-1">{{ item.year }}</div>
                  <div class="pl-3 pb-1"><small>{{ item.location }}</small></div>
									<div class="pl-3 pb-2 mr-5 text-uppercase text-wrap"><small>{{ item.title }}</small></div>
								</div>
								<div id="{{ item.title }}" class="timeline-body small mr-5 pl-3 pr-5 hidden">
									<p>{{ item.description }}</p>
								</div>
							</div>
						</li>
            {% endfor %}
					</ul>
        </div>
				</div>
      </div>
				</div>
        <p id="demo"></p>
        <p id="width"></p>
        <p id="client"></p>
        <p id="section"></p>
  </section>

<script type="text/javascript">
  function scrollPosi() {
    var elmnt = document.getElementById("timeline");
    var x = elmnt.scrollLeft;
    var w = elmnt.scrollWidth;
    var c = elmnt.clientWidth;
    var s = x / ((w - c) / 7);
    // document.getElementById ("demo").innerHTML = "Horizontally: " + x + "px";
    // document.getElementById ("width").innerHTML = "width: " + w + "px";
    // document.getElementById ("section").innerHTML = "section: " + s + "px";
    // document.getElementById ("client").innerHTML = "client: " + c + "px";
    switch(true) {
      case (s < 1):
        document.getElementById("0").classList.add("active");
        document.getElementById("1").classList.remove("active");
        break;
      case (s < 2):
        document.getElementById("1").classList.add("active");
        document.getElementById("2").classList.remove("active");
        document.getElementById("0").classList.remove("active");
        break;
      case (s < 3):
        document.getElementById("2").classList.add("active");
        document.getElementById("1").classList.remove("active");
        document.getElementById("3").classList.remove("active");
        break;
      case (s < 4):
        document.getElementById("3").classList.add("active");
        document.getElementById("2").classList.remove("active");
        document.getElementById("4").classList.remove("active");
        break;
      case (s < 5):
        document.getElementById("4").classList.add("active");
        document.getElementById("3").classList.remove("active");
        document.getElementById("5").classList.remove("active");
        break;
      case (s < 6):
        document.getElementById("5").classList.add("active");
        document.getElementById("4").classList.remove("active");
        document.getElementById("6").classList.remove("active");
        break;
      case (s <= 7):
        document.getElementById("6").classList.add("active");
        document.getElementById("5").classList.remove("active");
        break;
      default:
        break;
    }
  }
</script>

<!-- Ready to join? -->

<section class="bg-blue">
  <div class="container-fluid text-left">
    <div class="h2 white mt-1 ml-xl-5 ml-lg-5 mb-1 ">
      Is your city ready to join <br />
      the Fab City network?
    <div class="float-right text-right">
      <a class="arrow smaller pt-5 pr-md-5 pr-md-5 white display-3" href="#">&rarr;</a>
    </div>
  </div>
  </div>
</section>

</body>


<!-- Take Action Modal -->
<div class="modal fade" id="take-action" tabindex="-1" role="dialog" aria-labelledby="take-action" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header con">
        <h5 class="modal-title h2 text-white uppercase" id="take-action">Take Action</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="dismiss-modal text-white" aria-hidden="true">&times;</span>
        </button>
        <div class="borderline"></div>
      </div>
      <div class="pt-3 pb-3 fat-letters text-white">
        Do you want to take part on this? become a member on the Fab City <br/> Network.
        <br />
        <br />
        First, let us know how you are:
      </div>
      <div class="pt-3 pb-3 spaced-out">
        <button type="button" class="btn pr-lg-4 pl-lg-4 small btn-action">I'm a City</button>
        <button type="button" class="btn pr-lg-4 pl-lg-4 small btn-action">I'm a person</button>
        <button type="button" class="btn pr-lg-4 pl-lg-4 small btn-action">I'm a government</button>
      </div>
    </div>
  </div>
</div>
