---
layout: default
---

{% include fixed/header.html %}
{% include fixed/takeaction.html %}
{% include fixed/section_quote.html texts=site.data.intro %}
{% include fixed/video-loop.html texts=site.data.video-loop %}
{% include fixed/section_photo_right.html texts=site.data.challenge %}
{% include fixed/section_photo_left.html texts=site.data.values-vision %}
{% include fixed/section_photo_right.html texts=site.data.our-approach %}
{% include fixed/approaches.html %}
{% include fixed/global-initiative.html texts=site.data.global-initiative %}
{% include fixed/people-gallery.html texts=site.data.collective %}
{% include fixed/roadmap.html texts=site.data.roadmap %}
{% include fixed/events.html %}
{% include fixed/subscribe.html %}
{% include fixed/collaborators.html texts=site.data.collaborators %}
{% include fixed/footer.html texts=site.data.footer %}
