---
layout: default
---

{% include fixed/header.html %}
{% include fixed/intro.html %}
{% include fixed/claim-1.html %}
{% include fixed/claim-2.html %}
{% include fixed/claim-3.html %}
{% include fixed/claim-4.html %}
{% include fixed/globe.html %}
{% include fixed/partners.html %}
{% include fixed/collective.html %}
{% include fixed/partner-projects.html texts=site.data.partner-projects %}
{% include modules/carousel.html texts=site.data.home-carousel %}
{% include fixed/roadmap.html %}
{% include fixed/get-involved.html %}
{% include fixed/subscribe.html %}
{% include fixed/footer.html %}