---
layout: home
title: Join The Network
---

<div style="background-image: radial-gradient(rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.6) 80%), url('{{ 'assets/images/join-header.png' | relative_url }}'); background-size: cover; background-position:center;">
  {% include navbar.html %}
    <div class="container-fluid white">
      <div class="row row-cols-2 spaced-out mr-xl-4">
        <div class="col-md-6 ml-xl-4 mr-xl-4">
          <div class="my-4">
            <div class="placeholder" style="height:300px">
            </div>
          </div>
        </div>
        </div>
        <div class="row d-flex flex-colums row-cols-4 pt-3 pl-xl-5 pl-lg-5 pr-xl-5 pr-lg-5 pb-3">
          <div class="col-md-5">
            <div class="display-4 text-uppercase light-letters">
              How to be part of the change?
            </div>
            <!-- <button type="button" class="btn pr-lg-4 pl-lg-4 small btn-white rounded-0 pr-3 pl-3 pt-1 pb-1">See more</button> -->
          </div>
        </div>
      </div>
</div>


<div class="borderline dark"></div>
<!-- First Section -->
 <section class="bg-grey">
  <div class="container">
      <div class="text-center h4 high-lines text-wrap">
        Be part of the new manufacturing ecosystem to
        rescale globalisation and provide the means of
        innovation and production to citizens, who are
        empowered to lead the transformation of their cities.
      </div>
    </div>
  </section>

<div class="borderline dark"></div>
<!-- STEPS TO JOIN -->
<section class="bg-yellow">
  <div class="container-fluid">
    <div class="row ml-lg-5 mb-lg-4">
      <div class="col-md-6">
        <div class="d-none d-sm-block display-4 light-letters text-uppercase">
          {{ site.data.steps.title }}
        </div>
        <div class="h2 d-block d-sm-none text-uppercase">
          {{ site.data.steps.title }}
        </div>
        <div class="d-block d-sm-none py-2 ">
          {{ site.data.steps.description }}
        </div>
      </div>
    </div>
    <div class="row ml-4 d-flex justify-content-center">
      {% for item in site.data.steps.steps %}
      <div id="step" class="col-md-3 col-lg-2dot4">
        <div class="row row-cols-2">
          <div class="col-md-10">
          <div class="border-1 border rounded-0 border-black" style="width:260px;">
            <div class="p-3">
              <div class="row row-cols-2">
                <div class="col-md-3">
                  <div class="h3 fat-letters">0{{ item.number }}.</div>
                </div>
                <div class="col-md-6 text-uppercase float-left text-left">
                  {{ item.name }}
                </div>
              </div>
                <div class="h6 pt-2 pb-4">
                  {{ item.text }}
                </div>
                <div class="h6">
                {{ item.namelink }} &rarr;
                </div>
              </div>
          </div>
        </div>
          {% if item.number != 4 %}
        <div class="col-md-2 pr-0 pl-0 align-middle mt-5 pt-4 d-none d-sm-block">
          <div class="text-center display-4 font-weight-light thin-letters align-middle d-none d-sm-block">&rarr;</div>
        </div>
        <div class="col-md-2 pr-5 pl-0 d-block d-sm-none">
          <div class="text-center display-4 font-weight-light thin-letters align-middle d-block d-sm-none">&darr;</div>
        </div>
        {% endif %}
      </div>
      </div>
    {% endfor %}
    </div>
  </div>
</section>

<section class="bg-green">
  
</section>
