---
title: MDDI
layout: home
---

<div class="popup-zone popup-people quit-zone" id="popup-people">
  <div class="pop-up">
    <div class="pop-up-container flex flex-row">
      <div class="flex-column ">
        <img src="assets/images/icons/cross.png" alt="" class="close-modal-cross mobile-version" onclick="hidePopup(this)">
        <div class="img-person" id="img-person"></div>
        <div class="fabcity-mt-10 fabcity-mb-20" id="person-social-links"></div>
      </div>
      <div class="flex-column popup-person-details">
        <div class="position-relative">
          <p class="person-name" id="person-name">Thomas V</p>
          <img src="assets/images/icons/cross.png" alt="" class="close-modal-cross desktop-version" onclick="hidePopup(this)">
        </div>
        <p class="person-description fabcity-mb-15 fabcity-pr-50" id="person-description-short">Fab Lab Austral UC Director and Professor School of Design Pontifical Catholic University of Chile</p>
        <div class="line-separator"></div>
        <p class="fabcity-mt-15 person-description" id="person-description-full">Tomas is an Architect, Master in Advanced Architecture from the Institute of Advanced Architecture of Catalonia (IAAC), Master in Advanced Design from ELISAVA, and PhD (c) in Architecture & Urban Planning, Digital Futures group from Tongji University in Shanghai. He co-founded and co-directed Distributed Design Foundation and Fab Lab Santiago, one of the pioneers Fab Labs in Chile. He also co-hosted the 13th International Fab Lab Conference and Symposium - Fabricating Society in Santiago de Chile, and several Conferences, events and programs in Chile and Latin America.</p>
      </div>
    </div>
  </div>
</div>

<div class="mddi-page page-content">
  <div class="bg-black container-fluid landing-mddi">
    <div class="row">
      <div class="col-md-12">
        <img src="assets/images/pages/mddi/landing_mddi.jpg" alt="" class="img-fluid min-width-100">
      </div>
    </div>
  </div>

  <div class="position-relative">
    <div class="summary container-fluid">
      <div class="row height-100">
        <div class="text-white sticky-summary col-md-4 col-lg-3 fabcity-m-bt-20">
          <div class="bg-beige">
            <img src="assets/images/pages/mddi/summary-logo.svg" alt="" class="img-fluid">
            <div class="flex">
              <ul class="width-100">
                <li>
                  <a href="#basic-information" class="fab-city-link">
                    <span>Basic information</span>
                    <span>→</span>
                  </a>
                </li>
                <li>
                  <a href="#presentation" class="fab-city-link">
                    <span>Presentation</span>
                    <span>→</span>
                  </a>
                </li>
                <li>
                  <a href="#faculty" class="fab-city-link">
                    <span>International Faculty and Guests</span>
                    <span>→</span>
                  </a>
                </li>
                <li>
                  <a href="#student-profile" class="fab-city-link">
                    <span>Student Profile</span>
                    <span>→</span>
                  </a>
                </li>
                <li>
                  <a href="#competences" class="fab-city-link">
                    <span>Competences</span>
                    <span>→</span>
                  </a>
                </li>
                <li>
                  <a href="#partners" class="fab-city-link">
                    <span>Leading Partners</span>
                    <span>→</span>
                  </a>
                </li>
                <li>
                  <a href="#methodology" class="fab-city-link">
                    <span>Methodology</span>
                    <span>→</span>
                  </a>
                </li>
                <li>
                  <a href="#faqs" class="fab-city-link">
                    <span>FAQs</span>
                    <span>→</span>
                  </a>
                </li>
              </ul>
            </div>
            <a href="https://blog.fab.city/" target="_blank" class=" fabcity-btn summary-btn">
              <button class="fabcity-btn">
                Apply now
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid bg-black">
        <div class="row fabcity-pb-10">
          <div class="text-white">
            <div class="offset-md-4 col-md-8 offset-lg-3 col-lg-9">
              <h2 class="mddi-title-content fabcity-pt-40">
                Master in Design for
                Distributed Innovation
              </h2>
            </div>
            <div class="offset-md-4 col-md-8 offset-lg-3 col-lg-9">
              <span class="mddi-sub-title">
                Globally connected, local changemakers
              </span>
              <p class="fabcity-font-size-50 fabcity-mb-50">The Master in Design for Distributed Innovation (MDDI) is organised by Fab City Foundation and the Institute for Advanced Architecture of Catalonia. It is co-delivered by Fab Lab Barcelona at IAAC, local nodes of the distributed campus, and is supported by the global Fab Lab Network.</p>
            </div>
          </div>
        </div>
    </div>

    <div class="container-fluid bg-blue" id="basic-information">
      <div class="row fabcity-pt-30 text-black">
        <div class="offset-md-4 col-md-8 offset-lg-3 col-lg-9">
          <h2 class="fabcity-mb-10 display-block">
            Basic Information
          </h2>
        </div>
      </div>

      <div class="row">
        <div class="offset-md-4 col-md-8 offset-lg-3 col-lg-9">
          <div class="row mddi-basic-info-content">
            <div class="col-12">
              <div class="line-separator width-100"></div>
            </div>
            <div class="col-6">
              <span class="fabcity-font-size-14 fabcity-mb-5 display-block">Length</span>
              <span class="display-block fabcity-font-size-20">
                10 months, from October 2022 — June 2023 Part-Time
              </span>
            </div>
            <div class="col-6">
              <span class="fabcity-font-size-14 fabcity-mb-5 display-block">Price</span>
              <span class="display-block">
                12.000 usd
              </span>
            </div>
          </div>
          <div class="row mddi-basic-info-content">
            <div class="col-12">
              <div class="line-separator width-100"></div>
            </div>
            <div class="col-6">
              <span class="fabcity-font-size-14 fabcity-mb-5 display-block">Where?</span>
              <span class="display-block fabcity-font-size-20">
                Worldwide: Puebla, Lima, Barcelona, Paris, Shanghai, Bali
              </span>
            </div>
            <div class="col-6">
              <span class="fabcity-font-size-14 fabcity-mb-5 display-block">Format</span>
              <span class="display-block">
                Online and in-person in association with local nodes all over the world.t
              </span>
            </div>
          </div>
          <div class="row mddi-basic-info-content">
            <div class="col-12">
              <div class="line-separator width-100"></div>
            </div>
            <div class="col-6">
              <span class="fabcity-font-size-14 fabcity-mb-5 display-block">Language</span>
              <span class="display-block fabcity-font-size-20">
                English
              </span>
            </div>
            <div class="col-6">
              <span class="fabcity-font-size-14 fabcity-mb-5 display-block">Credits</span>
              <span class="display-block">
                60 ECTS
              </span>
            </div>
          </div>
          <div class="row mddi-basic-info-content">
            <div class="col-12">
              <div class="line-separator width-100"></div>
            </div>
            <div class="col-12">
              <span class="fabcity-font-size-14 fabcity-mb-5 display-block">Admission Requirements</span>
              <span class="display-block fabcity-font-size-20">
                Bachelor or higher degree in Industrial Design, Product Design, Architecture and Urban Design, Graphic Design, Interaction Design, Computer Science, Engineering (Mechanical, Chemical, Product, Material), Sociology, Anthropology, Economy, and other related professions.
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid bg-beige fabcity-pt-30 with-line-underneath">
      <div class="row fabcity-pb-30">
        <div class="text-black">
          <div class="offset-md-4 col-md-8 offset-lg-3 col-lg-9" id="presentation">
            <h2 class="fabcity-mb-50 display-block">
              Presentation
            </h2>
          </div>
          <div class="offset-md-4 col-md-8 offset-lg-3 col-lg-9">
            <p class="fabcity-font-size-18 fabcity-mb-20">
              The Master in Design for Distributed Innovation (MDDI) is a distributed learning program focused on the intersection of design, technology, ecosystems and communities to improve interspecies wellbeing. It connects a global community of changemakers with local innovators in order to address complex challenges. Combining online and hands-on learning, it supports the development of the social and technical skills needed to develop projects for positive impact in local communities that aim for global transformational change.
            </p>
            <p class="fabcity-font-size-18 fabcity-mb-20">
              The MDDI presents the next frontier in global impact education. As a distributed program, students will experience a mix of online seminars with in-person mentorships and the production of physical prototypes in their local nodes. The program is structured in three modules of one trimester each, plus a final project implementation. Each module focuses on different levels of the Fab City Full Stack, across three tracks: Ecosystems, Communities and Technology.
            </p>
          </div>

          <div class="video-container fabcity-m-tb-40 offset-md-4 col-md-8 offset-lg-3 col-lg-9">
            <iframe class="video" src="https://www.youtube.com/embed/FPI4h934G0M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>

          <div class="offset-md-4 col-md-8 offset-lg-3 col-lg-9">
            <h3>
              Why distributed design and innovation?
            </h3>
            <p class="fabcity-font-size-18 fabcity-m-tb-20">
              To transition to a new production paradigm, in which extractive industrial practices are replaced by regenerative global knowledge networks, design must take on a new role. The same industrial model that has caused a constellation of planetary crises is also the context in which design became a revered discipline. Design education has been based on these competitive, colonial foundations and globalised ideals of the past. A shift is needed towards how we learn to,   from and with design by imagining new processes to reconfigure the relationship between humans and the natural ecosystems around them; methodologies and approaches rethought to learn and understand how to design from and  for diverse contexts.
            </p>
          </div>
        </div>
      </div>
    </div>


    <div class="container-fluid fabcity-pt-30">
      <div class="row fabcity-pb-30">
        <div class="text-black">
          <div class="offset-md-4 col-md-8 offset-lg-3 col-lg-9">
            <h3>
              The Distributed Design and Innovation Approach
            </h3>
            <p class="fabcity-font-size-18 fabcity-m-tb-20">
              Over the last two centuries, we have refined technology and infrastructure for the movement of atoms on a planetary scale in the form of raw materials, using energy sources associated with fossil fuels; we have also transformed these materials into consumer goods, thanks to industrial processes that generate high emissions and an enormous amount of waste. This economic model, which is based on infinite growth through the use of supposedly infinite natural resources, gives precedence to economic benefits over caring for biological and social systems. In reality, the labour, energy and raw materials associated with most of the products we consume are not cheap as they are advertised, because their environmental and social impacts are not gauged within the real costs of any product or company. Externalities are hidden, charged to local communities and ecosystems that sustain the global supply chains.
            </p>
            <p class="fabcity-font-size-18 fabcity-m-tb-20">
              The Fab City global initiative – conceived between Barcelona and Boston – proposes a change in our production paradigm to a new one in which atoms stop travelling thousands of kilometres to get to our hands and stomachs; on the contrary, they mostly circulate locally. In Fab Cities, bits of information travel great distances around the planet, thanks to the digital revolution in telecommunications and computation, and emerging digital manufacturing technologies. Digital fabrication will become the key to developing over the upcoming decades an urban model focused on the development of locally productive cities and bioregions that are globally connected.
            </p>
            <p class="fabcity-font-size-18 fabcity-m-tb-20">
              MDDI combines the internationality of the Fab City Foundation with the pedagogical expertise of Fab Lab Barcelona and the Institute of Advanced Architecture of Catalonia. With the support of the Fab Lab Network, the program delivers the next frontier in global education: project driven, context aware, and hands on. The distributed learning model allows scholars to learn and practice in their own context, whilst giving access to lectures, experiences and knowledge online, delivered by a global network of experts, institutions and peers. By establishing projects within their own communities, MDDI students are part of personal and real-world transformation, while being part of a global network of changemakers who are navigating complex systems in order to bring about a paradigm shift in our current socio-economic model. The program follows ethical principles that guide both the academic curriculum and extended impact of the program:
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid fabcity-pt-30">
      <div class="row fabcity-pb-30 fabcity-p-lr-0 offset-md-4 col-md-8 offset-lg-3 col-lg-9">
        {% for project in site.data.mddi-distributed-design.projects %}

        <div class="project-card col-sm-6 col-md-4   fabcity-mt-40">
          <img src="{{ project.image | relative_url }}" alt="" class="fabcity-mb-40 img-fluid width-100">
          <p class="fabcity-font-size-18 text-underline no-margin">{{project.name}}</p>
          <p class="fabcity-font-size-18">{{project.text}}</p>
        </div>

        {% endfor %}
      </div>
    </div>

    <div class="container-fluid fabcity-pt-30">
      <div class="row fabcity-pb-30">
        <div class="text-black">
          <div class="offset-md-4 col-md-8 offset-lg-3 col-lg-9">
            <p class="fabcity-font-size-18 fabcity-m-tb-20">
              MDDI is designed using the The Fab City Full Stack multiscale approach outlined by the Fab City global initiative. This layered approach forms the basis of the program, framing the methodological approach to conceptualising transformational change. The full stack is a working taxonomy developed by the Fab City Foundation to organise and implement projects at different scales. Composed of complementary and non-linear layers for cities, regions and towns, to make the Fab City implementation in a multiscalar and ecosystemic approach operational. Each interconnected layer is a space of practice and deployment, scaling Fab Lab experiences to a bioregional level in a systemic approach.
            </p>
            <img src="assets/images/pages/mddi/board.jpg" alt="" class="img-fluid min-width-100 fabcity-mb-50">
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid bg-green fabcity-pt-30 with-line-underneath" id="faculty">
      <div class="row fabcity-pb-30">
        <div class="text-black">
          <div class="offset-md-4 col-md-8 offset-lg-3 col-lg-9">
            <h2 class="fabcity-mb-50 display-block">
              International Faculty and Guests
            </h2>
          </div>
          <div class="offset-md-4 col-md-8 offset-lg-3 col-lg-9">
            <p class="fabcity-font-size-18 fabcity-mb-20">
              MDDI program has been designed by researchers, practitioners and thought-leaders from Fab City Foundation, Fab Lab Barcelona, IAAC and the global Fab Lab Network ecosystems, gathering a unique and internationally recognised team.            </p>
          </div>

          <div class="offset-md-4 col-md-8 offset-lg-3 col-lg-9">

            <h3 class="fabcity-mt-30">
              Directors
            </h3>

            {% for group in site.data.people-mddi.groups %}
            {% if group.group-id == "directors" %}
            <div class="row fabcity-mt-15 fabcity-mb-50">
              <div class="col-md-12 people-container">
                {% for person in group.people %}
                <div class="person-card flex-column flex align-items-center text-center">
                  <div id="{{person.id}}"
                       class="picture-person fabcity-mb-30 cursor-pointer"
                       onclick="displayPopup(this)"
                       style="background-image:url({{person.picture | relative_url }})"></div>
                  <p class="person-name display-block">
                    {{person.name}}
                  </p>
                  <!--
                  <span class="display-block fabcity-font-size-14">{{person.position}}</span>
                  {% if person.second-position %}
                  <span class="display-block fabcity-font-size-14">{{person.second-position}}</span>
                  {% endif %}
                  {% if person.third-position %}
                  <span class="display-block fabcity-font-size-14">{{person.third-position}}</span>
                  {% endif %}
                  -->
                </div>
                {% endfor %}
                <i aria-hidden="true"></i>
                <i aria-hidden="true"></i>
                <i aria-hidden="true"></i>
                <i aria-hidden="true"></i>
              </div>
            </div>
            {% endif %}
            {% endfor %}
          </div>

          <div class="offset-md-4 col-md-8 offset-lg-3 col-lg-9">

            <h3 class="fabcity-mt-30">
              Faculty
            </h3>

            {% for group in site.data.people-mddi.groups %}
            {% if group.group-id == "sub-directors" %}
            <div class="row fabcity-mt-15 fabcity-mb-50">
              <div class="col-md-12 people-container">
                {% for person in group.people %}
                <div class="person-card flex-column flex align-items-center text-center">
                  <div class="picture-person fabcity-mb-30 cursor-pointer"
                       id="{{person.id}}"
                       onclick="displayPopup(this)"
                       style="background-image:url({{person.picture | relative_url }})"></div>
                  <p class="person-name display-block">
                    {{person.name}}
                  </p>
                  <!--
                  <span class="display-block fabcity-font-size-14">{{person.position}}</span>
                  {% if person.second-position %}
                  <span class="display-block fabcity-font-size-14">{{person.second-position}}</span>
                  {% endif %}
                  -->
                </div>
                {% endfor %}
                <i aria-hidden="true"></i>
                <i aria-hidden="true"></i>
                <i aria-hidden="true"></i>
              </div>
            </div>
            {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid bg-black fabcity-pb-50" id="student-profile">
      <div class="row fabcity-pt-30 text-black">
        <div class="offset-md-4 col-md-8 offset-lg-3 col-lg-9">
          <h2 class="fabcity-mb-10 display-block fabcity-mb-40 text-white">
            Student Profile
          </h2>
        </div>
        <div class="offset-md-4 col-md-8 offset-lg-3 col-lg-9 text-white">
          <p class="fabcity-font-size-18 fabcity-mb-20">
            As a MDDI candidate, participants might be already working in the public or private sector, academic institutions or, may come from an entrepreneurial background having started their own business related to planetary restoration. The program aims to become a platform to boost and accelerate students’ capabilities to produce change in their own contexts, and to accelerate the transition towards a productive and sustainable model of production and consumption in their communities.
        </div>
      </div>

      <div class="row fabcity-mb-30">
        <div class="container offset-md-4 col-md-8 offset-lg-3 col-lg-9">
          <div class="row ">
            <div class="col-sm-6 col-md-6 col-lg-4 fabcity-mt-20">
              <div class="student-card">
                <p>Creative industries & makers</p>
                <div class="line-separator fabcity-mb-10"></div>
                <span>
                Designers, Makers, Architects, Urbanists and Artists who want to expand their knowledge
                by incorporating new design methodologies, technological skills and theoretical arguments to deploy in their personal and professional projects sustainably.
              </span>
              </div>

            </div>
            <div class="col-sm-6 col-md-6 col-lg-4 fabcity-mt-20">
              <div class="student-card">
                <p>Entrepreneurs, social Innovators</p>
                <div class="line-separator fabcity-mb-10"></div>
                <span>
                Professionals from all areas who wish to transform their ideas into social innovations
                or start their sustainable entrepreneurship by expanding their technical skills and design methods to become agents of positive change.
              </span>
              </div>

            </div>
            <div class="col-sm-6 col-md-6 col-lg-4 fabcity-mt-20">
              <div class="student-card">
                <p>Government employees &NGOs</p>
                <div class="line-separator fabcity-mb-10"></div>
                <span>
                Professionals who are already making changes from inside in public services or non- governmental-organisations and want to accelerate the impact of policy by adopting an innovation culture.
              </span>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="offset-md-4 col-md-8 offset-lg-3 col-lg-9">
          <div class="line-separator white width-100"></div>
          <h3 class="fabcity-mt-30 text-white fabcity-mb-20">
            Professional Opportunities
          </h3>
        </div>
        <div class="container offset-md-4 col-md-8 offset-lg-3 col-lg-9">
          <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-4">
              <img src="/assets/images/pages/mddi/professional-oportunities.jpg" alt="" class="border-radius-10 img-fluid width-100">
            </div>
            <div class="col-sm-6 col-md-6 col-lg-8">
              <p class="text-white fabcity-font-size-20">
                As a MDDI candidate, participants might be already working in the public or private sector, academic institutions or, may come from an entrepreneurial background having started their own business related to planetary restoration. The program aims to become a platform to boost and accelerate students’ capabilities to produce change in their own contexts, and to accelerate the transition towards a productive and sustainable model of production and consumption in their communities.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="container-fluid" id="competences">
      <div class="row fabcity-pt-30 text-black">
        <div class="offset-md-4 col-md-8 offset-lg-3 col-lg-9">
          <h2 class="fabcity-mb-10 display-block fabcity-mb-40">
            Competences
          </h2>
        </div>
      </div>

      <div class="row fabcity-mb-30">
        <div class="row offset-md-4 col-md-8 offset-lg-3 col-lg-9">
          <div class="col-sm-6 col-md-6 col-lg-3 text-center">
            <img src="assets/images/pages/mddi/technology.png" class="img-fluid" alt="">
            <span class="competence-title">Technology</span>
            <span class="competence-detail">Coding, digital fabrication, bio-materials, bio-sensors and Blockchain.</span>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-3 text-center">
            <img src="assets/images/pages/mddi/methodological.png" class="img-fluid" alt="">
            <span class="competence-title">Methodological</span>
            <span class="competence-detail">Distributed design, new economies, collaborative co-creation.</span>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-3 text-center">
            <img src="assets/images/pages/mddi/organizational.png" class="img-fluid" alt="">
            <span class="competence-title">Organizational</span>
            <span class="competence-detail">Horizontal leadership, co-creation, team building, humanistic leadership.</span>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-3 text-center">
            <img src="assets/images/pages/mddi/applied.png" class="img-fluid" alt="">
            <span class="competence-title">Applied</span>
            <span class="competence-detail">Systems design, develop prototypes, implement interventions, project evaluation.</span>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid fabcity-pb-50 with-line-underneath" id="partners">
      <div class="row fabcity-pt-30 text-black">
        <div class="offset-md-4 col-md-8 offset-lg-3 col-lg-9">
          <div class="line-separator fabcity-mb-30"></div>

          <h2 class="fabcity-mb-10 display-block fabcity-mb-40">
            Leading Partners
          </h2>
        </div>
      </div>
      <div class="row">
        <div class="container offset-md-4 col-md-8 offset-lg-3 col-lg-9">
          <div class="row flex align-items-center">
            <div class="col-sm-6 col-md-6 col-lg-4 fabcity-mt-20">
              <img src="/assets/images/pages/mddi/fab-lab-bcn.png" alt="">
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4 fabcity-mt-20">
              <img src="/assets/images/pages/mddi/iaac.png" alt="">
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4 fabcity-mt-20">
              <img src="/assets/images/pages/mddi/fab-foundation.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="container-fluid fabcity-pb-50 bg-black" id="methodology">
      <div class="row fabcity-pt-30 text-black">
        <div class="offset-md-4 col-md-8 offset-lg-3 col-lg-9">
          <h2 class="fabcity-mb-10 text-white display-block fabcity-mb-10">
            Methodology
          </h2>
        </div>
      </div>
      <div class="row">
        <div class="container offset-md-4 col-md-8 offset-lg-3 col-lg-9">
          <img src="/assets/images/pages/mddi/methodology.svg" class="img-fluid width-100" alt="">
        </div>
      </div>
    </div>




    <div class="container-fluid fabcity-pt-50 fabcity-pb-30 with-line-underneath bg-orange" id="faqs">
      <div class="row fabcity-pt-30 text-black">
        <div class="offset-md-4 col-md-8 offset-lg-3 col-lg-9">
          <h2 class="display-block fabcity-mb-30">
            FAQs
          </h2>
          <div class="line-separator fabcity-mb-50"></div>
        </div>
      </div>
      <div class="row questions">
        <div class="offset-md-4 col-md-8 offset-lg-3 col-lg-9 fabcity-mb-50">
          <h5 class=" fabcity-mb-20 cursor-pointer text-underline" data-toggle="collapse" href="#faq-01" role="button" aria-expanded="false" aria-controls="faq-01">
            What is Distributed Education?
          </h5>
          <span id="faq-01" class="faq-01 collapse">
            Distributed Education is a blended methodology that mixes online and in-person education formats that use physically distributed and digitally interconnected global infrastructure nodes, like Fab Labs, that become classrooms. Students practice synchronously and asynchronously, creating a global and distributed campus.Whilst the approach is similar to distance education, it takes the concept a step further, distributing the development and circulation of content between the nodes as well.
          </span>
          <div class="line-separator"></div>
        </div>
        <div class="offset-md-4 col-md-8 offset-lg-3 col-lg-9 fabcity-mb-50">
          <h5 class=" fabcity-mb-20 cursor-pointer text-underline" data-toggle="collapse" href="#faq-02" role="button" aria-expanded="false" aria-controls="faq-02">
            What if there is no node in my city?
          </h5>
          <span id="faq-02" class="faq-02 collapse">
            You can fill in the form and let us know where you are based. The MDDI coordination team will get in touch with you to see if it's possible to connect you to a node or Fab Lab close to you. If for any reason we can’t connect your city to the program, we’ll endeavour to help you to join your closest existing node.
          </span>
          <div class="line-separator"></div>
        </div>
        <div class="offset-md-4 col-md-8 offset-lg-3 col-lg-9 fabcity-mb-50">
          <h5 class=" fabcity-mb-20 cursor-pointer text-underline" data-toggle="collapse" href="#faq-03" role="button" aria-expanded="false" aria-controls="faq-03">
            How will the local knowledge of my community contribute to the program?
          </h5>
          <span id="faq-03" class="faq-03 collapse">
            Each MDDI node offers students access to the local community and networks to deploy their projects in a bottom-up approach. This is important in reaching the goals of the Fab City global initiative. It all starts with building ecosystems within cities and developing sustainable initiatives that will shape the new global production paradigm.
          </span>
          <div class="line-separator"></div>
        </div>
        <div class="offset-md-4 col-md-8 offset-lg-3 col-lg-9 fabcity-mb-50">
          <h5 class=" fabcity-mb-20 cursor-pointer text-underline" data-toggle="collapse" href="#faq-04" role="button" aria-expanded="false" aria-controls="faq-04">
            Do I need to have ‘Fab Lab’ skills to apply?
          </h5>
          <span id="faq-04" class="faq-04 collapse">
            We don’t require any specific technical skills. We look for diverse student profiles, with different backgrounds and expertise. MDDI is designed for everyone interested in design,  sustainability, technologies, ecologies and cities.
          </span>
          <div class="line-separator"></div>
        </div>
        <div class="offset-md-4 col-md-8 offset-lg-3 col-lg-9 fabcity-mb-50">
          <h5 class=" fabcity-mb-20 cursor-pointer text-underline" data-toggle="collapse" href="#faq-05" role="button" aria-expanded="false" aria-controls="faq-05">
            Do I need to have a project to apply?
          </h5>
          <span id="faq-05" class="faq-05 collapse">
            Because our student profile includes different backgrounds and disciplines, every application will be evaluated under its individual merits. To apply you only need a professional diploma, a letter of interest and a portfolio or a project-based CV.
          </span>
          <div class="line-separator"></div>
        </div>
        <div class="offset-md-4 col-md-8 offset-lg-3 col-lg-9 fabcity-mb-50">
          <h5 class=" fabcity-mb-20 cursor-pointer text-underline" data-toggle="collapse" href="#faq-06" role="button" aria-expanded="false" aria-controls="faq-06">
            What Master will I receive when I graduate?
          </h5>
          <span id="faq-06" class="faq-06 collapse">
            You will receive a Master in Design for Distributed Innovation degree accredited by the Polytechnic University of Catalonia* with 60 European Credit Transfer and Accumulation System (ECTS).
            <br/>*under accreditation process.
          </span>
        </div>
      </div>
    </div>

  </div>
</div>

<script type="text/javascript">

  let MEMBERS = {
    tomas_vivanco: {
      name: "Tomás Vivanco",
      description: "Fab Lab Austral UC Director and Professor School of Design Pontifical Catholic University of Chile",
      fullDescription: "Tomas is an Architect, Master in Advanced Architecture from the Institute of Advanced Architecture of Catalonia (IAAC), Master in Advanced Design from ELISAVA, and PhD (c) in Architecture & Urban Planning, Digital Futures group from Tongji University in Shanghai. He co-founded and co-directed Distributed Design Foundation and Fab Lab Santiago, one of the pioneers Fab Labs in Chile. He also co-hosted the 13th International Fab Lab Conference and Symposium - Fabricating Society in Santiago de Chile, and several Conferences, events and programs in Chile and Latin America.",
      picture: '/assets/images/people/tomas_vivanco.jpg',
      social: {
        instagram: "https://www.instagram.com/tomas.vivanco/",
        twitter: "https://twitter.com/tvivancol",
        linkedin: "www.linkedin.com/in/tomasviv"
      }
    },
    tomas_diez: {
      name: "Tomas Diez",
      description: "Fab Lab Barcelona Director, Fab City executive Director and  MDEF co-director",
      fullDescription: "He is co-director and member of the board  at the Institute for Advanced Architecture of Catalonia, where he also is a senior researcher and tutor. He collaborates in projects, events, and programs with the Fab Foundation, such as Fab City, Fab Conferences and Fab Academy worldwide. He is now the Strategic Director of Fab Lab Barcelona at IAAC, co-director of the Master in Design for Emergent Futures, as well as the founding partner and Executive Director of the Fab City Foundation, and the Meaningful Design Group Bali.",
      picture: '/assets/images/people/tomas_diez.jpg',
      social: {
        twitter: "https://twitter.com/tomasdiez",
        linkedin: "https://www.linkedin.com/in/tomas-diez-2b37aa11"
      }
    },
    guillem_camprodon: {
      name: "Guillem Camprodon",
      description: "Research Lead - Fab Lab Barcelona",
      fullDescription: "Guillem Camprodon is the research lead at Fab Lab Barcelona. Funded by IAAC in 2007, it is the first Fab Lab in the European Union and a benchmark in the network of over 1800 Fab Labs. Over the last ten years, he helped scale Fab Lab Barcelona from a digital prototyping facility into an established research and innovation laboratory." +
        "He has long experience working in projects bridging the gap between emergent technologies and grassroots communities, such as Smart Citizen, a platform to empower communities to better understand their environment.",
      picture: '/assets/images/people/guillem_camprodon.jpg',
      social: {
        twitter: "https://twitter.com/pral2a",
        linkedin: "https://www.linkedin.com/in/guillemcamprodon/"
      }
    },
    santiago_fuentemilla: {
      name: "Guillem Camprodon",
      description: "Future Learning Unit Coordinator  and Fab Academy Guru",
      fullDescription: "As a professional, Santi has worked in various architectural firms carrying out projects at an international level in the last 10 years. He is currently design director at OPR (Other People’s Rooms) in Barcelona, a multidisciplinary studio based on architectural concept design for enhanced user experiences. Since 2013, he has been part of the FabLab BCN team, participating in a diversity of educational and professional ventures." +
        "Santi is the co-creator and current coordinator of the POPUPLAB project (Mobile FabLab) aimed at disseminating the concept of digital manufacturing in our society: “Digital Fabrication Everywhere”.",
      picture: '/assets/images/people/santiago_fuentemilla.jpg',
      social: {
        twitter: "https://twitter.com/santifu",
        linkedin: "https://www.linkedin.com/in/santi-fuentemilla-garriga-7877892b/"
      }
    },
    benito_juarez: {
      name: "Benito Juarez",
      description: "Architect, fabber and explorer",
      fullDescription: "Founder and director of fab.pe | fab.lat | floatingfab.org | simbiocreacion.com | imi.technology\n" +
        "\n" +
        "Pioneer in digital manufacturing technologies in Peru and Latin America. Co-founder of the Latin American Fab Labs Network. Creator of the Floating Fab Amazon project, selected by the United Nations for the global launch of the 17ODS (NYC, 2015). Creator of the SimbioCreación methodology, which promotes the culture of Exponential Collaborative Creativity.\n",
      picture: '/assets/images/people/benito_juarez.jpg',
      social: {
        twitter: "https://twitter.com/beno_fab",
        linkedin: "https://www.linkedin.com/in/benojuarez",
        mail: "mailto:beno@fablablima.org"
      }
    },
    liz_corbin: {
      name: "Liz Corbin",
      description: "Academic/ Professional expertise: Research Director, Metabolic Institute",
      fullDescription: "Liz is Metabolic’s Research Director, leading the activities of our think tank, the Metabolic Institute. Prior to joining Metabolic, Liz spent her time between University College London and the Royal College of Art where she both researched and taught. Liz’s research expertise lies within materials design and engineering, systems analysis, redistributed manufacturing, and digital innovation. Liz holds a BA in Design and an MA in Material Culture and Design.",
      picture: '/assets/images/people/liz_corbin.jpg',
      social: {
        linkedin: "https://www.linkedin.com/in/liz-corbin-39067163/"
      }
    },
    liza_valenca: {
      name: "Liza Valença Ramos",
      description: "Governance and Public Policies Master and ESG, Impact Evaluation and Advocacy",
      fullDescription: "ESG Portfolio Manager and Consultant, Liza has over 10 years of experience in Social and Environmental Impact, working for companies, governmental institutions and nonprofits in Brazil, Germany, Poland and UK. Currently acts as Sustainability and ISO 14001 Consultant for CBRE and as Portfolio Manager and partner in We.Flow. Her academic track includes a Master in Governance and Public Policy from the Willy Brandt School (Erfurt / Germany), a Bachelor’s degree in Law and another in International Relations, both obtained in Brazil.",
      picture: '/assets/images/people/liza_valenca.jpg',
      social: {
        linkedin: "https://www.linkedin.com/in/lizavalencaramos/"
      }
    },
    giovanna_danies: {
      name: "Giovanna Danies",
      description: "Biologist, Microbiologist and Biodesigner",
      fullDescription: "Giovanna Danies is a Biologist and Microbiologist with a master's degree in Biological Sciences from the Universidad de los Andes in Bogotá, Colombia. In 2015 she received her PhD in Plant Pathology from Cornell University in Ithaca, NY, United States. She was selected by the graduate school directors to receive the Barbara McClintock award. Currently Giovanna works as an associate professor in the Department of Design at Universidad de los Andes, where she is creating an emphasis on Biodesign. Together with her students Giovanna, has won four first places in the Biodesign Challenge and in 2019 she received the L’Oreal Unesco award for Women in Sciences with the Biodesign for High Schools project.",
      picture: '/assets/images/people/giovanna_danies.jpg',
      social: {
        instagram: "https://www.instagram.com/giovanna_danies/",
        twitter: "https://twitter.com/gd243",
        linkedin: "https://www.linkedin.com/in/giovanna-danies-turano/",
      }
    },
    marion_real: {
      name: "Marion Real",
      description: "Systemic design reseacher, Fab Lab Barcelona and Associate researcher centre for circular design, London.",
      fullDescription: "Marion Real is a systemic design researcher exploring co-creation processes in the territorial transformations toward circular economies and cosmopolitan localism. She is currently working at Fab Lab Barcelona at IAAC where she is working at the crossroads of the productive cities and material & textiles research areas, in various projects touching circular design such as Siscode, Remix el Barrio, Shemakes and Centrinno. She is also associate researcher at Estia for the Chaire Bali and Centre for Circular Design in London.",
      picture: '/assets/images/people/marion_real.jpg',
      social: {
        linkedin: "https://www.linkedin.com/in/marion-real-01428935",
      }
    },
    ruby_reed: {
      name: "Ruby Reed",
      description: "Social entrepreneur: Transformative Education and Human Ecology",
      fullDescription: "Ruby’s work revolves around a vision of a world where people, economies and nature thrive together. She co-founded transformative education platform Advaya in 2015, environmental justice campaign EcoResolution in 2019, and the ecosystem restoration and community revitalisation charity Initiative Earth in 2021. She is a Trustee of Resurgence Trust, Talks Curator for Medicine Festival, and part of BeTheEarth Foundation’s flow-funding network. In 2018-2020 she supported Extinction Rebellion Regenerative Culture and founded UK Rebel Retreats.",
      picture: '/assets/images/people/ruby_reed.jpg',
      social: {
        website: "https://www.initiativeearth.org/",
        instagram: "https://www.instagram.com/advaya.co",
        /*
        web: "https://www.ecoresolution.earth",
        inst: "https://www.instagram.com/ecoresolution",
        http: "https://www.initiativeearth.org"

         */
      }
    },
    paulo_robertoa_raujo_cruz_filho: {
      name: "Paulo Roberto Araujo Cruz Filho",
      description: "Strategic Management, Weflow Global.",
      fullDescription: "Facilitator, consultant and researcher in the field of social enterprises and third sector at CRCÉS (Canada Research Chair on Social Economy) and EMES (International Research Network on Social Enterprises), as well as coordinator in Brazil of the global project ICSEM (International Comparative Social Enterprise Models) chapter Social Impact Enterprises.  Formation in Flow Mastery Mentorship and Coaching, Integral Approach, Theory U, Self-healing, Innovation and Social Impact, among others. \n" +
        "Voluntary board member and mentor of non-profit organizations and social businesses.",
      picture: '/assets/images/people/paulo_robertoa_raujo_cruz_filho.png',
      social: {
        mail: "mailto:paulo@weflow.global",
        website: "http://weflow.global/paulocruzfilho",
      }
    },
    lorenzo_patuzzo: {
      name: "Lorenzo Patuzzo",
      description: "Social Entrepreneur | Designer | Hacktivist",
      fullDescription: "Transversal creative mind, innovation obsessed, socially committed.\n" +
        "Designer, craftsman, creative technologist, learning ambassador, philanthropist.\n" +
        "Designing Web3 distributed communication infrastructures at AKASHA.org. Founder of AKASHA.barcelona, facilitating a global network of connected and proactive sustainable neighbourhoods and promoting social impact projects. City Development Strategy Advisor.",
      picture: '/assets/images/people/lorenzo_patuzzo.png',
      social: {
        linkedin: "https://www.linkedin.com/in/lorenzopatuzzo",
        twitter: "https://twitter.com/lorenzopatuzzo",
        website: "https://akasha.org/"
      }
    }
  }

  function displayPopup(card) {
    let id = card.getAttribute("id");
    let person = MEMBERS[id];

    if (person) {
      let namePlaceholder = document.getElementById("person-name");
      namePlaceholder.innerHTML = person.name;


      let description = document.getElementById("person-description-short");
      description.innerHTML = person.description;

      let descriptionFull = document.getElementById("person-description-full");
      descriptionFull.innerHTML = person.fullDescription;

      let imgPerson = document.getElementById("img-person");
      imgPerson.style.background = `url(${person.picture})`;

      let personSocialLinks = document.getElementById('person-social-links');
      let personSocialsTypes = Object.keys(person.social);

      if (personSocialsTypes.length) {
        let i = 0, l = personSocialsTypes.length;
        let personSocials = person.social;

        for (; i < l; i++) {
          let a = document.createElement('a');
          a.href = personSocials[personSocialsTypes[i]];
          a.target= "_blank";
          a.classList.add('person-social-icons');

          let img = document.createElement('img');
          img.src = `/assets/images/icons/${personSocialsTypes[i]}.svg`
          a.appendChild(img);

          personSocialLinks.appendChild(a);
        }
      }

      let popup = document.getElementById("popup-people");
      popup.classList.toggle("show-popup");
    }
  }

  function hidePopup() {
    let popup = document.getElementById("popup-people");
    popup.classList.remove("show-popup");
    let personSocialLinks = document.getElementById('person-social-links');
    personSocialLinks.innerHTML = "";
  }


</script>
