---
title: MDDI
layout: home
---

<div class="mddi-page page-content">
  <div class="bg-black container-fluid landing-mddi">
    <div class="row">
      <div class="col-md-12">
        <img src="assets/images/pages/mddi/landing_mddi.jpg" alt="" class="img-fluid min-width-100">
      </div>
    </div>
  </div>

  <div class="position-relative">
    <div class="summary container-fluid">
      <div class="row height-100">
        <div class="text-white sticky-summary col-md-4 fabcity-m-bt-20">
          <div class="bg-beige">
            <img src="assets/images/pages/mddi/summary-logo.png" alt="" class="img-fluid">
            <div class="flex">
              <ul class="width-100">
                <li>
                  <a href="#basic-information" class="fab-city-link">
                    <span>Basic information</span>
                    <span>→</span>
                  </a>
                </li>
                <li>
                  <a href="#presentation" class="fab-city-link">
                    <span>Presentation</span>
                    <span>→</span>
                  </a>
                </li>
                <li>
                  <a href="#faculty" class="fab-city-link">
                    <span>Faculty</span>
                    <span>→</span>
                  </a>
                </li>
                <li>
                  <a href="#competences" class="fab-city-link">
                    <span>Competences</span>
                    <span>→</span>
                  </a>
                </li>
                <li>
                  <a href="#student-profile" class="fab-city-link">
                    <span>Student Profile</span>
                    <span>→</span>
                  </a>
                </li>
                <li>
                  <a href="#partners" class="fab-city-link">
                    <span>Partners</span>
                    <span>→</span>
                  </a>
                </li>
                <li>
                  <a href="#faqs" class="fab-city-link">
                    <span>FAQs</span>
                    <span>→</span>
                  </a>
                </li>
              </ul>
            </div>
            <a href="https://blog.fab.city/" target="_blank" class=" fabcity-btn summary-btn">
              <button class="fabcity-btn">
                Apply now
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid bg-black">
        <div class="row fabcity-pb-10">
          <div class="text-white">
            <div class=" offset-md-4 col-md-8">
              <h2 class="mddi-title-content fabcity-pt-40">
                Master in Design for
                Distributed Innovation
              </h2>
            </div>
            <div class=" offset-md-4 col-md-8">
              <span class="mddi-sub-title">
                Globally connected, local changemakers
              </span>
              <p class="fabcity-font-size-50 fabcity-mb-50">The Master in Design for Distributed Innovation (MDDI) is organised by Fab City Foundation and the Institute for Advanced Architecture of Catalonia. It is co-delivered by Fab Lab Barcelona at IAAC, local nodes of the distributed campus, and is supported by the global Fab Lab Network.</p>
            </div>
          </div>
        </div>
    </div>

    <div class="container-fluid bg-blue" id="basic-information">
      <div class="row fabcity-pt-30 text-black">
        <div class=" offset-md-4 col-md-8">
          <h2 class="fabcity-mb-10 display-block">
            Basic Information
          </h2>
        </div>
      </div>

      <div class="row">
        <div class="offset-md-4 col-md-8">
          <div class="row mddi-basic-info-content">
            <div class="col-12">
              <div class="line-separator width-100"></div>
            </div>
            <div class="col-6">
              <span class="fabcity-font-size-14 fabcity-mb-5 display-block">Length</span>
              <span class="display-block fabcity-font-size-20">
                10 months, from October 2022 — June 2023 Part-Time
              </span>
            </div>
            <div class="col-6">
              <span class="fabcity-font-size-14 fabcity-mb-5 display-block">Price</span>
              <span class="display-block">
                12.000 usd
              </span>
            </div>
          </div>
          <div class="row mddi-basic-info-content">
            <div class="col-12">
              <div class="line-separator width-100"></div>
            </div>
            <div class="col-6">
              <span class="fabcity-font-size-14 fabcity-mb-5 display-block">Where?</span>
              <span class="display-block fabcity-font-size-20">
                Worldwide: Puebla, Lima, Barcelona, Paris, Shanghai, Bali
              </span>
            </div>
            <div class="col-6">
              <span class="fabcity-font-size-14 fabcity-mb-5 display-block">Format</span>
              <span class="display-block">
                Online and in-person in association with local nodes all over the world.t
              </span>
            </div>
          </div>
          <div class="row mddi-basic-info-content">
            <div class="col-12">
              <div class="line-separator width-100"></div>
            </div>
            <div class="col-6">
              <span class="fabcity-font-size-14 fabcity-mb-5 display-block">Language</span>
              <span class="display-block fabcity-font-size-20">
                English
              </span>
            </div>
            <div class="col-6">
              <span class="fabcity-font-size-14 fabcity-mb-5 display-block">Credits</span>
              <span class="display-block">
                60 ECTS
              </span>
            </div>
          </div>
          <div class="row mddi-basic-info-content">
            <div class="col-12">
              <div class="line-separator width-100"></div>
            </div>
            <div class="col-12">
              <span class="fabcity-font-size-14 fabcity-mb-5 display-block">Admission Requirements</span>
              <span class="display-block fabcity-font-size-20">
                Bachelor or higher degree in Industrial Design, Product Design, Architecture and Urban Design, Graphic Design, Interaction Design, Computer Science, Engineering (Mechanical, Chemical, Product, Material), Sociology, Anthropology, Economy, and other related professions.
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid bg-beige fabcity-pt-30 with-line-underneath">
      <div class="row fabcity-pb-30">
        <div class="text-black">
          <div class="offset-md-4 col-md-8" id="presentation">
            <h2 class="fabcity-mb-50 display-block">
              Presentation
            </h2>
          </div>
          <div class=" offset-md-4 col-md-8">
            <p class="fabcity-font-size-18 fabcity-mb-20">
              The Master in Design for Distributed Innovation (MDDI) is a distributed learning program focused on the intersection of design, technology, ecosystems and communities to improve interspecies wellbeing. It connects a global community of changemakers with local innovators in order to address complex challenges. Combining online and hands-on learning, it supports the development of the social and technical skills needed to develop projects for positive impact in local communities that aim for global transformational change.
            </p>
            <p class="fabcity-font-size-18 fabcity-mb-20">
              The MDDI presents the next frontier in global impact education. As a distributed program, students will experience a mix of online seminars with in-person mentorships and the production of physical prototypes in their local nodes. The program is structured in three modules of one trimester each, plus a final project implementation. Each module focuses on different levels of the Fab City Full Stack, across three tracks: Ecosystems, Communities and Technology.
            </p>
          </div>

          <div class=" offset-md-4 col-md-8">
            <img src="assets/images/pages/mddi/board.jpg" alt="" class="img-fluid min-width-100 fabcity-mb-50">
          </div>

          <div class="offset-md-4 col-md-8">
            <div class="line-separator"></div>
            <h3>
              Why distributed design and innovation?
            </h3>
            <p class="fabcity-font-size-18 fabcity-m-tb-20">
              To transition to a new production paradigm, in which extractive industrial practices are replaced by regenerative global knowledge networks, design must take on a new role. The same industrial model that has caused a constellation of planetary crises is also the context in which design became a revered discipline. Design education has been based on these competitive, colonial foundations and globalised ideals of the past. A shift is needed towards how we learn to,   from and with design by imagining new processes to reconfigure the relationship between humans and the natural ecosystems around them; methodologies and approaches rethought to learn and understand how to design from and  for diverse contexts.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid fabcity-pt-30">
      <div class="row fabcity-pb-30">
        <div class="text-black">
          <div class="offset-md-4 col-md-8">
            <h3>
              The Distributed Design and Innovation Approach
            </h3>
            <p class="fabcity-font-size-18 fabcity-m-tb-20">
              Over the last two centuries, we have refined technology and infrastructure for the movement of atoms on a planetary scale in the form of raw materials, using energy sources associated with fossil fuels; we have also transformed these materials into consumer goods, thanks to industrial processes that generate high emissions and an enormous amount of waste. This economic model, which is based on infinite growth through the use of supposedly infinite natural resources, gives precedence to economic benefits over caring for biological and social systems. In reality, the labour, energy and raw materials associated with most of the products we consume are not cheap as they are advertised, because their environmental and social impacts are not gauged within the real costs of any product or company. Externalities are hidden, charged to local communities and ecosystems that sustain the global supply chains.
            </p>
            <p class="fabcity-font-size-18 fabcity-m-tb-20">
              The Fab City global initiative – conceived between Barcelona and Boston – proposes a change in our production paradigm to a new one in which atoms stop travelling thousands of kilometres to get to our hands and stomachs; on the contrary, they mostly circulate locally. In Fab Cities, bits of information travel great distances around the planet, thanks to the digital revolution in telecommunications and computation, and emerging digital manufacturing technologies. Digital fabrication will become the key to developing over the upcoming decades an urban model focused on the development of locally productive cities and bioregions that are globally connected.
            </p>
            <p class="fabcity-font-size-18 fabcity-m-tb-20">
              MDDI combines the internationality of the Fab City Foundation with the pedagogical expertise of Fab Lab Barcelona and the Institute of Advanced Architecture of Catalonia. With the support of the Fab Lab Network, the program delivers the next frontier in global education: project driven, context aware, and hands on. The distributed learning model allows scholars to learn and practice in their own context, whilst giving access to lectures, experiences and knowledge online, delivered by a global network of experts, institutions and peers. By establishing projects within their own communities, MDDI students are part of personal and real-world transformation, while being part of a global network of changemakers who are navigating complex systems in order to bring about a paradigm shift in our current socio-economic model. The program follows ethical principles that guide both the academic curriculum and extended impact of the program:
            </p>
            <div class="line-separator"></div>
            <p class="fabcity-font-size-18 fabcity-m-tb-20">
              Trasformative focused on supporting and developing local leadership to enable transformation at the local scale, while contributing to and learning from -and with- global networks.
            </p>
            <div class="line-separator"></div>
            <p class="fabcity-font-size-18 fabcity-m-tb-20">
              Planet Centered using design, technology and innovation to address environmental and social challenges focusing on the stability of the planet.
            </p>
            <div class="line-separator"></div>
            <p class="fabcity-font-size-18 fabcity-m-tb-20">
              Distributed sharing global knowledge and applying it locally. Supported by the global Fab Lab Network and associated cities of Fab City Global Initiative. Realised through coordinated nodes hosting groups of students and tutors.
            </p>
            <div class="line-separator"></div>
            <p class="fabcity-font-size-18 fabcity-m-tb-20">
              Inclusive and just recognising our global differences and learning from them. Promoting respect to diverse cultures, backgrounds, and worldviews.            </p>
            <div class="line-separator"></div>
            <p class="fabcity-font-size-18 fabcity-m-tb-20">
              Collaborative connecting diverse actors from local ecosystems by transferring capacities and knowledge, and sharing common objectives globally.
            </p>
            <div class="line-separator"></div>
            <p class="fabcity-font-size-18 fabcity-m-tb-20">
              MDDI is designed using the The Fab City Full Stack multiscale approach outlined by the Fab City global initiative. This layered approach forms the basis of the program, framing the methodological approach to conceptualising transformational change. The full stack is a working taxonomy developed by the Fab City Foundation to organise and implement projects at different scales. Composed of complementary and non-linear layers for cities, regions and towns, to make the Fab City implementation in a multiscalar and ecosystemic approach operational. Each interconnected layer is a space of practice and deployment, scaling Fab Lab experiences to a bioregional level in a systemic approach.
            </p>

            <img src="assets/images/pages/mddi/board.jpg" alt="" class="img-fluid min-width-100 fabcity-mb-50">

          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid bg-green fabcity-pt-30 with-line-underneath" id="faculty">
      <div class="row fabcity-pb-30">
        <div class="text-black">
          <div class="offset-md-4 col-md-8">
            <h2 class="fabcity-mb-50 display-block">
              International Faculty and Guests
            </h2>
          </div>
          <div class=" offset-md-4 col-md-8">
            <p class="fabcity-font-size-18 fabcity-mb-20">
              MDDI program has been designed by researchers, practitioners and thought-leaders from Fab City Foundation, Fab Lab Barcelona, IAAC and the global Fab Lab Network ecosystems, gathering a unique and internationally recognised team.            </p>
          </div>

          <div class="offset-md-4 col-md-8">

            <h3 class="fabcity-mt-30">
              Directors
            </h3>

            {% for group in site.data.people-mddi.groups %}
            {% if group.group-id == "directors" %}
            <div class="row fabcity-mt-15 fabcity-mb-50">
              <div class="col-md-12 people-container">
                {% for person in group.people %}
                <div class="person-card flex-column flex align-items-center text-center">
                  <div class="picture-person fabcity-mb-30" style="background-image:url({{person.picture | relative_url }})"></div>
                  <p class="person-name display-block">
                    {{person.name}}
                  </p>
                  <span class="display-block fabcity-font-size-14">{{person.position}}</span>
                  {% if person.second-position %}
                  <span class="display-block fabcity-font-size-14">{{person.second-position}}</span>
                  {% endif %}
                  {% if person.third-position %}
                  <span class="display-block fabcity-font-size-14">{{person.third-position}}</span>
                  {% endif %}
                </div>
                {% endfor %}
                <i aria-hidden="true"></i>
                <i aria-hidden="true"></i>
                <i aria-hidden="true"></i>
                <i aria-hidden="true"></i>
              </div>
            </div>
            {% endif %}
            {% endfor %}
          </div>

          <div class="offset-md-4 col-md-8">

            <h3 class="fabcity-mt-30">
              Faculty
            </h3>

            {% for group in site.data.people-mddi.groups %}
            {% if group.group-id == "sub-directors" %}
            <div class="row fabcity-mt-15 fabcity-mb-50">
              <div class="col-md-12 people-container">
                {% for person in group.people %}
                <div class="person-card flex-column flex align-items-center text-center">
                  <div class="picture-person fabcity-mb-30" style="background-image:url({{person.picture | relative_url }})"></div>
                  <p class="person-name display-block">
                    {{person.name}}
                  </p>
                  <span class="display-block fabcity-font-size-14">{{person.position}}</span>
                  {% if person.second-position %}
                  <span class="display-block fabcity-font-size-14">{{person.second-position}}</span>
                  {% endif %}
                </div>
                {% endfor %}
                <i aria-hidden="true"></i>
                <i aria-hidden="true"></i>
                <i aria-hidden="true"></i>
              </div>
            </div>
            {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>


    <div class="container-fluid" id="competences">
      <div class="row fabcity-pt-30 text-black">
        <div class=" offset-md-4 col-md-8">
          <h2 class="fabcity-mb-10 display-block fabcity-mb-40">
            Competences
          </h2>
        </div>
      </div>

      <div class="row fabcity-mb-30">
        <div class="row offset-md-4 col-md-8">
          <div class="col-sm-6 col-md-6 col-lg-3 text-center">
            <img src="assets/images/pages/resources/FabCity_resourcepage-16.png" class="img-fluid" alt="">
            <span class="competence-title">Technology</span>
            <span class="competence-detail">Coding, digital fabrication, bio-materials, bio-sensors and Blockchain.</span>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-3 text-center">
            <img src="assets/images/pages/resources/FabCity_resourcepage-17.png" class="img-fluid" alt="">
            <span class="competence-title">Methodological</span>
            <span class="competence-detail">Distributed design, new economies, collaborative co-creation.</span>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-3 text-center">
            <img src="assets/images/pages/resources/FabCity_resourcepage-18.png" class="img-fluid" alt="">
            <span class="competence-title">Organizational</span>
            <span class="competence-detail">Horizontal leadership, co-creation, team building, humanistic leadership.</span>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-3 text-center">
            <img src="assets/images/pages/resources/FabCity_resourcepage-19.png" class="img-fluid" alt="">
            <span class="competence-title">Applied</span>
            <span class="competence-detail">Systems design, develop prototypes, implement interventions, project evaluation.</span>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid bg-black fabcity-pb-50" id="student-profile">
      <div class="row fabcity-pt-30 text-black">
        <div class=" offset-md-4 col-md-8">
          <h2 class="fabcity-mb-10 display-block fabcity-mb-40 text-white">
            Student Profile
          </h2>
        </div>
        <div class=" offset-md-4 col-md-8 text-white">
          <p class="fabcity-font-size-18 fabcity-mb-20">
            As a MDDI candidate, participants might be already working in the public or private sector, academic institutions or, may come from an entrepreneurial background having started their own business related to planetary restoration. The program aims to become a platform to boost and accelerate students’ capabilities to produce change in their own contexts, and to accelerate the transition towards a productive and sustainable model of production and consumption in their communities.
        </div>
      </div>

      <div class="row fabcity-mb-30">
        <div class="container offset-md-4 col-md-8">
          <div class="row ">
            <div class="col-sm-6 col-md-6 col-lg-4 fabcity-mt-20">
              <div class="student-card">
                <p>Creative industries & makers</p>
                <div class="line-separator fabcity-mb-10"></div>
                <span>
                Designers, Makers, Architects, Urbanists and Artists who want to expand their knowledge
                by incorporating new design methodologies, technological skills and theoretical arguments to deploy in their personal and professional projects sustainably.
              </span>
              </div>

            </div>
            <div class="col-sm-6 col-md-6 col-lg-4 fabcity-mt-20">
              <div class="student-card">
                <p>Entrepreneurs, social Innovators</p>
                <div class="line-separator fabcity-mb-10"></div>
                <span>
                Professionals from all areas who wish to transform their ideas into social innovations
                or start their sustainable entrepreneurship by expanding their technical skills and design methods to become agents of positive change.
              </span>
              </div>

            </div>
            <div class="col-sm-6 col-md-6 col-lg-4 fabcity-mt-20">
              <div class="student-card">
                <p>Government employees &NGOs</p>
                <div class="line-separator fabcity-mb-10"></div>
                <span>
                Professionals who are already making changes from inside in public services or non- governmental-organisations and want to accelerate the impact of policy by adopting an innovation culture.
              </span>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="offset-md-4 col-md-8">
          <div class="line-separator white width-100"></div>
          <h3 class="fabcity-mt-30 text-white fabcity-mb-20">
            Professional Opportunities
          </h3>
        </div>
        <div class="container offset-md-4 col-md-8">
          <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-4">
              <img src="/assets/images/pages/mddi/professional-oportunities.jpg" alt="" class="img-fluid width-100">
            </div>
            <div class="col-sm-6 col-md-6 col-lg-8">
            <span class="text-white">
              As a MDDI candidate, participants might be already working in the public or private sector, academic institutions or, may come from an entrepreneurial background having started their own business related to planetary restoration. The program aims to become a platform to boost and accelerate students’ capabilities to produce change in their own contexts, and to accelerate the transition towards a productive and sustainable model of production and consumption in their communities.
            </span>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container-fluid fabcity-pb-50 with-line-underneath" id="partners">
      <div class="row fabcity-pt-30 text-black">
        <div class=" offset-md-4 col-md-8">
          <h2 class="fabcity-mb-10 display-block fabcity-mb-40">
            Partners
          </h2>
        </div>
      </div>
      <div class="row">
        <div class="container offset-md-4 col-md-8">
          <div class="row flex align-items-center">
            <div class="col-sm-6 col-md-6 col-lg-4 fabcity-mt-20">
              <img src="/assets/images/pages/mddi/fab-lab-bcn.png" alt="">
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4 fabcity-mt-20">
              <img src="/assets/images/pages/mddi/iaac.png" alt="">
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4 fabcity-mt-20">
              <img src="/assets/images/pages/mddi/fab-foundation.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid fabcity-pt-50 fabcity-pb-30 with-line-underneath bg-beige" id="faqs">
      <div class="row fabcity-pt-30 text-black">
        <div class=" offset-md-4 col-md-8">
          <h2 class="display-block fabcity-mb-40">
            FAQs
          </h2>
        </div>
      </div>
      <div class="row">
        <div class="offset-md-4 col-md-8 fabcity-mb-50">
          <h3 class=" fabcity-mb-20">
            What is Distributed Education?
          </h3>
          <span>
            Distributed Education is a blended methodology that mixes online and in-person education formats that use physically distributed and digitally interconnected global infrastructure nodes, like Fab Labs, that become classrooms. Students practice synchronously and asynchronously, creating a global and distributed campus.Whilst the approach is similar to distance education, it takes the concept a step further, distributing the development and circulation of content between the nodes as well.
          </span>
        </div>
        <div class="offset-md-4 col-md-8 fabcity-mb-50">
          <h3 class=" fabcity-mb-20">
            What if there is no node in my city?
          </h3>
          <span>
            You can fill in the form and let us know where you are based. The MDDI coordination team will get in touch with you to see if it's possible to connect you to a node or Fab Lab close to you. If for any reason we can’t connect your city to the program, we’ll endeavour to help you to join your closest existing node.          </span>
        </div>
        <div class="offset-md-4 col-md-8 fabcity-mb-50">
          <h3 class=" fabcity-mb-20">
            How will the local knowledge of my community contribute to the program?
          </h3>
          <span>
            Each MDDI node offers students access to the local community and networks to deploy their projects in a bottom-up approach. This is important in reaching the goals of the Fab City global initiative. It all starts with building ecosystems within cities and developing sustainable initiatives that will shape the new global production paradigm.
          </span>
        </div>
        <div class="offset-md-4 col-md-8 fabcity-mb-50">
          <h3 class=" fabcity-mb-20">
            Do I need to have ‘Fab Lab’ skills to apply?
          </h3>
          <span>
            We don’t require any specific technical skills. We look for diverse student profiles, with different backgrounds and expertise. MDDI is designed for everyone interested in design,  sustainability, technologies, ecologies and cities.
          </span>
        </div>
        <div class="offset-md-4 col-md-8 fabcity-mb-50">
          <h3 class=" fabcity-mb-20">
            Do I need to have a project to apply?
          </h3>
          <span>
            Because our student profile includes different backgrounds and disciplines, every application will be evaluated under its individual merits. To apply you only need a professional diploma, a letter of interest and a portfolio or a project-based CV.
          </span>
        </div>
        <div class="offset-md-4 col-md-8 fabcity-mb-50">
          <h3 class=" fabcity-mb-20">
            What Master will I receive when I graduate?
          </h3>
          <span>
            You will receive a Master in Design for Distributed Innovation degree accredited by the Polytechnic University of Catalonia* with 60 European Credit Transfer and Accumulation System (ECTS).
            <br/>*under accreditation process.
          </span>
        </div>
      </div>
    </div>

  </div>
</div>
