---
layout: home
title: Fab City Global
---
<div style="background-image: radial-gradient(rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.5) 80%), url('/assets/images/intro.png'); background-size: cover; background-position:center; height:700px;">
  {% include navbar.html %}
  <div class="container-fluid white">
    <div class="row row-cols-2 spaced-out mr-xl-4">
      <div class="col-md-6 ml-xl-4 mr-xl-4">
        <div class="my-4">
          <div class="placeholder" style="height:300px">
          </div>
        </div>
      </div>
      </div>
      <div class="row d-flex flex-colums row-cols-4 pt-3 pl-xl-5 pl-lg-5 pr-xl-5 pr-lg-5 pb-3">
        <div class="col-md-5">
          <div class="display-4 text-uppercase light-letters">
            Fab City Network
          </div>
          <div class="h5">
            The cities network share working practices and<br class="d-none d-sm-block" />
            knowledge with the wider network as well as a<br class="d-none d-sm-block" />
            deep alignment of purpose and culture.
          </div>
        </div>
      </div>
    </div>
</div>

  <div class="borderline dark"></div>
<!-- First Section -->
 <section>
  <br />
  <div class="container">
      <div class="text-center h2 text-wrap">
        Fab Cities, Regions and Countries all have the same goal: to
        locally produce energy, food and products in order to
        reduce their environmental and social impact on the planet,
        and globally share best practices through open networks.
      </div>
    </div>
  </section>

<!-- Second section / Map -->

<!-- https://datamaps.github.io/ -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
<script src="{{ '/assets/js/worldmap.js' | relative_url }}"></script>

<div class="container-fluid dark-bg">
     <div id="container" class="ml-1 ml-xs-1 ml-md-5 ml-lg-5 ml-xl-5 mr-1 mr-xs-1 mr-md-5 mr-lg-5 mr-xl-5 container-fluid worldmap"></div>
</div>

        <script type="text/javascript">
                var bombMap = new Datamap({
                    element: document.getElementById('container'),
                    scope: 'world',
                    geographyConfig: {
                        popupOnHover: false,
                        highlightOnHover: false,
                        borderWidth: 1,
                        borderOpacity: 1,
                        borderColor: '#2e2e2e'
                    },
                    fills: {
                        'IND': '#22dba4',
                        defaultFill: '#2e2e2e'
                    },
                });
          var bombs = [
          {% for city in site.data.global-initiative.cities %}
              {   name: '{{ city.name }}',
                  city: '{{ city.name }}',
                  country: '{{ city.country }}',
                  radius: 8,
                  fillKey: 'IND',
                  significance: '{{ city.org }}',
                  date: '{{ city.joined }}',
                  latitude: '{{ city.latitude }}',
                  longitude: '{{ city.longitude }}',
                  link: '{{ city.webpresence }}',
                },
          {% endfor %}
              ];

          // draw bubbles for bombs
          bombMap.bubbles(bombs, {
              popupTemplate: function (geo, data) {
                // return ['<div type="button" class="btn btn-lg btn-danger" data-toggle="popover" title="Popover title"',
                // 'data-content="And heres some amazing content. Its very engaging. Right?">Click to toggle popover</div>'];
                return ['<div id="popup" class=\"card map popup\" style="min-width:250px;position:absolute; z-index:3000;">',
                  '<div class=\"mb-3 map\">',
                  '<div class=\" h4 medium pl-3 pr-3 pt-3 card-title fat-letters map\">' + data.city,
                  '<span class=\"float-right dismiss\" onclick=\"d3.selectAll(\'.popup\').style(\'display\', \'none\');">&times;</span>',
                  '</div>',
                  '<div class="borderline dark w-100 thin"></div>',
                  '<p class=\"p-3 card-text\">' + data.significance +'</p>',
                  '<a href=\"' + data.link + '\" class="p-3 black map">Read more &rarr;</a>',
                  '</div>',
                  '</div>'].join('');
              }
          });
        </script>

<div class="border-bottom border-1 border-black"></div>


<!-- Upcoming scrollbar -->
<section class="bg-yellow">
  <div class="container">
    <div class="row spaced-out row-cols-2 ml-3 ml-lg-0 ml-xl-0 mr-lg-5 mr-xl-5">
      <div class="col-6 pl-0">
        <h1 class="h1 fat-letters pb-xl-4 text-left">Upcoming</h1>
      </div>
      <div class="col d-block d-sm-none">
        <div class="row row-cols-2 spaced-out float-right pr-3">
          <div class="col-3">
            <a class="arrow black big clickable align-bottom" onclick="toRight_upcoming()">&#8249;</a>
          </div>
          <div class="col-3 float-right text-right">
            <a class="arrow black big clickable align-bottom" onclick="toLeft_upcoming()">&#8250;</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row w-100 row-cols-1 ml-1 ml-lg-0 ml-xl-0 mr-lg-5 mr-xl-5">
      <div class="col-md-12">
        <div class="nobar" id="upcoming" onscroll="scrollPosi_upcoming()" style="display:inline-block;width:100%;overflow-y:auto;">
					<ul class="timeline timeline-horizontal">
            {% for item in site.data.upcoming %}
						    <li id="{{ item.number }}" class="timeline-item"> <!-- becomes active -->
                  <div class="card rounded-0 border-0 h-100" style="max-width:230px">
                    <div class="m-3">
                      <div class="border-bottom border-1 border-black mb-2"></div>
                      <div class="small">{{ item.date }} <div class="float-right small">&rarr; {{ item.place }}</div></div>
                      <a class="black medium-lines text-wrap" href="{{ item.link }}" height="50px">
                      <div class="pt-3">{{ item.namelink }}</div>
                      <div class="pt-3">
                        <img src="{{ item.image }}"  style="display:block;height:150px;max-width:240px" class="w-100" alt="" />
                      </div>
                      </a>
                  </div>
                </div>
                </li>
              {% endfor %}
					</ul>
        </div>
				</div>
      </div>
    </div>
    <div class="row position-absolute spaced-out w-100" style="margin-top: -13em">
      <div class="col ml-5">
        <a class="position-absolute arrow black big clickable align-middle d-none d-sm-block" onclick="toRight_upcoming()">&#8249;</a>
      </div>

      <div class="col float-right text-right">
        <a class="arrow black big clickable align-middle d-none d-sm-block" onclick="toLeft_upcoming()">&#8250;</a>
      </div>
    </div>
</section>

<script type="text/javascript">
  function toLeft_upcoming() {
    var elmnt = document.getElementById("upcoming");
    var x = elmnt.scrollLeft;
    var w = elmnt.scrollWidth;
    var c = elmnt.clientWidth;
    var s = (w - c) / 6 ;
    elmnt.scrollLeft += s;
  }
  function toRight_upcoming() {
    var elmnt = document.getElementById("upcoming");
    var x = elmnt.scrollLeft;
    var w = elmnt.scrollWidth;
    var c = elmnt.clientWidth;
    var s = (w - c) / -7;
    elmnt.scrollLeft += s;
  }
</script>

<div class="borderline dark"></div>


<!-- Ready to join? -->
<section class="bg-grey">
  <div class="container-fluid">
    <div class="row row-cols-2 ml-lg-5 ml-xl-5 mr-lg-5 mr-xl-5">
      <div class="col-md-6">
            <div class="display-4 fat-letters">Is your city ready to join the Fab City Network?</div>
            <button type="button" class="d-block d-sm-none btn pr-lg-4 pl-lg-4 small btn-action text-uppercase">Start Now</button>
          </div>
        <div class="col-md-6 pt-5">
          <button type="button" class="d-none d-sm-block float-right btn pr-lg-4 pl-lg-4 small btn-action text-uppercase">Start Now</button>
        </div>
      </div>
    </div>
</section>
