<section id="claim-4">
    <div class="container">
        <div class="row" style="padding-top: 100px;">
            <div class="col-md-4 services">
                <ul>
                    <li><h1>{{ site.data.home-texts.service1 }}</h1> </li>
                    <li><h1>{{ site.data.home-texts.service2 }}</h1> </li>
                    <li><h1>{{ site.data.home-texts.service3 }}</h1> </li>
                    <li><h1>{{ site.data.home-texts.service4 }}</h1> </li>
                </ul>
            </div>
            <div class="col-md-4 right">
                <p>{{ site.data.home-texts.whatwedo }}</p>
                <a href="{{ site.baseurl }}/about" class="page-scroll btn btn-clear" target="_blank">About the Initiative</a>
            </div>
        </div>
    </div><!-- close container-->

    <div class="xl-title"><h1 class="xl"> {{ site.data.home-texts.whatwedobtn }} </h1></div>
</section>



