<section id="get-involved">
    <div class="container absolute">
        <div class="row quote-box">
            <div class="col-md-4">
                <h2 class="quote-title">CALL TO ACTION —WHAT’S NEXT?</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <a href="{{ site.baseurl }}/documents/Manifesto.pdf" target="_blank"><h4 class="quote-subtitle">ACTION 1: DOWNLOAD AND SHARE THE FAB CITY MANIFESTO &rarr; </h4></a>
                <a href="{{ site.baseurl }}/documents/Fab_City_Commitment_2018.pdf" target="_blank"><h4 class="quote-subtitle">ACTION 2: JOIN YOUR CITY TO THE FAB CITY NETWORK &rarr; </h4></a>
                <a href="https://www.fablabs.io/signin" target="_blank"><h4 class="quote-subtitle">ACTION 3: JOIN THE FAB LAB NETWORK &rarr; </h4></a>
            </div>
            <div class="col-md-5 text-right">
               <a href="mailto:info@fablabbcn.org" target="_blank"><h4 class="quote-subtitle">Email</h4></a>
                <a href="https://twitter.com/fabcityglobal?lang=en"><h4 class="quote-subtitle" target="_blank">Twitter</h4></a>
                <a href="https://www.facebook.com/fabcityglobal/" target="_blank"><h4 class="quote-subtitle">Facebook</h4></a>
                <a href="https://github.com/fabcity" target="_blank"><h4 class="quote-subtitle">Github</h4></a>
            </div>
        </div>
    </div><!-- close container-->

    <div class="img-cover bg-6" style="background-image: url('{{ site.baseurl }}/img/general/map.png');"></div>
</section>


 <!--
  <div class="col-md-6">
      <ul class="list-inline social-buttons">
          {% for network in site.social %}
          <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
          </li>
          {% endfor %}
      </ul>
  </div>
--> 

