<section id="global-context">
    <div class="container">
        <div class="row global-context-intro">
            <div class="col-md-4">
                <h2 class="quote-title">{{ site.data.about-texts.title1 }}</h2>
                <p>{{ site.data.about-texts.text1 }}</p>
            </div>
            <div class="col-md-4">
                <div class="bg-global-1 img-cover" style="background-image: url('{{ site.baseurl }}/img/general/{{ site.data.about-texts.img1a }}');"></div>
            </div>
            <div class="col-md-4">
                <div class="bg-global-2 img-cover" style="background-image: url('{{ site.baseurl }}/img/general/{{ site.data.about-texts.img1b }}');"></div>
            </div>
        </div>
    </div><!-- close container-->
</section>



