<!-- BLOG -->
<section>
  <div class="container blog">
    <div class="row">
      <h1 class="display-4 uppercase">Blog</h1>
    </div>
    <div class="row row-cols-1 row-cols-1 row-cols-xs-1 row-cols-sm-1 row-cols-md-4 row-cols-lg-4 row-cols-xl-4"> -->
      <!-- Blog CONTENT -->
      <!-- {% for item in site.data.blog.posts limit:4 %}
      <div class="col-sm blog-item line-top mr-1 ml-1 mr-xs-1 mr-md-3 mr-lg-3 mr-xl-4">
        <a href="{{ item.link }}">
        <div class="medium black blog-item-title fat-letters ">
          {{ item.title }}
        </div>
          <figure class="pb-xs-2 pt-sm-4 pt-md-3">
            <figcaption class="small black border-0 figure-caption text-right" >{{ item.date }}</figcaption>
            <img style="background-image:url('{{ item.image_url }}'); background-size:cover; background-position:center;height:200px;" class="w-100" alt="" />
          </figure>
        </a>
      </div>
      {% endfor %}
    </div>
      <div class="mt-3 text-center">
        <button type="button" class="btn pl-4 pr-4 pb-1 pt-1 small btn-action">More Posts</button>
      </div>
  </div>
</section>
