<header>
<div class="container-fluid pr-auto pl-auto">
  <div class="borderline"></div>
    <div class="row spaced-out">
      <div class="col-xs-12 col-md-6 col-lg-8">
          <div class="pl-2 row text-center row-cols-5 countdown" id="countdown"></div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 ">
        <div class="d-inline-flex flex-column">
            <h5 class="pt-5 pb-0 h-100 text-white">Until cities produce <br /> everything they consume.</h5>
        </div>
      </div>
      <div class="m-3 col-md-2 take-action mx-auto d-block">
          <button type="button" class="w-100 btn btn-primary take-button float-right" data-toggle="modal" data-target="#take-action">
            Take Action
          </button>
      </div>
      </div>
    <div class="borderline"></div>
  </div>
</header>
<script src="{{ '/assets/js/countdown.js' | relative_url }}"></script>
<script src="{{ '/assets/js/jquery.countdown.js' | relative_url }}"></script>
