<style>
  @font-face {
    font-family: IBMPlexSans-Light;
    src: url('{{ /assets/fonts/IBMPlexSans-Light.ttf | relative_url }}');
  }

  @font-face {
    font-family: IBMPlexSans-Regular;
    src: url('{{ /assets/fonts/IBMPlexSans-Regular.ttf | relative_url }}');
  }
  @font-face {
    font-family: IBMPlexSans-Thin;
    src: url('{{ /assets/fonts/IBMPlexSans-Thin.ttf | relative_url }}');
  }
  @font-face {
    font-family: IBMPlexSans-Medium;
    src: url('{{ /assets/fonts/IBMPlexSans-Medium.ttf | relative_url }}');
  }
</style>
