<section class="bg-black pb-1">
  <div class="container-fluid">
    <div class="row row-cols-2 pl-xl-4 pl-lg-4 pr-xl-4 pr-lg-4">
      <div class="col h3 fat-letters white text-left">
          Join the Fab City <br /> Network
      </div>
      <div class="col text-right">
        <img class="svg-white" src="assets/images/fabcitylogo-08.svg" width="60px" />
      </div>
    </div>
    <div class="row row-cols-2 pl-xl-4 pl-lg-4 pr-xl-4 pr-lg-4">
      <div class="col ml-3 mr-3 border-white border-bottom"></div>
    </div>
    <div class="row pl-xl-4 pl-lg-4 pr-xl-4 pr-lg-4">
      <div class="col-md-6">
        <div class="row row-cols-4">
      {% for item in site.data.footer.pages %}
      <div class="col-md-3">
        <a class="pt-2 pr-1 pb-1 white float-left" href="{{ item.link }}">{{ item.name }}</a>
      </div>
      {% endfor %}
        </div>
    </div>
      <div class="col-md-6 text-right">
        {% for item in site.data.footer.social %}
          <a class="nav-item white nav-link svg-icon float-right pl-2" href="{{ item.link }}" ><img class="nav-icon" src="{{ item.image_url }}" /></a>
        {% endfor %}
      </div>
    </div>
    <div class="row row-cols-2 pl-xl-4 pl-lg-4 pr-xl-4 pr-lg-4">
      <div class="col ml-3 mr-3 border-white border-bottom"></div>
    </div>
    <div class="row spaced-out row-cols-3 pl-xl-4 pl-lg-4 pr-xl-4 pr-lg-4">
      <div class="col-md-5">
      <div class="row">
        <div class="col-md-2">
          <div class="pt-3 white">
            Sign Up
          </div>
        </div>
        <div class="col-md-6 pt-2">
         <input class="w-100 subscribe-newsletter rounded-0 border-0 border-light border-bottom bg-black" placeholder="Newsletter Subscription" />
        </div>
        <div class="col-md-1">
          <div class="text-right postion-absolute float-right contain" style="line-height: 73px !important;">
            <a type="submit" class="white arrow" href="#">&rarr;</a>
          </div>
        </div>
      </div>
      </div>
      <div class="col-md-4 white">
        <div class="pt-3 font-weight-bold">
          Location
        </div>
          <address>
            Institute for Advanced Architecture of Catalonia, <br />
            Fab Lab Barcelona <br />
            Barcelona, <br />
            Pujades 102, 08005 <br />
          </address>

        </div>
      <div class="col-md-2 white">
        <div class="float-right mr-0 mr-md-0 ml-xl-5 mr-xl-0">
          <div class="pt-3 font-weight-bold">
            Contact
          </div>
          hello@fab.city
        </div>
      </div>
      </div>
      <div class="row row-cols-2 pl-xl-4 pl-lg-4 pr-xl-4 pr-lg-4">
        <div class="col ml-3 mr-3 border-white border-bottom"></div>
      </div>
      <div class="row spaced-out row-cols-5 pt-2 pl-xl-4 pl-lg-4 pr-xl-4 pr-lg-4">
        <div class="col-md-2">
          <div class="white">Powered by</div>
        </div>
        <div class="col-md-2">
          <img class="nav-icon" style="margin: 10px 0 20px 0;" src="{{ '/assets/images/rainbow.png' | relative_url }}" height="50px">
        </div>
        <div class="col-md-2">
          <img class="nav-icon" style="margin: 10px 0 20px 0;" src="{{ '/assets/images/rainbow.png' | relative_url }}" height="50px">
        </div>
        <div class="col-md-2">
          <img class="nav-icon" style="margin: 10px 0 20px 0;" src="{{ '/assets/images/rainbow.png' | relative_url }}" height="50px">
        </div>
        <div class="col-md-2">
          <img class="nav-icon" style="margin: 10px 0 20px 0;" src="{{ '/assets/images/rainbow.png' | relative_url }}" height="50px">
        </div>
      </div>
      <div class="row row-cols-2">
        <div class="col border-white border-bottom"></div>
      </div>
      <div class="row row-cols-2 pt-2 pl-xl-4 pl-lg-4 pr-xl-4 pr-lg-4">
        <div class="col-md-6">
          <div class="row row-cols-2">
            <div class=" pl-3 pr-0">
              <img class="nav-icon" style="margin: -3px 0 5px 0;" src="{{ '/assets/images/rainbow.png' | relative_url }}" height="10px">
            </div>
            <div class="col-md-9 ml-0 pl-0">
              <div class="white happiness uppercase font-weight-bold pl-1"> Made With happiness</div>
            </div>
          </div>
        </div>
        <div class="col-md-6 text-right white small float-right">
          © Fab City, Terms, Legal, Privacy
        </div>
      </div>
    </div>
</section>

<!-- JS -->
<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
