<div class="footer container-fluid bg-black fabcity-pb-50 fabcity-pt-20">
  <div class="row fabcity-mb-20">
    <div class="col-md-6 footer-header-content position-relative">
      <span class="logo-footer">
        <img class="svg-white" src="{{ '/assets/images/fabcity-logo-color.png' | relative_url }}" style="width: 60px; margin-right: 20px;"/>
      </span>
      <span class="text-justify text-white no-margin" style="width: auto">
        Collective of civic leaders, makers, urbanists and innovators working on shifting the industrial urban paradigm to one that better supports life on Earth.
      </span>
    </div>
  </div>

  <div class="flex nav-footer space-between align-items-center no-footer-mobile">
    {% for item in site.data.footer.pages %}
    <div>
      <a class="text-white" href="{{ item.link }}">{{ item.name }}</a>
    </div>
    {% endfor %}

    <div class="footer-social-icons flex">
      {% for item in site.data.footer.social %}
      <a class="white nav-link" href="{{ item.link }}" target="_blank">
        <img class="nav-icon" src="{{ item.image_url | relative_url }}" />
      </a>
      {% endfor %}
    </div>
  </div>



  <div class="flex mobile-footer-nav nav-footer space-between fabcity-pb-30 fabcity-pt-10">

      <div class="width-50 flex flex-column">
        {% for item in site.data.footer.pages %}
          {% if item.position == "left" %}
            <a class="text-white display-block fabcity-mt-20" href="{{ item.link }}">{{ item.name }}</a>
          {% endif %}
        {% endfor %}
      </div>

      <div class="width-50 flex flex-column align-items-end">
        <div class="flex flex-column height-100">
          {% for item in site.data.footer.pages %}
            {% if item.position == "right" %}
            <a class="fabcity-ml-20 text-white display-block fabcity-mt-20" href="{{ item.link }}">{{ item.name }}</a>
            {% endif %}
          {% endfor %}

          <div class="footer-social-icons flex">
            {% for item in site.data.footer.social %}
            <a class="white nav-link" href="{{ item.link }}" target="_blank">
              <img class="nav-icon" src="{{ item.image_url | relative_url }}" />
            </a>
            {% endfor %}
          </div>
        </div>

      </div>
  </div>

  <div class="flex fabcity-m-tb-20 footer-contact space-between align-items-end fabcity-pb-20">
    <div>
      <p class="fabcity-mb-15 text-white fabcity-font-size-18">Location</p>
      <p class="text-white fabcity-font-size-18">
        SA Fab City Foundation</br>
        Järveotsa tee 39-70</br>
        13520 Tallinn, Estonia
      </p>
    </div>
    <div>
      <p class="text-white fabcity-font-size-18">
        info@fab.city</br>
        Reg. code: 90014922</br>
        VAT number: EE102339491</br>
        Bank account: EE282200221072680677
      </p>
    </div>
    <div class="no-footer-mobile footer-partners">
      <img src="{{ '/assets/images/footer/fab_lab_bcn.png' | relative_url }}" alt="">
      <img src="{{ '/assets/images/footer/iaac.png' | relative_url }}" alt="">
      <img src="{{ '/assets/images/footer/mit.png' | relative_url }}" alt="">
      <img src="{{ '/assets/images/footer/fab_foundation.png' | relative_url }}" alt="">
    </div>
  </div>
  <div class="mobile-footer-partners footer-partners flex space-between">
    <img src="{{ '/assets/images/footer/fab_lab_bcn.png' | relative_url }}" alt="">
    <img src="{{ '/assets/images/footer/iaac.png' | relative_url }}" alt="">
    <img src="{{ '/assets/images/footer/mit.png' | relative_url }}" alt="">
    <img src="{{ '/assets/images/footer/fab_foundation.png' | relative_url }}" alt="">
  </div>

</div>

<!-- JS -->
<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
