<section class="bg-black pb-1">
  <div class="container-fluid">
    <div class="row row-cols-2 pl-xl-4 pl-lg-4 pr-xl-4 pr-lg-4 pb-3">
      <div class="col-md-1 white text-left">
        <img class="svg-white" src="/assets/images/fabcitylogo-08.svg" width="60px" />
      </div>
      <div class="col-md-3 white text-justify text-left pt-2">
        Collective of civic leaders, makers, urbanists and
        innovators working on shifting the industrial urban
        paradigm to one that better supports life on Earth.
      </div>
      <div class="col d-none d-sm-block text-right">
        {% for item in site.data.footer.social %}
          <a class="nav-item white nav-link float-right pt-4" style="padding-right:0 !important;" href="{{ item.link }}"><img class="nav-icon" src="{{ item.image_url }}" /></a>
        {% endfor %}
      </div>
    </div>
    <div class="row row-cols-2 pl-xl-4 pl-lg-4 pr-xl-4 pr-lg-4">
      <div class="col ml-3 mr-3 border-white border-bottom"></div>
    </div>
    <div class="row pl-xl-4 pl-lg-4 pr-xl-4 pr-lg-4 pb-1">
      <div class="col-md-6">
        <div class="row row-cols-4">
      {% for item in site.data.footer.pages %}
      <div class="col-md-3 col">
        <a class="pt-2 pr-1 pb-1 white float-left" href="{{ item.link }}">{{ item.name }}</a>
      </div>
      {% endfor %}
        </div>
    </div>
    </div>
    <!-- only visible on mobile screens -->
    <div class="d-block d-sm-none">
    <div class="row row-cols-2 pl-xl-4 pl-lg-4 pr-xl-4 pr-lg-4">
      <div class="col ml-3 mr-3 border-white border-bottom"></div>
    </div>
      <div class="row row-cols-2 text-center pl-xl-4 pl-lg-4 pr-xl-4 pr-lg-4">
        <div class="col text-right">
          {% for item in site.data.footer.social %}
            <a class="nav-item white nav-link p-3" href="{{ item.link }}"><img class="nav-icon" src="{{ item.image_url | relative_url }}" /></a>
          {% endfor %}
        </div>
      </div>
    </div>
    <!-- //only visible on mobile screens -->

    <div class="row row-cols-2 pl-xl-4 pl-lg-4 pr-xl-4 pr-lg-4">
      <div class="col ml-3 mr-3 border-white border-bottom"></div>
    </div>
    <div class="row spaced-out row-cols-3 pl-xl-4 pl-lg-4 pr-xl-4 pr-lg-4">
      <div class="col-md-3 white">
        <div class="pt-3 pb-1 font-weight-bold">
          Location
        </div>
          <address>
            Institute for Advanced Architecture of Catalonia, <br />
            Fab Lab Barcelona <br />
            Barcelona, <br />
            Pujades 102, 08005 <br />
          </address>
        </div>
      <div class="col-md-2 white">
        <div class="float-left">
          <div class="pt-3 pb-1 font-weight-bold">
            Contact
          </div>
          hello@fab.city
        </div>
      </div>
      <div class="col-md-3 white pb-2">
        <div class="pt-3 pb-1 font-weight-bold">
          Sign up
        </div>
          <input class="subscribe-newsletter rounded-0 border-0 border-light border-bottom bg-black" placeholder="Newsletter Subscription" />
            <a type="submit" class="white arrow-two" href="#" >&rarr;</a>

        </div>
      </div>
      <div class="row row-cols-2 pl-xl-4 pl-lg-4 pr-xl-4 pr-lg-4">
        <div class="col ml-3 mr-3 border-white border-bottom"></div>
      </div>
      <div class="row spaced-out row-cols-5 pt-2 pl-xl-4 pl-lg-4 pr-xl-4 pr-lg-4">
        <div class="col-md-2">
          <div class="white">Powered by</div>
        </div>
        {% for item in site.data.footer.powered %}
        <div class="col-md-2">
          <img class="nav-icon" style="margin: 10px 0 20px 0;" src="{{ item.image_url }}" height="50px">
        </div>
        {% endfor %}
      </div>
      <div class="row row-cols-2">
        <div class="col border-white border-bottom"></div>
      </div>
      <div class="row row-cols-2 w-100 pt-2 pl-0 pl-xl-4 pl-lg-4 pr-xl-4 pr-lg-4">
        <div class="col-md-1 m-0 pr-0">

          <!-- only visible on mobile screens -->
          <div class="row row-cols-3 pl-2 spaced-out">
            <div class="col-xs-1">
              <img class="d-block d-sm-none p-0" style="margin: -1px 0 5px 0;" src="{{ '/assets/images/rainbow.png' }}" height="10px !important">
            </div>
            <div class="col-xs-4">
              <div class="white smallest d-block p-0 d-sm-none text-uppercase font-weight-bold"> Made With happiness</div>
            </div>
            <div class="col-xs-4 d-block d-sm-none white small float-right text-right">
              © Fab City, Terms, Legal, Privacy
            </div>
          </div>
          <!-- // only visible on mobile screens -->

          <img class="d-none d-sm-block pr-0" style="margin: 0px -100px 5px 0px;" src="{{ '/assets/images/rainbow.png' }}" height="20px !important">
        </div>
        <div class="col-md-3 pl-0" style="margin-left:-65px;">
          <div class="white pl-0 text-left d-none d-sm-block happiness text-uppercase high-lines font-weight-bold"> Made With happiness</div>
        </div>

        <div class="col-md-8 text-right float-right white small float-right high-lines d-none d-sm-block p-0 m-0">
          © Fab City, Terms, Legal, Privacy
        </div>
      </div>
    </div>
</section>

<!-- JS -->
<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
