<nav class="navbar navbar-expand-lg navbar-transparent">
 <a class="navbar-brand" href="#"><img class="svg-white" src="assets/images/fabcity-white.svg" width="30px" /></a>
 <a class="uppercase fat-letters nav-item white brand-name" style="margin-left:-40px" href="#">Fab City</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      {% for item in site.data.navbar %}
      {% if item.align == "left" %}
      <a class="nav-item nav-link" href="{{ item.link }}">{{ item.name }}</a>
      {% endif %}
      {% endfor %}
    </div>
    <div class="navbar-nav ml-auto">
      {% for item in site.data.navbar %}
      {% if item.align == "right" %}
      <a class="nav-item nav-link" href="{{ item.link }}">{{ item.name }}</a>
      {% endif %}
      {% endfor %}
      <a class="nav-item nav-link svg-icon" href="#" ><img class="nav-icon" src="assets/images/facebook.svg" /></a>
      <a class="nav-item nav-link svg-icon" href="#" ><img class="nav-icon" src="assets/images/twitter.svg" /></a>
    </div>
  </div>
</nav>
