<nav class="navbar navbar-expand-lg navbar-transparent fabcity-header">
  <a class="navbar-brand" href="{{ '/' | relative_url }}">
     <img class="svg-white" src="{{ '/assets/images/fabcitylogo-07.svg' | relative_url }}" width="120px" />
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      {% for item in site.data.navbar %}
        {% if item.position == "left" %}
            {% if page.title == item.name %}
            <a class="nav-item nav-link p-3 " href="{{ item.link | relative_url }}">
                <div class="pb-1 border-1 border-bottom border-white rounded-0">{{ item.name }}</div>
            </a>
            {% else %}
            <a class="nav-item nav-link p-3" href="{{ item.link | relative_url }}">
                {{ item.name }}
            </a>
            {% endif %}
        {% endif %}
      {% endfor %}
    </div>

    <div class="navbar-nav ml-auto hidden-xs hidden-md">
        {% for item in site.data.navbar %}
        {% if item.position == "right" %}
        {% if page.title == item.name %}
        <a class="nav-item nav-link p-3 " href="{{ item.link | relative_url }}">
            <div class="pb-1 border-1 border-bottom border-white rounded-0">{{ item.name }}</div>
        </a>
        {% else %}
        <a class="nav-item nav-link p-3" href="{{ item.link | relative_url }}">
            {{ item.name }}
        </a>
        {% endif %}
        {% endif %}
        {% endfor %}
      <a class="nav-item nav-link svg-icon flex align-items-center" href="#" >
          <img class="nav-icon" src="{{ '/assets/images/facebook.svg' | relative_url }}" />
      </a>
      <a class="nav-item nav-link svg-icon flex align-items-center" href="#" >
          <img class="nav-icon" src="{{ '/assets/images/twitter.svg' | relative_url }}" />
      </a>
    </div>
  </div>
</nav>


