<!-- Take Action Modal -->
<div class="modal fade" id="take-action" tabindex="-1" role="dialog" aria-labelledby="take-action" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header con">
        <h5 class="modal-title h2 text-white uppercase" id="take-action">Take Action</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="dismiss-modal text-white" aria-hidden="true">&times;</span>
        </button>
        <div class="borderline"></div>
      </div>
      <div class="pt-3 pb-3 fat-letters text-white">
        Do you want to take part on this? become a member on the Fab City <br/> Network.
        <br />
        <br />
        First, let us know how you are:
      </div>
      <div class="pt-3 pb-3 spaced-out">
        <button type="button" class="btn pr-lg-4 pl-lg-4 small btn-action">I'm a City</button>
        <button type="button" class="btn pr-lg-4 pl-lg-4 small btn-action">I'm a person</button>
        <button type="button" class="btn pr-lg-4 pl-lg-4 small btn-action">I'm a government</button>
      </div>
    </div>
  </div>
</div>
