---
---
* { /* temporary */
  // color: black !important;
}

* {
  font-family: IBMPlexSans-Regular;
  scroll-behavior: smooth;

}

body {
  line-height: 1 !important;
}

@import 'bootstrap/bootstrap';
// @import 'fontawesome5/scss/fontawesome';

.navbar-transparent {
  background: transparent;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* z-index: 1030; */
  /* overflow: hidden; */
  /* display: block; */
}

.navbar-transparent .navbar-brand {
  color: #fff;
}

.navbar-transparent .navbar-brand:hover, .navbar-transparent .navbar-brand:focus {
  color: #fff;
}

.navbar-transparent .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.5);
}

.navbar-transparent .navbar-nav .nav-link:hover, .navbar-transparent .navbar-nav .nav-link:focus {
  color: rgba(255, 255, 255, 0.75);
}

.navbar-transparent .navbar-nav .nav-link.disabled {
  color: rgba(255, 255, 255, 0.25);
}

.navbar-transparent .navbar-nav .show > .nav-link,
.navbar-transparent .navbar-nav .active > .nav-link,
.navbar-transparent .navbar-nav .nav-link.show,
.navbar-transparent .navbar-nav .nav-link.active {
  color: #fff;
}

.navbar-transparent .navbar-toggler {
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.1);
}

.navbar-transparent .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-transparent .navbar-text {
  color: rgba(255, 255, 255, 0.5);
}

.navbar-transparent .navbar-text a {
  color: #fff;
}

.navbar-transparent .navbar-text a:hover, .navbar-transparent .navbar-text a:focus {
  color: #fff;
}


.nav-item {
  padding-right: 2em !important;
  padding-left: 2em !important;
  float: left;
}

@font-face {
  font-family: IBMPlexSans-Light;
  src: url('/assets/fonts/IBMPlexSans-Light.ttf');
}

@font-face {
  font-family: IBMPlexSans-Regular;
  src: url('/assets/fonts/IBMPlexSans-Regular.ttf');
}
@font-face {
  font-family: IBMPlexSans-Thin;
  src: url('/assets/fonts/IBMPlexSans-Thin.ttf');
}
@font-face {
  font-family: IBMPlexSans-Medium;
  src: url('/assets/fonts/IBMPlexSans-Medium.ttf');
}
.countdown {
  font-family: IBMPlexSans-Thin;
  color: white;
  z-index: 1030;
  height:auto;
}


// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap
.cnums { // countdown
  font-family: IBMPlexSans-Light;
  font-size: 8vw;
  color: white;
}

.csuf { // countdown suffix
  font-size: 3vw;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cnums { // countdown
    font-family: IBMPlexSans-Light;
    font-size: 7vw;
    color: white;
  }

  .csuf { // countdown suffix
    text-align: center;
    font-size: 2vw;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cnums { // countdown
    font-family: IBMPlexSans-Light;
    font-size: 7vw;
    color: white;
  }

  .csuf { // countdown suffix
    font-size: 3vw;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cnums { // countdown
    font-family: IBMPlexSans-Light;
    font-size: 4vw;
    color: white;
  }

  .csuf { // countdown suffix
    font-size: 2vw;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cnums { // countdown
    font-family: IBMPlexSans-Light;
    font-size: 3.5vw;
    color: white;
  }

  .csuf { // countdown suffix
    font-size: 2vw;
  }
}

div.underline {
  border-color: #FFF !important;
  border-bottom-width: 1px !important;
  border-bottom-style: solid !important;
  height: 1px !important;
  /* position: fixed; */
  z-index: 1030;
  left: 1em;
  right: 1em;
  top: 5rem;
  bottom: 1em;
}

.float-right {
  float: right !important;
}

.text-sink {
  bottom: 0 !important;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
  position: absolute;
}

.svg-icon {
  // height: 20px;
  // width: 20px;
  padding-left: 10px !important;
  padding-right: 0 !important
}

.nav-icon {
  height: 20px;
  width: 20px;
}

section {
  padding-top: 3em;
  top: 3em;
  padding-bottom: 3em;
  bottom: 3em;
}

.borderline {
  border-left: 2px !important;
  border-right: 2px !important;
  border-width: 1px;
  border-color: white !important;
  border-style: solid;
  z-index: 1030;
}

.borderline.dark {
  border-color: black !important;
}

.borderline.thin {
  border-width: 1px !important;
}

.jumbotron.white {
  background-color: #fff !important;
  color: black;
}

.jumbotron {
  border-radius: 0 !important;
}

.navbar {
  padding: 0 1rem !important;
  padding-top: 0.25rem
}

.nav-item {
  color: white;
}

.dark-gradient {
  background-image:linear-gradient(to bottom, rgba(13, 20, 47, 0.8), rgba(255, 255, 255, 0));
  margin-top: -50px;
  padding-top: 50px;
  // z-index: 1030;
}


.navbar-transparent .navbar-nav .nav-link {
  color: white;
}

.fat-letters {
  font-weight: bold;
  // font-family: sans-serif;
}

.light-letters {
  // font-weight: bold;
  font-family: IBMPlexSans-Light;
}

.white {
  color: white;
}

.black {
  color: black;
}

.take-action {
  align-self: center;
}

.take-button {
  border-radius: 0;
  // width: 70%;
  height: 1rem;
  background-color: rgb(37, 41, 147);
  border-color: rgb(37, 41, 147);
  color: white;
  line-height: 0;
}

.brand-name:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
}

.worldmap {
  position: relative;
  width: 80%;
  height: 700px;
  // overflow: hidden;
}

path.datamaps-subunit {
  stroke: rgb(24, 24, 24) !important;
}

circle.datamaps-bubble{
  r: 4px !important;
  fill: #22dba4 !important;
  fill-opacity: 1 !important;
  stroke: #22dba4 !important;
  stroke-width: 0 !important;
  stroke-opacity: 1 !important;
  paint-order: fill !important;
  fill-rule: evenodd !important;

}

circle.datamaps-bubble:hover {
  r: 5px !important;
  fill: #22dba4 !important;
  fill-opacity: 1 !important;
  stroke: #22dba4 !important;
  stroke-width: 20px !important;
  stroke-opacity: 0.5 !important;
  // paint-order: stroke fill !important;
  fill-rule: evenodd !important;
}

.card.map {
  border-radius: 0 !important;
  background-color: #22dba4;
}
.card-body.map {
  background-color: #22dba4;
  padding: 0.4em !important;
}

.btn.btn-primary.map {
  background-color: transparent !important;
  color: #000 !important;
  border: 0;
  border-radius: 0;
}

.dark-bg {
  background-color: rgb(24, 24, 24);
}


.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0 transparent !important;
}

.btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5) !important;
}

.global {
  position: absolute;
  margin-bottom: -10rem;
}
.z-under {
  z-index: 1000;
}
.bubbles {
  z-index: 3000 !important;
}

.dismiss {
  font-family: IBMPlexSans-Thin;
  font-size: 3rem !important;
  margin-top: -0.45em !important;
  cursor: pointer;
  float: right;

}

span.float-right {

 line-height: 60px;
 font-size: 2.2rem;
 letter-spacing: -0.061em;
 font-weight: 400;
 font-size: 3.1rem;
 font-style: normal;
}

.modal-content {
  border-radius: 0 !important;
  background-color: rgb(30, 40, 126);
  padding-right: 25px;
  padding-left: 25px;
}


.btn-action {
  border-radius: 0 !important;
  background-color: black;
  color: white;
}

.btn-infill {
  border-radius: 0 !important;
  background-color: white;
  color: black;
  border: 1px solid #000;
  font-size: 12px !important;
}

.dismiss-modal,.close {
  font-family: IBMPlexSans-Thin !important;
  margin-top: -0.15em !important;
  // margin-right: -0.15em !important;
  font-size: 2.75rem;
  font-weight: 100 !important;
  line-height: 1;
  text-shadow: none !important;
  top: 0 !important;
  right: 0 !important;
  float: right !important;
  padding-top: 0 !important;
}

.modal-footer {
  border: 0 !important;
  justify-content: space-between;
}

.modal-header {
  padding-top: 1rem !important;
  padding-left: 0 !important;
  padding-bottom: 1rem !important;
  padding-right: 0 !important;
}

.spaced-out {
  display: flex !important;
  justify-content: space-between !important;
}

.crop1 img {
    height: 120%;
    // width: 1000px;
    // margin: 0 0 0 -70px;
    // padding: 0 0 0 70px;
}

.bg-yellow{
  background-color: rgb(232, 173, 42);
}

.bg-grey {
  background-color: #e9ecef;
}

.bg-blue {
  background-color: #002578;
}

.bg-red {
  background-color: #b0251c;
}

.bg-green {
  background-color: #1f9555;
}

.bg-white {
  background-color: #fff;
}

.card-body {
  padding: 1.25rem 1.25rem 1.25rem 0.25rem !important;
}

.card-title {
 font-weight: bold;
}

.arrow {
  font-family: IBMPlexSans-Thin;
  font-size: 3em;
  height: 100%;
  line-height: 0.25em !important;
  // padding: 0 !important;
  margin: 0 !important;
  position: static !important;
}

a.black:hover {
  text-decoration: none;
  color: rgb(77, 77, 77);
}

a.white:hover {
  text-decoration: none;
  color: rgb(98, 98, 98);
}

.contain {
  height:100%;
  padding: 0 !important;
}

.small {
  font-size: 0.75rem;
  // margin-bottom: 0.1rem;
}


.line {
  border-bottom: 1px solid rgba(0, 0, 0, 1) !important;
  padding: 0.7em 0 0 0 !important;
}

.line-top {
  border-top: 1px solid rgba(0, 0, 0, 1) !important;
  padding: 0.7em 0 0 0 !important;
}

.border-black {
    border-color: #000 !important;
}

.line.row:last-of-type {
  border: 0 !important;
}

.medium {
 font-family: IBMPlexSans-Medium;
}

.blog-item-title {
  height: 30px;
}

// .blog-item:last-of-type { Works non responsive :/
//   margin-right: 0 !important;
// }

.arrow.smaller {
   line-height: 0.25em !important;
   font-size: 2em;
}

.arrow.big {
   line-height: 0.25em !important;
   font-size: 4em;
}

.bg-black {
  background-color: #000;
}

.bg-light {
  background-color: rgb(101, 101, 101);
}
.subscribe-newsletter {
  color: grey;
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: grey;
}

.happiness {
  font-size: 13px;
}

.svg-black {
  fill: black !important;
}


/* Timeline */
.timeline,
.timeline-horizontal {
  list-style: none;
  padding: 20px;
  position: relative;
}

#timeline::-webkit-scrollbar, #timeline {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  display: none;
}

.timeline:before {
  // top: 40px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  left: 50%;
  margin-left: -1.5px;
}
.timeline .timeline-item {
  margin-bottom: 20px;
  position: relative;
}
.timeline .timeline-item:before,
.timeline .timeline-item:after {
  content: "";
  display: table;
}
.timeline .timeline-item:after {
  clear: both;
}
.timeline .timeline-item .timeline-badge {
  color: #fff;
  width: 7px;
  height: 7px;
  line-height: 52px;
  font-size: 22px;
  text-align: center;
  position: absolute;
  top: 3px;
  left: 50%;
  margin-left: -25px;
  opacity: 1;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  background-color: #1bc28f;
}

.active .timeline-badge{
  background-color: #1bc28f;
  box-shadow: 0px 0px 0px 8px rgba(#1aa179,0.3); // WOOW noice transparent border
  z-index: 400 !important;
}

.active .timeline-panel .timeline-heading , .active .timeline-panel .timeline-body{
  z-index: 400 !important;
  position: relative;
}

.timeline .timeline-item .timeline-panel {
  position: relative;
  width: 200px;
  min-height: 300px;
  float: left;
  right: 16px;
  padding: 16px 0 20px 0;
}

.timeline .timeline-item .timeline-panel:before {
  display: inline-block;
}

.timeline .timeline-item .timeline-panel {
    margin-top: 6px;
    padding: 15px 0 0 0;
    border-top: 1px solid black;
}

// .timeline .timeline-item .timeline-panel .timeline-body > p,
// .timeline .timeline-item .timeline-panel .timeline-body > ul {
//   margin-bottom: 0;
// }
// .timeline .timeline-item .timeline-panel .timeline-body > p + p {
//   margin-top: 5px;
// }
// .timeline .timeline-item:last-child:nth-child(even) {
//   float: right;
// }
// .timeline .timeline-item:nth-child(even) .timeline-panel {
//   float: right;
//   left: 16px;
// }
// .timeline .timeline-item:nth-child(even) .timeline-panel:before {
//   border-left-width: 0;
//   border-right-width: 14px;
//   left: -14px;
//   right: auto;
// }

.timeline-horizontal {
  list-style: none;
  position: relative;
  padding: 20px 0px 20px 0px;
  display: inline-block;
}
.timeline-horizontal:before { ///MARK LINE
  // height: 3px;
  // top: 5px;
  // bottom: 26px;
  // left: 56px;
  background-color: black;
  right: 0;
  // width: 100%;
  // margin-bottom: 20px;
}
.timeline-horizontal .timeline-item {
  display: table-cell;
  min-height: 400px;
  width: 20%;
  min-width: 280px;
  // min-width: 320px; // default
  float: none !important;
  padding-left: 0px;
  // padding-right: 20px;
  vertical-align: bottom;
}
.timeline-horizontal .timeline-item .timeline-panel {
  top: 0;
  // bottom: 64px;
  display: inline-block;
  float: none !important;
  left: 0 !important;
  right: 0 !important;
  width: 100%;
  // margin-top: 20px;
  // padding: 0 !important;
}
.timeline-horizontal .timeline-item .timeline-panel:before {
  top: auto;
  bottom: -16px;
  left: 28px !important;
  // right: auto;
}
.timeline-horizontal .timeline-item:before,
.timeline-horizontal .timeline-item:after {
  display: none;
}
.timeline-horizontal .timeline-item .timeline-badge {
  // top: auto;
  bottom: 0px;
  left: 60px;
}

.fadeinout {
  position: static;
}

.fadeinout::before {
  background-image: linear-gradient(to right, rgba(#e9ecef, 1), rgba(#e9ecef, 0), rgba(#e9ecef, 0),  rgba(#e9ecef, 0), rgba(#e9ecef, 1));
  position: absolute;
  z-index: 200;
  bottom: 0;
  height: 100%;
  width: 100%;
  content: "";
}

.high-lines {
  line-height: 1.5em !important;
}

.medium-lines {
  line-height: 1.25em !important;
}

.clickable {
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}


.chevron {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.vertical-center {
    vertical-align: baseline;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.nobar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.nobar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}






















.col-2dot4,
.col-sm-2dot4,
.col-md-2dot4,
.col-lg-2dot4,
.col-xl-2dot4 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    /* max-width: 20%; */
}
@media (min-width: 540px) {
    .col-sm-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        /* max-width: 20%; */
    }
}
@media (min-width: 720px) {
    .col-md-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}
@media (min-width: 960px) {
    .col-lg-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}
@media (min-width: 1140px) {
    .col-xl-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}


.col-1dot5,
.col-sm-1dot5,
.col-md-1dot5,
.col-lg-1dot5,
.col-xl-1dot5 {
    position: relative;
    // width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-1dot5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 13%;
    flex: 0 0 13%;
    /* max-width: 13%; */
}
@media (min-width: 540px) {
    .col-sm-1dot5 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 13%;
        flex: 0 0 13%;
        /* max-width: 13%; */
    }
}
@media (min-width: 720px) {
    .col-md-1dot5 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 13%;
        flex: 0 0 13%;
        max-width: 13%;
    }
}
@media (min-width: 960px) {
    .col-lg-1dot5 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 13%;
        flex: 0 0 13%;
        max-width: 13%;
    }
}
@media (min-width: 1140px) {
    .col-xl-1dot5 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 13%;
        flex: 0 0 13%;
        max-width: 13%;
    }
}
