---
---
* { /* temporary */
  // color: black !important;
}

* {
  font-family: IBMPlexSans-Regular;
}

body {
  line-height: 1 !important;
}

@import 'bootstrap/bootstrap';
// @import 'fontawesome5/scss/fontawesome';

.navbar-transparent {
  background: transparent;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* z-index: 1030; */
  /* overflow: hidden; */
  /* display: block; */
}

.navbar-transparent .navbar-brand {
  color: #fff;
}

.navbar-transparent .navbar-brand:hover, .navbar-transparent .navbar-brand:focus {
  color: #fff;
}

.navbar-transparent .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.5);
}

.navbar-transparent .navbar-nav .nav-link:hover, .navbar-transparent .navbar-nav .nav-link:focus {
  color: rgba(255, 255, 255, 0.75);
}

.navbar-transparent .navbar-nav .nav-link.disabled {
  color: rgba(255, 255, 255, 0.25);
}

.navbar-transparent .navbar-nav .show > .nav-link,
.navbar-transparent .navbar-nav .active > .nav-link,
.navbar-transparent .navbar-nav .nav-link.show,
.navbar-transparent .navbar-nav .nav-link.active {
  color: #fff;
}

.navbar-transparent .navbar-toggler {
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.1);
}

.navbar-transparent .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-transparent .navbar-text {
  color: rgba(255, 255, 255, 0.5);
}

.navbar-transparent .navbar-text a {
  color: #fff;
}

.navbar-transparent .navbar-text a:hover, .navbar-transparent .navbar-text a:focus {
  color: #fff;
}


.nav-item {
  padding-right: 2em !important;
  padding-left: 2em !important;
  float: left;
}

@font-face {
  font-family: IBMPlexSans-Light;
  src: url('/assets/fonts/IBMPlexSans-Light.ttf');
}

@font-face {
  font-family: IBMPlexSans-Regular;
  src: url('/assets/fonts/IBMPlexSans-Regular.ttf');
}
@font-face {
  font-family: IBMPlexSans-Thin;
  src: url('/assets/fonts/IBMPlexSans-Thin.ttf');
}
@font-face {
  font-family: IBMPlexSans-Medium;
  src: url('/assets/fonts/IBMPlexSans-Medium.ttf');
}
.countdown {
  font-family: IBMPlexSans-Thin;
  color: white;
  z-index: 1030;
  height:auto;
}

.cnums { // countdown
  font-family: IBMPlexSans-Light;
  font-size: 72px;
  color: white;
}

.uppercase {
  text-transform: uppercase;
}

div.underline {
  border-color: #FFF !important;
  border-bottom-width: 1px !important;
  border-bottom-style: solid !important;
  height: 1px !important;
  /* position: fixed; */
  z-index: 1030;
  left: 1em;
  right: 1em;
  top: 5rem;
  bottom: 1em;
}

.float-right {
  float: right !important;
}

.text-sink {
  bottom: 0 !important;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
  position: absolute;
}

.svg-icon {
  // height: 20px;
  // width: 20px;
  padding-left: 10px !important;
  padding-right: 0 !important
}

.nav-icon {
  height: 20px;
  width: 20px;
}

section {
  padding-top: 3em;
  top: 3em;
  padding-bottom: 3em;
  bottom: 3em;
}

.borderline {
  border-left: 2px !important;
  border-right: 2px !important;
  border-width: 1px;
  border-color: white !important;
  border-style: solid;
  z-index: 1030;
}

.borderline.dark {
  border-color: black !important;
}

.borderline.thin {
  border-width: 1px !important;
}

.jumbotron.white {
  background-color: #fff !important;
  color: black;
}

.jumbotron {
  border-radius: 0 !important;
}

.navbar {
  padding: 0 1rem !important;
  padding-top: 0.25rem
}

.nav-item {
  color: white;
}

.background-intro {
  background-image: url('../images/intro.png');
  // background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0)), url('../images/intro.png');
  height: 700px;
  background-size: cover;
  background-position: center;
  margin-top: -50px;
  padding-top: 50px;
}

.dark-gradient {
  background-image: linear-gradient(to bottom, rgba(13, 20, 47, 0.8), rgba(255, 255, 255, 0));
  margin-top: -50px;
  padding-top: 50px;
  // z-index: 1030;
}


.navbar-transparent .navbar-nav .nav-link {
  color: white;
}

.fat-letters {
  font-weight: bold;
  // font-family: sans-serif;
}

.white {
  color: white;
}

.black {
  color: black;
}

.take-action {
  align-self: center;
}

.take-button {
  border-radius: 0;
  width: 70%;
  height: 3rem;
  background-color: rgb(37, 41, 147);
  border-color: rgb(37, 41, 147);
  color: white;
}

.brand-name:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
}

.worldmap {
  position: relative;
  width: 80%;
  height: 700px;
  overflow: hidden;

}

path.datamaps-subunit {
  stroke: rgb(24, 24, 24) !important;
}

circle.datamaps-bubble{
  r: 4px !important;
  fill: #22dba4 !important;
  fill-opacity: 1 !important;
  stroke: #22dba4 !important;
  stroke-width: 0 !important;
  stroke-opacity: 1 !important;
  paint-order: fill !important;
  fill-rule: evenodd !important;

}

circle.datamaps-bubble:hover {
  r: 5px !important;
  fill: #22dba4 !important;
  fill-opacity: 1 !important;
  stroke: #22dba4 !important;
  stroke-width: 20px !important;
  stroke-opacity: 0.5 !important;
  // paint-order: stroke fill !important;
  fill-rule: evenodd !important;
}

.card.map {
  border-radius: 0 !important;
  background-color: #22dba4;
}
.card-body.map {
  background-color: #22dba4;
  padding: 0.4em !important;
}

.btn.btn-primary.map {
  background-color: transparent !important;
  color: #000 !important;
  border: 0;
  border-radius: 0;
}

.dark-bg {
  background-color: rgb(24, 24, 24);
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0 transparent !important;
}

.btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5) !important;
}

.global {
  position: absolute;
  margin-bottom: -10rem;
}
.z-under {
  z-index: 1000;
}
.bubbles {
  z-index: 3000 !important;
}

.dismiss {
  font-family: IBMPlexSans-Thin;
  font-size: 3rem !important;
  margin-top: -0.45em !important;
  cursor: pointer;
  float: right;

}

span.float-right {

 line-height: 60px;
 font-size: 2.2rem;
 letter-spacing: -0.061em;
 font-weight: 400;
 font-size: 3.1rem;
 font-style: normal;
}

.modal-content {
  border-radius: 0 !important;
  background-color: rgb(30, 40, 126);
  padding-right: 25px;
  padding-left: 25px;
}


.btn-action {
  border-radius: 0 !important;
  background-color: black;
  color: white;
}

.dismiss-modal,.close {
  font-family: IBMPlexSans-Thin !important;
  margin-top: -0.15em !important;
  // margin-right: -0.15em !important;
  font-size: 2.75rem;
  font-weight: 100 !important;
  line-height: 1;
  text-shadow: none !important;
  top: 0 !important;
  right: 0 !important;
  float: right !important;
  padding-top: 0 !important;
}

.modal-footer {
  border: 0 !important;
  justify-content: space-between;
}

.modal-header {
  padding-top: 1rem !important;
  padding-left: 0 !important;
  padding-bottom: 1rem !important;
  padding-right: 0 !important;
}

.spaced-out {
  display: flex !important;
  justify-content: space-between !important;
}

.crop1 img {
    height: 120%;
    // width: 1000px;
    // margin: 0 0 0 -70px;
    // padding: 0 0 0 70px;
}

.bg-yellow{
  background-color: rgb(232, 162, 42);
}

.bg-grey {
  background-color: #e9ecef;
}

.noborder {
  border: 0 !important
}

.card-body {
  padding: 1.25rem 1.25rem 1.25rem 0.25rem !important;
}

.card-title {
 font-weight: bold;
}

.arrow {
  font-family: IBMPlexSans-Thin;
  font-size: 3em;
  height: 100%;
  line-height: 0.25em !important;
  padding: 0 !important;
  margin: 0;
  position: static;
}

a.black:hover {
  text-decoration: none;
  color: rgb(77, 77, 77);
}

.contain {
  height:100%;
}

.small {
  font-size: 0.75rem;
  margin-bottom: 0.1rem;
}

.line {
  border-bottom: 1px solid rgba(0, 0, 0, 1) !important;
  padding: 0.7em 0 0 0 !important;
}

.line-top {
  border-top: 1px solid rgba(0, 0, 0, 1) !important;
  padding: 0.7em 0 0 0 !important;
}

.row:last-of-type {
  border: 0 !important;
}

.medium {
 font-family: IBMPlexSans-Medium;
}

.hw-250px {
  height: 200px;
  width: 350px;
  // clip: rect(0px,60px,200px,0px);
}

.blog-item-title {
  height: 30px;
}
