
h1 {
  font-family: IBM Plex Sans, Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 70px;
}

h2 {
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 110%;
  letter-spacing: 0.005em;
}

h3 {
  font-family: IBM Plex Sans, Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 40px !important;
  line-height: 110%;
}

h4 {
  font-family: 'Noto Serif', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 125.62%;
}

h5 {
  font-family: IBM Plex Sans, Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 125.62%;
}

p {
  font-family: IBM Plex Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 125.62%;
}

.fabcity-font-size- {
  &10 {
    font-size: 10px;
  }

  &12 {
    font-size: 12px;
  }

  &14 {
    font-size: 14px;
  }

  &16 {
    font-size: 16px;
  }

  &18 {
    font-size: 18px;
  }

  &20 {
    font-size: 20px;
  }
}

.text-underline {
  text-decoration: underline;
}
