<!--Blue Claims Strip template -->
<div class="container no-padding">
	<div class="sub-container">
		<div class="row text-center blue-highlights">
		    {% for statement in include.texts.blueclaims %}
		    <div class="col-md-4 indicator-box" data-aos="fade-up">
		        <span class="indicator-img" style="margin-bottom: 30px;">
		            <div class="icon"> <img src="/img/icons/{{ statement.icon }}.svg"></div>
		        </span>
		        <h5 class="h5-inverted" style="margin:0px;">{{ statement.title }}</h5>
		    </div>
		    {% endfor %}
		</div>
	</div>
</div>