<!--Standard carousel or banner template -->
<section id="carousel">  
    <div class="container">
        {% if include.texts.isbanner == true %}
        <div class="row text-center banner">
            <div class="img-large banner-img" style="background-image: url('{{ site.baseurl }}/img/general/{{ include.texts.banner }}');"></div>
        </div>
        {% endif %}

        {% if include.texts.iscarousel ==true %}
        <div class="row text-center banner">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">

                <div class="carousel-inner">
                    <div class="item active">
                      <img src="{{ site.baseurl }}/img/general/{{ include.texts.carouselbackground }}" alt="">
                    </div>

                    {% for image in include.texts.carousel %}
                    <div class="item">
                      <img src="{{ site.baseurl }}/img/general/{{ image.img }}" alt="">
                    </div>
                    {% endfor %}
                </div>
                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" style="font-size: 22px;"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" style="font-size: 22px;"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div> 
        </div>
        {% endif %}


        </div><!-- close sub-container --> 
    </div> <!-- close container -->

</section>


<script type="text/javascript">
  ;(function(ns){
    var _iscroll = null;
    ns.init = function(){
        _iscroll = new IScroll('#slideshow1',{
            scrollX: true,
            freeScroll: true
        });
    }
  })(this.slideshow1 = {});
  (function(){
    if(window.addEventListener){
        window.addEventListener('load',slideshow1.init,false);
    } else{
        window.attachEvent('onload',slideshow1.init); //IE
    }
  })();
</script>

