<!-- Sponsor Section  -->

<section id="sponsors" class="section-home">  
    <div class="container standard">
        <div class="sub-container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="section-heading">Our contributors</h3>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-12">
                    <p class="section-subheading">This is a text about our wonderful contributors.
                </div>
            </div>
            
            <div class="row" data-aos="fade-right">
                {% for sponsor in site.data.sponsors %}
            
                       <a href="{{ sponsor.url }}" target="_blank">
                           <div class="col-xs-4 col-sm-4 col-md-4 indicator-box link-grow">
                            <span class="sponsor">
                                <div class="icon"><img class="sponsor-img" src="/img/logos/{{ sponsor.img }}"> </div>
                            </span>
                            </div>
                        </a>
                    
                {% endfor %}
            </div><!--row-->

        </div>
    </div><!--container-->  
</section> 