<!--Twitter fixed band -->

<div class="twitter-band twitter-init" id="twitter-band">

 	<div class="row" style="margin:0% 2%;">
 		<i class="fa fa-twitter fa-2x" style="padding-right: 10px; float:left; margin-top: 2px;" aria-hidden="true"></i>
	 	<p class="tweet">
	 		<!--This is a tweet about all the important news happening @Fab13.-->
	 	</p>
	 	<a target="_blank" href="https://twitter.com/fab13santiago"><p class="tweet-link">Join the conversation &#62;</p></a>
	</div>

 	<!--
	<a target="_blank" href="https://twitter.com/search?q=%23fab13&src=typd&lang=en"><p style="font-size:13px; margin-bottom:0px; padding-top:8px; font-weight: 900; float:right; display:inline;">Join the conversation &#62;</p></a>-->


</div>


        <!--<div class="title photo-bg"></div>-->





