<!-- <br /> -->
<div class="container">
  <div class="card-deck">
    <!-- //card-deck or card-group //stick or seperate -->
        <div class="card">
            <div class="card-body">
              <h5 class="card-title">Prototype the city</h5>
              <p>We engage in action-research directly in the city by prototyping and deploying strategies across localities in our network.</p><br />
              <a class="btn btn-primary" href="https://blog.fab.city/fab-city-prototypes-designing-and-making-for-the-real-world-e97e9b04857">Read about the prototyping method</a>
            </div>
        </div>
      <div class="card">
            <div class="card-body">
              <h5 class="card-title">Common knowledge</h5>
              <p>As a global network, we are connected through the knowledge we share, across common tools and platforms.</p><br />
              <p><a class="underlined-green" href="https://fabcity.gitbook.io/handbook/">See the handbook</a></p>
            </div>
      </div>
      <div class="card">
            <div class="card-body">
              <h5 class="card-title">Documentation</h5>
              <p>Findings from prototyping and action-research are documented and shared within the network.</p><br />
              <p>Read the <a class="underlined-green" href="https://blog.fab.city/fab-city-prototypes-designing-and-making-for-the-real-world-e97e9b04857">blog</a> or join our social media channels</p>
              <a href="https://t.me/fabcityglobal" target="_blank"><i class="fab fa-telegram-plane fa-2x fa-margin"></i></a>
              <a href="https://www.facebook.com/fabcityglobal/" target="_blank"><i class="fab fa-facebook-f fa-2x fa-margin"></i></a>
            </div>
      </div>
</div>
</div>
