<section id="approach">
    <div class="container">
        <div class="event-group row">
            <div class="event-box col-md-6 col-lg-4 container-top-separator">
                <div class="row">
                    <div class="col-md-12">
                        <p class="section-small-title">Prototype the city</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p>We engage in action-research directly in the city by prototyping and deploying strategies across localities in our network.</p></br>
                        <p><a class="underlined-green" href="https://blog.fab.city/fab-city-prototypes-designing-and-making-for-the-real-world-e97e9b04857">Read about the prototyping method</a></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <img src=""/><br>
                    </div>
                </div>
            </div>

            <div class="event-box col-md-6 col-lg-4 container-top-separator">
                <div class="row">
                    <div class="col-md-12">
                        <p class="section-small-title">Common knowledge</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p>As a global network, we are connected through the knowledge we share, across common tools and platforms.</p></br>
                        <p><a class="underlined-green" href="https://fabcity.gitbook.io/handbook/">See the handbook</a></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <img src=""/><br>
                    </div>
                </div>
            </div>

            <div class="event-box col-md-6 col-lg-4 container-top-separator">
                <div class="row">
                    <div class="col-md-12">
                        <p class="section-small-title">Documentation</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p>Findings from prototyping and action-research are documented and shared within the network.</p></br>
                        <p>Read the <a class="underlined-green" href="https://blog.fab.city/fab-city-prototypes-designing-and-making-for-the-real-world-e97e9b04857">blog</a> or join our social media channels</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                <span>
                    <a href="https://t.me/fabcityglobal" target="_blank"><i class="fab fa-telegram-plane fa-2x fa-margin"></i></a>
                    <a href="https://www.facebook.com/fabcityglobal/" target="_blank"><i class="fab fa-facebook-f fa-2x fa-margin"></i></a>
                </span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
