<section id="claim-1">
    <div class="container absolute">
        <div class="row">
            <div class="com-md-8"> </div>
            <div class="col-md-4 number" style="float: right;">
                <h2 class="inverted">02</h2>
            </div>
        </div>
        <div class="row claim">
            <div class="col-md-4">
                <p class="inverted">We research and test concepts and prototypes from Product-In Trash-Out models to Data-In Data-Out spiral sustainable ecosystems.</p>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <h2 class="inverted">We can design locally, make globally </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 front-2 img-cover" style="background-image: url('{{ site.baseurl }}/img/general/fabhouse.jpg');"></div>
            <div class="col-md-4 front-2 img-cover" style="background-image: url('{{ site.baseurl }}/img/general/fablabmap.jpg');"></div>
            <div class="col-md-4 front-2 img-cover" style="background-image: url('{{ site.baseurl }}/img/general/aquapioneers.jpg');"></div>
        </div>
    </div><!-- close container-->

    <div class="bg-plain large">

</section>



