<section id="claim-2" style="height: 700px;">
    <div class="container absolute">
        <div class="row">
            <div class="com-md-8"> </div>
            <div class="col-md-4 number" style="float: right;">
                <h2 class="h-inverted">02</h2>
            </div>
        </div>
        <div class="row claim">
            <div class="col-md-4">
                <p class="p-inverted">The Fab City Initiative works within the international Fab Lab Network, a network of over 1000 digital fabrication laboratories researching the future of materials, citizenship, manufacturing and entrepreneurship.</p>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <h2 class="h-inverted">We can design locally, make globally </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 front-2 img-cover" style="background-image: url('{{ site.baseurl }}/img/general/fabhouse.jpg');"></div>
            <div class="col-md-4 front-2 img-cover" style="background-image: url('{{ site.baseurl }}/img/general/fablabmap.jpg');"></div>
            <div class="col-md-4 front-2 img-cover" style="background-image: url('{{ site.baseurl }}/img/general/aquapioneers.jpg'); margin-right: 0px;"></div>
        </div>
    </div><!-- close container-->

    <div class="bg-plain large green">

</section>



