<section id="claim-1">
    <div class="container">
    	<div class="row">
            <div class="col-md-6 number">
                <h2 class="h-inverted">01</h2>
            </div>
        </div>
        <div class="row claim">
            <div class="col-xs-12 col-sm-4 col-md-4 claim-4">
                <h1 class="h-inverted">{{ site.data.home-texts.claim1 }}</h1>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-4"></div>
            <div class="col-xs-12 col-sm-4 col-md-4 claim-text">
                <p>{{ site.data.home-texts.claim1text }}</p>
            </div>
        </div>
    </div><!-- close container-->

    <div class="bg-plain red">
    <div class="bg-img bg-2 img-cover" style="background-image: url('{{ site.baseurl }}/img/general/2.jpg');"></div>
</section>



