<section id="claim-3" style="margin-bottom: 70px;">
    <div class="container absolute">
    	<div class="row">
            <div class="col-md-6 number">
                <h2 class="h-inverted">03</h2>
            </div>
        </div>
        <div class="row claim">
            <div class="col-md-4">
                <h2 class="h-inverted">Smart Citi<strike>es</strike>zens</h2>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <p>We work with government, industry and society to enable citizen-centric bottom-up urban planning and technology deplyment for smarter cities.</p>
            </div>
        </div>
        <div class="row">
        	<div class="col-xs-12 col-sm-6 col-md-5 front-3 img-cover" style="background-image: url('{{ site.baseurl }}/img/general/madeateu.jpg'); margin-right: 10px;"></div>
            <div class="col-xs-0 col-md-2"> </div>
            <div class="col-xs-12 col-sm-6 col-md-5 front-3 img-cover" style="background-image: url('{{ site.baseurl }}/img/general/greenfablab.jpg'); margin-right: 0px; float: right;"></div>
        </div>
    </div><!-- close container-->

    <div class="bg-plain blue"></div>
</section>



