<section id="claim-3" style="margin-bottom:150px;">
    <div class="container">
    	<div class="row">
            <div class="col-md-6 number">
                <h2 class="h-inverted">03</h2>
            </div>
        </div>
        <div class="row claim">
            <div class="col-md-4">
                <h1 class="h-inverted">{{ site.data.home-texts.claim3 }}</h1>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <p>{{ site.data.home-texts.claim3text }}</p>
            </div>
        </div>
        <div class="row">
        	<div class="col-xs-12 col-sm-6 col-md-5 bg-4 img-cover" style="background-image: url('{{ site.baseurl }}/img/general/6.jpg'); margin-right: 10px;"></div>
            <div class="col-xs-0 col-md-2"> </div>
            <div class="col-xs-12 col-sm-6 col-md-5 bg-4 img-cover" style="background-image: url('{{ site.baseurl }}/img/general/7.jpg'); margin-right: 0px; float: right;"></div>
        </div>
    </div><!-- close container-->

    <div class="bg-plain blue"></div>
</section>



