<section id="claim-4">
    <div class="container absolute">
        <div class="row" style="padding-top: 100px;">
            <div class="col-md-4 services">
                <ul>
                    <li><h1>Research +</h1> </li>
                    <li><h1>Technology +</h1> </li>
                    <li><h1>Community +</h1> </li>
                    <li><h1>Incubation +</h1> </li>
                </ul>
            </div>
            <div class="col-md-4 right">
                <p>Fab City strategies and ethos comprise a diverse range of pilots, toolkits, information systems and insights that are being implemented through four transversal fields of focus for impacting and inducing long-term change in the present and future of cities.</p>
                <a href="" class="page-scroll btn btn-clear">Learn More</a>
            </div>
        </div>
    </div><!-- close container-->

    <div class="xl-title"><h1 class="xl"> What we do </h1></div>
</section>



