<section id="claim-1">
    <div class="container absolute">
    	<div class="row">
            <div class="col-md-6 number">
                <h2 class="h-inverted">01</h2>
            </div>
        </div>
        <div class="row claim">
            <div class="col-xs-12 col-sm-4 col-md-4 claim-1">
                <h2 class="h-inverted">Cities are linear trash machines</h2>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4"></div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <p>We research and test concepts and prototypes from Product-In Trash-Out models to Data-In Data-Out spiral sustainable ecosystems.</p>
            </div>
        </div>
        <div class="row">
        	<div class="col-md-4 front-1 img-cover" style="background-image: url('{{ site.baseurl }}/img/general/city.jpg');"></div>
        </div>
    </div><!-- close container-->

    <div class="bg-plain red">
    <div class="bg-5 img-cover" style="background-image: url('{{ site.baseurl }}/img/general/bg-5.jpg');"></div>
</section>



