<section id="collective">
    <div class="container absolute">
        <div class="row quote-box">
            <div class="col-md-4">
                <h2 class="quote-title">The Collective</h2>
                <p>A core group of experts and enthusiasts advocate for the Fab City initiative globally, they are the Fab City Collective. Each invest resources to progress and champion the Fab City goals in their respective fields. </p>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
        </div>

        <div class="row no-side-margin">
            <div class="col-md-3 profile-box img-cover" style="background-image: url('{{ site.baseurl }}/img/general/mara_balestrini_color.jpg');">
            </div>
            <div class="col-md-3 profile-box img-cover" style="background-image: url('{{ site.baseurl }}/img/general/justyna_swat_color.jpg');">
            </div>
        </div>

    </div><!-- close container-->

</section>



