<section id="collaborators">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h4>Collaborators </h4>
      </div>
    </div>

    <div class="row align-items-center">

            {% for organization in include.texts.logos %}
            <div class="col-2dot4 col-sm-2dot4 col-md-2dot4 col-lg-2dot4 col-xl-2dot4 collaborators">
                <a href="{{ organization.url }}" target="_blank">
              <img src="{{ site.baseurl }}/uploads/{{ organization.logo }}"></img>
              </a>
            </div>
            {% endfor %}
    </div>

  </div>
</section>
