<section id="collective">
    <div class="container">
        <div class="row quote-box">
            <div class="col-md-4">
                <h2 class="quote-title">{{ site.data.home-texts.collectivetitle }}</h2>
                <p>{{ site.data.home-texts.collectivetext }}</p>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
        </div>

        <div class="row no-side-margin">
            {% for member in site.data.home-texts.collectivemembers %}
                <div class="col-xs-6 col-sm-4 col-md-3 member-box">
                    <img src="{{ site.baseurl }}/img/collective/{{ member.img }} " class="img-responsive img-centered member-img">
                    
                    <div class="member-caption">
                        <h4>{{ member.name }}</h4>
                        <p class="small">{{ member.position }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div><!-- close container-->

</section>



