<section id="{{ include.texts.id }}">
    <div class="container">
        <div class="row no-side-margin">
            <div class="col-md-5 documentation-texts float-left" data-bottom-top="margin-top: 400px;" data-top="margin-top: 0px;">
                <div class="row no-side-margin">
                    {% if include.texts.hastitle == true %}
                    <div class="col-md-8 no-side-padding">
                        <p class="section-small-title">{{ include.texts.title }}</p>
                    </div>
                    {% endif %}
                    {% if include.texts.hasdescription == true %}
                    <div class="col-md-8 no-side-padding">
                        <p class="section-description">{{ include.texts.description }}</p>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row no-side-margin">
            {% for post in site.posts limit:3 %}
            <div class="col-xs-6 col-sm-3 col-md-3 no-side-padding post-box">
            <a href="{{ post.link }}" target="_blank">
                <div class="post-img" style="background-image: url('{{ site.baseurl }}/{{ post.thumbnail }}');"> </div>
                <div class="post-caption">
                    <p class="post-title">{{ post.title }}</p>
                    <div class="row no-side-margin">    
                        <div class="col-md-3 post-author" style="background-image: url('{{ site.baseurl }}/{{ post.authorthumb }}');"> </div>
                        <div class="col-md-9">
                            <p class= "author-name"> {{ post.author }}</p>
                            <p class= "post-date"> {{ post.date-text }}</p>
                        </div>
                    </div>
                </div>
            </a>
            </div>
            {% endfor %}
        </div>
    </div> <!--close container -->
</section>







