<section id="{{ include.texts.id }}">
    <div class="container">
        <div class="row no-side-margin">
            <div class="col-md-5 documentation-texts float-left" data-bottom-top="margin-top: 400px;" data-top="margin-top: 0px;">
                <div class="row no-side-margin">
                    {% if include.texts.hastitle == true %}
                    <div class="col-md-8 no-side-padding">
                        <p class="section-small-title">{{ include.texts.title }}</p>
                    </div>
                    {% endif %}
                    {% if include.texts.hasdescription == true %}
                    <div class="col-md-8 no-side-padding">
                        <p class="section-description">{{ include.texts.description }}</p>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row no-side-margin" data-bottom-top="margin-top: 700px;" data-top="margin-top: 0px;">
            <div class="col-md-6 documentation-box text-right">
                <p class="documentation-link">blog.</p>
            </div>
            <div class="col-md-6 text-left">
                <p class="documentation-link">Twitter.</p>
            </div>
        </div>

        <div class="row no-side-margin text-center" style="margin-top: 40px;">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="504px" height="24px"><path d="M0 12 L504 12" style="fill:none; stroke:rgb(24,165,55);stroke-width:4;"></path></svg>
            </div>
        </div>
    </div> <!--close container -->
</section>







