<section id="{{ include.texts.id }}">
    <div class="container">
        <div class="row no-side-margin">
            <div class="col-md-5 float-left" data-bottom-top="margin-top: 300px;" data-50-top="margin-top: 0px;">
                <div class="row no-side-margin">
                    {% if include.texts.hastitle == true %}
                    <div class="col-md-8 no-side-padding">
                        {% if include.texts.sectioncolor == 'blue' %}
                        <div class="intro-line"><svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="42px" height="24px"><path d="M0 12 L42 12" style="fill:none; stroke:rgb(20,4,104);stroke-width:4"></path></svg>
                        </div>
                        {% elsif include.texts.sectioncolor == 'red' %}
                        <div class="intro-line"><svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="42px" height="24px"><path d="M0 12 L42 12" style="fill:none; stroke:rgb(226,24,38);stroke-width:4"></path></svg>
                        </div>
                        {% elsif include.texts.sectioncolor == 'green' %}
                        <div class="intro-line"><svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="42px" height="24px"><path d="M0 12 L42 12" style="fill:none; stroke:rgb(24,165,55);stroke-width:4"></path></svg>
                        </div>
                        {% else %}
                        <div class="intro-line"><svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="42px" height="24px"><path d="M0 12 L42 12" style="fill:none; stroke:rgb(255,239,25);stroke-width:4"></path></svg>
                        {% endif %}
                        <p class="section-small-title">{{ include.texts.title }}</p>
                    </div>
                    {% endif %}
                    {% if include.texts.hasdescription == true %}
                    <div class="col-md-8 no-side-padding">
                        <p class="section-description">{{ include.texts.description }}</p>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row no-side-margin">
            <div class="col-md-8">
                <div class="row no-side-margin" style="margin-bottom: 40px;">
                    {% for post in site.posts limit:4 %}
                    <div class="col-xs-12 col-sm-5 col-md-5 no-side-padding post-box">
                    <a href="{{ post.link }}" target="_blank">
                        <div class="post-img" style="background-image: url('{{ site.baseurl }}/{{ post.thumbnail }}');"> </div>
                        <div class="post-caption">
                            <p class="post-title">{{ post.title }}</p>
                            <div class="row no-side-margin">    
                                <div class="col-md-3 post-author" style="background-image: url('{{ site.baseurl }}/{{ post.authorthumb }}');"> </div>
                                <div class="col-md-9">
                                    <p class= "author-name"> {{ post.author }}</p>
                                    <p class= "post-date"> {{ post.date-text }}</p>
                                </div>
                            </div>
                        </div>
                    </a>
                    </div>
                    {% endfor %}
                </div>
                <div class= "col-sm-12 col-md-12 no-side-padding" style="text-align: right;">
                    <a class="underlined-green" style="margin-right: 80px;" href="https://blog.fab.city/" target="_blank">More from the Fab City Blog...</a>
                </div>
            </div>
            <div class="col-xs-10 col-md-4">
                <div class="row" style="margin-bottom: 80px;">
                    <div class="col-xs-12 col-sm-12 col-md-12 no-side-padding twitter-box" data-bottom-top="margin-top: 300px;" data-200-top="margin-top: 0px;">
                        <div class="icon">
                            <a href="https://twitter.com/fabcityglobal" target="_blank"></a><i class="fab fa-twitter"></i></i>
                        </div>
                        <div>
                            <a class="twitter-timeline" href="https://twitter.com/fabcityglobal?ref_src=twsrc%5Etfw">Tweets by fabcityglobal</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                        </div>
                    </div> <!--close twitter-box -->
                </div>
                <div class= "col-sm-12 col-md-12 no-side-padding" style="text-align: right;">
                    <a class="underlined-green" href="https://twitter.com/fabcityglobal" target="_blank">Join the conversation...</a>
                </div>
            </div>
        </div><!--close row -->
    </div> <!--close container -->
</section>