<!-- <section id="event"> -->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Events</h1>
    <!-- <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p> -->
        <div class="event-group row">
            {% for event in site.data.events %}
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <a href={{event.url}}><h5 class="card-title">{{event.title}}</h5></a>
                <h6 class="card-subtitle mb-2 text-muted">{{event.location}}</h6>
                <p class="card-text">{{event.start_date}} / {{event.end_date}} {{event.month}}-{{event.year}}</p>
                <!-- <a href="#" class="card-link">More info</a>
                <a href="#" class="card-link">Another link</a> -->
              </div>
            </div>
            {% endfor %}
        </div>
      </div>
    </div>
<!-- </section> -->
