<footer>
    <div class="container absolute">
        <div class="row">
            <div class="col-md-12">
                <h4 class="small-title">Location</h4>
            </div>
        </div>
        <div class="row" style="padding-bottom: 50px;">
            <div class="col-md-6">
                <p>Institute for Advanced Architecture of Catalonia </p> 
                <p>Fab Lab Barcelona<p>
                <p>Barcelona<p>
                <p>Pujades 102, 08005<p>
            </div>
            <div class="col-md-6">
                    <div class= "brand">
                        <img src="{{ site.baseurl }}/img/logos/fabcity.svg"> 
                    </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4 class="small-title">Powered by:</h4>
            </div>
        </div>
        <div class="row" style="padding-bottom: 50px;">
            <div class="col-md-6">
                <a class="page-scroll" href="https://fablabbcn.org/" target="_blank"><p>Fab Lab Barcelona </p></a>
                <a class="page-scroll" href="http://cba.mit.edu/" target="_blank"><p>MIT's CBA<p></a>
                <a class="page-scroll" href="https://iaac.net/" target="_blank"><p>IAAC<p></a>
                <a class="page-scroll" href="http://www.fabfoundation.org/" target="_blank"><p>Fab Foundation<p></a>
            </div>
            <div class="col-md-6">
                <a class="page-scroll" href="{{ site.baseurl }}/#intro"><p>The Initiative </p></a>
                <a class="page-scroll" href="{{ site.baseurl }}/#partner-cities"><p>Partner Cities</p></a>
                <a class="page-scroll" href="{{ site.baseurl }}/#collective"><p>The Collective</p></a>
                <a class="page-scroll" href="https://summit.fabcity.paris/" target="_blank"><p>Fab City Summit</p></a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <p class="copyright">Copyright &copy; {{ site.title }} {{ 'now' | date: "%Y" }}</p>
            </div>
        </div>
            
    </div>
</footer>
