<footer>
    <div class="container">
        <div class="row" style="margin-bottom: 30px;">
            <div class="col-md-4">
                <p class="footer-title">Location</p>
                <p >Institute for Advanced Architecture of Catalonia </p> 
                <p>Fab Lab Barcelona<p>
                <p>Barcelona<p>
                <p>Pujades 102, 08005<p>
            </div>
            <div class="col-md-4">
                <p class="footer-title">Powered by:</p>
                <a class="page-scroll" href="https://fablabbcn.org/" target="_blank"><p>Fab Lab Barcelona </p></a>
                <a href="http://cba.mit.edu/" target="_blank"><p>MIT's CBA<p></a>
                <a href="https://iaac.net/" target="_blank"><p>IAAC<p></a>
                <a href="http://www.fabfoundation.org/" target="_blank"><p>Fab Foundation<p></a>
            </div>
            <div class="col-md-4">
                <img src="{{ site.baseurl }}/uploads/fabcity-white.svg" class="footer-brand">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-right">
                <p class="copyright">Copyright &copy; {{ site.title }} {{ 'now' | date: "%Y" }}</p>
            </div>
        </div>
            
    </div>
</footer>

<!--
<div class="col-md-6">
        <div class= "brand">
            <img src="{{ site.baseurl }}/img/logos/fabcity.svg"> 
        </div>
</div>
-->