<footer>
    <div class="container">
        <div class="row" style="margin-bottom: 30px;">
            <div class="col-md-12">
                <p class="footer-sub-header">Join the Fab City Network</p>
                <p>Become a partner or collaborator. Is your city ready to join the Fab City network?</p>
            </div>
        </div>

        <div class="row" style="margin-bottom: 30px;">
            <div class="col-md-12">
                <span>
                    <a href="mailto:info@fab.city" target="blank"><i class="far fa-envelope fa-3x fa-margin"></i></a>
                    <a href="https://t.me/fabcityglobal" target="_blank"><i class="fab fa-telegram-plane fa-3x fa-margin"></i></a>
                    <a href="https://www.facebook.com/fabcityglobal/" target="_blank"><i class="fab fa-facebook-f fa-3x fa-margin"></i></a>
                    <a href="https://github.com/fabcity/toolkit" target="_blank"><i class="fab fa-github fa-3x"></i>
                </span>
            </div>
        </div>

        <div class="row" style="margin-bottom: 30px;">
            <div class="col-md-3">
                {% for link in include.texts.links %}
                <a href="{{ link.url }}"><p class="footer-link">{{ link.title }}</p></a>
                {% endfor %}
            </div>
            <div class="col-md-4">
                <p class="footer-title">Location</p>
                {% for a in include.texts.address %}
                <p>{{ a.line }}</p>
                {% endfor %} 
            </div>
            <div class="col-md-4">
                <p class="footer-title">Powered by:</p>
                {% for organization in include.texts.poweredby %}
                <a href="{{ organization.url }}" target="_blank"><p>{{ organization.org }} </p></a>
                {% endfor %} 
            </div>
            <div class="col-md-1">
                <img src="{{ site.baseurl }}/uploads/fabcity_color.svg" class="footer-brand">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-right">
                <p class="copyright">Copyright &copy; {{ site.title }} {{ 'now' | date: "%Y" }}</p>
            </div>
        </div>
            
    </div>
</footer>