<section id="full-stack">
    <div class="container">
    	<div class="row">
            <div class="col-md-6 quote-box">
                <p class="quote">{{ site.data.about-texts.quote5 }}</p>
            </div>
        </div>
        <div class="row">
        	<div class="col-md-4"></div>
            <div class="col-md-8">
                <h1 style="color:#23408a; font-size:2.8em; margin-top: 30px;">Full Stack Framework</h1>
            </div>
        </div>
         <div class="row no-side-margin" style="margin-top:40px; margin-bottom: 80px;">
         	<div class="col-md-8"> 
            	<img src="{{ site.baseurl }}/img/general/{{ site.data.about-texts.img5 }}" style="width: 100%; height: auto;">
            </div>
            <div class="col-md-4 full-stack-list"> 
            	<ul>
            		<li><h1>F.</h1><p>People, communities, spaces (Fab Labs, Makerspaces, Hackerspaces), machines, tools.</p></li>
            		<li><h1>E.</h1><p>Adoption of new skills, learning by doing, lifelong learning. The Academy of Almost Anything (Fab Academy, Bio Academy, Fabricademy), STEAM education and professional training. </p></li>
            		<li><h1>D.</h1><p>Project repositories for urban transformation. Fablabs.io, a Design Market Platform, Fab products.</p></li>
            		<li><h1>C.</h1><p>Global programs for urban transformation in food, energy, water, information, or other production systems.</p></li>
            		<li><h1>B.</h1><p>Implementation and deployment strategies by the Fab City Collective. Fab City Prototypes.</p></li>
            		<li><h1>A.</h1><p>Policy making and regulation of new urban models. Shared metrics to evaluate progress towards self-sufficiency.</p></li>
            	</ul>
            </div>
     	</div>
    </div><!-- close container-->
</section>



