<section id="get-involved">
    <div class="container absolute">
        <div class="row quote-box">
            <div class="col-md-4">
                <h2 class="quote-title">CALL TO ACTION —WHAT’S NEXT?</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h4 class="quote-subtitle">JOIN YOUR CITY TO THE FAB CITY NETWORK </h4>
                <h4 class="quote-subtitle">ACTION 2: SIGN THE FAB CITY MANIFESTO </h4>
                <h4 class="quote-subtitle">ACTION 3: PARTICIPATE IN THE FAB LAB NETWORK </h4>
            </div>
            <div class="col-md-5 text-right">
                <h4 class="quote-subtitle">Email</h4>
                <h4 class="quote-subtitle">Twitter</h4>
                <h4 class="quote-subtitle">Facebook</h4>
                <h4 class="quote-subtitle">Github</h4>
            </div>
        </div>
    </div><!-- close container-->

    <div class="img-cover bg-6" style="background-image: url('{{ site.baseurl }}/img/general/map.png');"></div>
</section>


 <!--
  <div class="col-md-6">
      <ul class="list-inline social-buttons">
          {% for network in site.social %}
          <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
          </li>
          {% endfor %}
      </ul>
  </div>
--> 

