<section id="{{ include.texts.id }}">
    <div class="container">
        <div class="row no-side-margin section-row" style="margin-bottom: 50px;">
            <div class="col-sm-6 col-md-6 section-texts float-left">
                <div class="row no-side-margin">
                    {% if include.texts.haslargetitle == true %}
                    <div class="col-md-8 no-side-padding">
                        <h1 class="section-title">{{ include.texts.largetitle }}</h1>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div><!--close section content row -->  
        <div class="row">
            <div class="globe-area">
                <img class="img-left globe-img" src="{{ site.baseurl }}/uploads/{{ include.texts.image }}">
                <!--
                <div class="city-info">
                    <p class="section-small-title">Barcelona</p>
                </div>-->
            </div>
            <div class="globe-texts">
                <p class="section-small-title">{{ include.texts.smalltitle }}</p>
                <p class="section-description">{{ include.texts.description }}</p>
                <div class="col-md-12 no-side-padding">
                    <div class="col-sm-6 col-md-6 no-side-padding">
                         {% for city in include.texts.cities %}
                             {% if city.place == 'left' %}
                            <ul class="cities-list">
                                <li class="cities-left">{{ city.name }} </li>
                            </ul> 
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="col-sm-6 col-md-6 no-side-padding">
                        <ul class="cities-list">
                        {% for city in include.texts.cities %}
                            {% if city.place == 'right' %}
                            <ul class="cities-list">
                                <li class="cities-right">{{ city.name }} </li>
                            </ul> 
                            {% endif %}
                        {% endfor %}
                        </ul>
                    </div>

                </div>
            </div>
            <!--
            <div class="col-md-2">
            </div>
            <div class="col-sm-4 col-md-4 section-texts">
                {% if include.texts.hassmalltitle == true %}
                <div class="col-md-8 no-side-padding">
                    <p class="section-small-title">{{ include.texts.smalltitle }}</p>
                </div>
                {% endif %}
                {% if include.texts.hasdescription == true %}
                <div class="col-md-12 no-side-padding" style="margin-bottom: 60px;">
                    <p class="section-description">{{ include.texts.description }}</p>
                </div>
                <div class="col-md-12 no-side-padding">
                    <div class="col-md-6 no-side-padding">
                         {% for city in include.texts.cities %}
                             {% if city.place == 'left' %}
                            <ul class="cities-list">
                                <li class="cities-left">{{ city.name }} </li>
                            </ul> 
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="col-md-6 no-side-padding">
                        <ul class="cities-list">
                        {% for city in include.texts.cities %}
                            {% if city.place == 'right' %}
                            <ul class="cities-list">
                                <li class="cities-right">{{ city.name }} </li>
                            </ul> 
                            {% endif %}
                        {% endfor %}
                        </ul>
                    </div>

                </div>
                {% endif %}
            </div><-->
        </div>  <!-- row-->

        <div class="row">
            <div class="item">
                <a href="">element1</a> <div>span1</div> <br>
            </div>

            <div class="item">
                <a href="">element2</a> <div>span2</div><br>
            </div>
                
            <div class="item">
            <a href="">element3</a> <div>span3</div><br>
            </div>
        </div>
    </div> <!--close container -->
</section>

