<section id="{{ include.texts.id }}">
    <div class="container">
        <div class="row no-side-margin section-row">
            <div class="plain-bg" style="height: 190px; background-color: rgb(193,15,24); margin-left: -40px;" data-bottom-top="margin-top: 400px; width: 10px" data-top="margin-top:0px; width: 555px;"> </div>
            <div class="col-sm-6 col-md-6 section-texts float-left" data-bottom-top="margin-top: 400px;" data-top="margin-top: 0px;">
                <div class="row no-side-margin">
                    {% if include.texts.haslargetitle == true %}
                    <div class="col-md-10 no-side-padding">
                        <h1 class="section-title">{{ include.texts.largetitle }}</h1>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div><!--close section content row -->  
        <div id="myGroup">
            <div class="row">
                <div class= "col-sm-7 col-md-7 no-side-padding">
                    <img class="img-left globe-img" src="{{ site.baseurl }}/{{ include.texts.image }}">
                    {% for city in include.texts.cities %}
                    <div class="city-info collapse" id="{{ city.id }}">
                        <div class="row no-side-margin city-card">
                            <div class="col-sm-8 col-md-8 no-side-padding">
                                <div class="col-sm-2 col-md-2 no-side-padding left-info">
                                    <p class="joined-date">{{ city.coordinates }} &nbsp;| &nbsp; Joined {{ city.joined }}</p>
                                </div>
                                <div class="col-sm-10 col-md-10 no-side-padding">
                                    <p class="city-name">{{ city.name }}, {{ city.country }}</p>
                                    <p class="focus">{{ city.strategicfocus }}</p>
                                    <p class="org-type">{{ city.orgtype }}</p>
                                    <p class="org-name">{{ city.org }}</p>
                                    <p class="org-name"><a href="{{ city.webpresence }}" target="_blank">{{ city.webpresence }}</a></p>
                                </div>
                            </div>
                            <div class="col-sm-4 col-md-4 no-side-padding">
                                <img style="float: right;" src="{{ site.baseurl }}/uploads/bcn-thumb.png">
                            </div>
                            <a class="card-close" data-toggle="collapse" href="#{{ city.id }}">&times;</a> 
                        </div> <!--close row-->
                    </div>
                    {% endfor %}
                </div>
                <div class="col-md-1">
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 section-texts">
                    {% if include.texts.hassmalltitle == true %}
                    <div class="col-md-8 no-side-padding">
                        <p class="section-small-title">{{ include.texts.smalltitle }}</p>
                    </div>
                    {% endif %}
                    {% if include.texts.hasdescription == true %}
                    <div class="col-md-12 no-side-padding" style="margin-bottom: 60px;">
                        <p class="section-description">{{ include.texts.description }}</p>
                    </div>
                    <div class="col-md-12 no-side-padding">
                        <div class="col-xs-6 col-sm-6 col-md-6 no-side-padding">
                            <ul class="cities-list">
                                {% for city in include.texts.cities %}
                                     {% if city.place == 'left' %}
                                        <li class="cities-left"><a class="" data-toggle="collapse" href="#{{ city.id }}" role="button" aria-expanded="false" aria-controls="{{ city.id }}">{{ city.name }}</a></li>
                                    {% endif %}
                                {% endfor %}
                            </ul> 
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 no-side-padding">
                            <ul class="cities-list">
                            {% for city in include.texts.cities %}
                                {% if city.place == 'right' %}
                                    <li class="cities-left"><a class="" data-toggle="collapse" href="#{{ city.id }}" role="button" aria-expanded="false" aria-controls="{{ city.id }}">{{ city.name }}</a></li>
                                {% endif %}
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>  <!-- row-->
        </div>
    </div> <!--close container -->
</section>