<header>
    <div class="container">
        <div class="row no-side-margin">
    	    <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4 twitter-space">
                <a href="https://twitter.com/fabcity">
                <div class="tweet-box">
                    <div class="icon"><i class="fa fa-twitter link-grow"></i></div>
                    <div class="tweet">
                        <p>Loading latest tweet... </p>
                    </div>
                    <!--
                    <a href="https://twitter.com/fabfndn"><h6 class="h6-inverted link-grow" > Join the conversation > </h6> </a>-->
                </div>           
                </a>
            </div><!-- close twitter-space -->
        </div>
        <div class="intro-text">
            <div class="intro-lead-in">Locally productive, </br> globally connected cities</div>
        </div>

        <div class="countdown-box">
			<div id="countdown" class="col-xs-12 col-sm-12 col-md-12">
				<div class="countdown styled"></div>
			</div>
			<div class="col-md-6 description">
				  <p>Until cities produce everything they consume.</p>
			</div>
		</div>

    </div> <!--close container-->

    <div class="bg-imgs">
		<div class="col-xs-6 col-md-6 bg-1 img-cover" style="background-image: url('{{ site.baseurl }}/img/general/rb-1.png');">
		</div>
		<div class="col-xs-6 col-md-6 bg-2 img-cover" style="background-image: url('{{ site.baseurl }}/img/general/rb-2.jpg');">
		</div>
	</div>

</header>

