<!-- <br /> -->
<!-- <br /> -->

<header>
  <div class="overlay"></div>
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="{{ site.baseurl }}/uploads/web_cut.mp4" type="video/mp4">
  </video>
  <div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white">
        <h1 class="display-3">Locally productive, globally connected cities</h1>
        <div id="countdown" class="col-xs-12 col-sm-12 col-md-12 no-side-padding">
          <div class="countdown styled text-center h3"></div>
        </div>
        <p class="lead mb-0">Until cities produce everything they consume.</p>
      </div>
    </div>
  </div>
</header>
