<!-- <header> -->
    <!-- <video src="" loop muted autoplay playsinline id="video">
    </video> -->
    <br />
<br />
<div class="jumbotron jumbotron-fluid">
  <div class="container">
            <div class="display-4 text-center">
                Locally productive, globally connected cities
            </div>
			<div id="countdown" class="col-xs-12 col-sm-12 col-md-12 no-side-padding">
				<div class="countdown styled text-center h5"></div>
			</div>
			<div class="text-center">
				  <p>Until cities produce everything they consume.</p>
			     </div>
    </div>
    </div>

<!-- </div> -->
<!-- </header> -->
