<section id="intro">
    <div class="container absolute">
    	<div class="row">
            <div class="col-md-6 section-texts">
                <p class="section-heading">We are a collective of citizens, researchers, policy makers, teachers, developers and entrepeneurs working on bringing back production to cities.</p>
            </div>
        </div>
    </div><!-- close container-->

    <div class="bg-3 img-cover" style="background-image: url('{{ site.baseurl }}/img/general/bg-3.jpg');"></div>
    <div class="bg-4 img-cover" style="background-image: url('{{ site.baseurl }}/img/general/bg-4.jpg');"></div>
</section>



