<section id="{{ include.texts.id }}">
    <div class="container">
        <div class="col-sm-6 col-md-6 section-texts float-left quote-box"  style="height: {{ include.texts.imgheight }}px;">
            <div class="row no-side-margin">
                <p class="quote">Currently, cities occupy <span>2%</span> of the earth's surface to house 1/2 of world population</p>
                <p class="quote">The are responsible for <span>67%</span> of global energy consumption</p>
                <p class="quote">and <span>70%</span> of global waste generation</p>
                <p class="quote">in 2050, it is expected that <span>2/3</span> of the global population will live in cities.</p>
                <p class="quote-highlight text-center">We are shifting the paradigm PITO to DIDO to enable cities to produce everything they consume by 2054</p>
            </div>
        </div>

        <div class= "col-sm-6 col-md-6 no-side-padding">
            {% if include.texts.hascolorbg == true %}
                {% if include.texts.sectioncolor == 'blue' %}
                    <div class="plain-bg plain-bg-right blue" style="width: {{ include.texts.imgwidth }}px; height: {{ include.texts.imgheight }}px;" data-bottom="margin-top: 30px;" data-top="margin-top: -30px;"> </div>
                {% elsif include.texts.sectioncolor == 'yellow' %}
                    <div class="plain-bg plain-bg-right yellow" style="width: {{ include.texts.imgwidth }}px; height: {{ include.texts.imgheight }}px;" data-bottom="margin-top: 30px;" data-top="margin-top: -30px;"> </div>
                {% elsif include.texts.sectioncolor == 'red' %}
                    <div class="plain-bg plain-bg-right red" style="width: {{ include.texts.imgwidth }}px; height: {{ include.texts.imgheight }}px;" data-bottom="margin-top: 30px;" data-top="margin-top: -30px;"> </div>
                {% else %}
                    <div class="plain-bg plain-bg-right green" style="width: {{ include.texts.imgwidth }}px; height: {{ include.texts.imgheight }}px;" data-bottom="margin-top: 30px;" data-top="margin-top: -30px;"> </div>
                {% endif %}
            {% endif %}
            <img class="section-img img-right" src="{{ site.baseurl }}/uploads/{{ include.texts.image }}">
        </div>

    </div> <!--close container -->
</section>

