<section id="intro">
    <div class="container">
        <div class="quote-box">
            <p class="quote">Currently, cities occupy <span>2%</span> of the earth's surface to house 1/2 of world population</p>
            <p class="quote">The are responsible for <span>67%</span> of global energy consumption</p>
            <p class="quote">and <span>70%</span> of global waste generation</p>
            <p class="quote">in 2050, it is expected that <span>2/3</span> of the global population will live in cities.</p>
            <p class="quote-highlight text-center">We are shifting the paradigm PITO to DIDO to enable cities to produce everything they consume by 2054</p>
        </div>
        <div class= "img-block blue img-right">
            <!--<div class="bg-plain blue"></div>-->
            <div class="img-medium img-cover" style="background-image: url('{{ site.baseurl }}/uploads/city-panorama.jpg');">
        </div>
    </div> <!--close container -->
</section>



