 <!-- jQuery Version 1.11.0 -->
    <script src="{{ "/js/jquery-1.11.0.js" | prepend: site.baseurl }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ "/js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/classie.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/cbpAnimatedHeader.js" | prepend: site.baseurl }}"></script>

    <!-- Contact Form JavaScript -->
    <script src="{{ "/js/jqBootstrapValidation.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/contact_me.js" | prepend: site.baseurl }}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ "/js/agency.js" | prepend: site.baseurl }}"></script>

    <!--Iscroll for horizontal slide menus-->
    <script src="{{ "/js/iscroll.js" | prepend: site.baseurl }}"></script>
    
    <!--Twitter call for last tweet home mosaic-->
    <script src="{{ "/js/twitter-call.js" | prepend: site.baseurl }}"></script>

    <!--Twitter call for last tweet home mosaic-->
    <script src="{{ "/js/twitter-call-academany.js" | prepend: site.baseurl }}"></script>

    <!-- Slow Appear -->
    <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>


   <script type="text/javascript">
    $('.carousel').carousel({
    interval: 2500 //changes the speed
    })
    </script>


    <script type="text/javascript">
        AOS.init({
            duration: 1200,
        })
    </script>


    <script>
        function openNav() {
            document.getElementById("myNav").style.height = "100%";
        }

        function closeNav() {
            document.getElementById("myNav").style.height = "0%";
        }
    </script>
