<section id="manifesto">
     <div class="container">
        <div class="manifesto-box">
            <div class="row no-side-margin manifesto-title">
                The
            </div>
            <div class="row no-side-margin manifesto-title fab">
                Fab
            </div>
            <div class="row no-side-margin manifesto-title">
                City
            </div>
            <div class="row no-side-margin manifesto-title manifesto">
                Manifesto
            </div>
            <div class="row" style="margin-top:40px; text-align: right;">
                <div class="col-md-12">
                    <a href="{{ site.baseurl }}/documents/Manifesto.pdf" class="page-scroll btn btn-clear" target="_blank">Download the fab City Manifesto</a>
                </div>
            </div>
            <!--
            <div class="row manifesto-content">
                {% for claim in site.data.home-texts.manifesto %}
                    <div class="col-sm-3 col-md-4 claim">
                        <h2>{{ claim.number }} {{ claim.title }}</h2>
                        <p>{{ claim.content }}</p>
                    </div>
                {% endfor %}
            </div>
            -->
        </div>

    </div> <!--close container-->
</section>


