<section id="manifesto">
     <div class="container">
        <div class="manifesto-box">
            <div class="row no-side-margin manifesto-title">
                The
            </div>
            <div class="row no-side-margin manifesto-title fab">
                Fab
            </div>
            <div class="row no-side-margin manifesto-title">
                City
            </div>
            <div class="row no-side-margin manifesto-title manifesto">
                Manifesto
            </div>
        </div>
    </div> <!--close container-->
</section>



