<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--<a class="navbar-brand page-scroll" href="#page-top">{{site.title}}</a>-->
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="{{ base.url }}/#intro">The Initiative</a>
                </li>
                <li>
                    <a class="page-scroll" href="{{ base.url }}/#collective">The Collective</a>
                </li>
                <li>
                    <a class="page-scroll" href="{{ base.url }}/#fabcity">Partner Cities</a>
                </li>
                <li>
                    <a class="page-scroll" href="https://summit.fabcity.paris/" target="_blank">Fab City Summit</a>
                </li>
                <li>
                    <a class="page-scroll" href="{{ base.url }}/#subscribe">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
</nav>

<div class="brand-box">
    <div class= "brand">
        <img src="/img/logos/fabcity.svg"> 
    </div>
    <div class="button-top">
        <a href="{{ base.url }}/#get-involved" class="page-scroll btn">Get Involved</a>
    </div>
</div>