<section id="partners">
    <div class="container absolute">
        <div class="row quote-box">
            <div class="col-md-4">
                <h2 class="quote-title">Our Partners</h2>
                <p>The Fab City global initiative is an effort of a group of leaders, organizations and projects dedicated to explore present and future of key fields for the development of productive cities such as digital fabrication, future information systems, intelligent materials, provenance and resource traceability, urban agriculture, alternative currencies and collective citizen empowerment.</p>
            </div>
            <div class="col-md-8 text-center">
                <div class="col-md-12">
                    <span class="sponsor">
                        <div class="icon"><img class="sponsor-img" src="/img/logos/iaac.png"> </div>
                    </span>
                </div>
                <div class="col-md-12">
                    <span class="sponsor">
                        <div class="icon"><img class="sponsor-img" src="/img/logos/fabfoundation.svg"> </div>
                    </span>
                </div>
                <div class="col-md-12">
                    <span class="sponsor">
                        <div class="icon"><img class="sponsor-img" src="/img/logos/logoCBA.jpg"> </div>
                    </span>
                </div>
            </div>
        </div>
    </div><!-- close container-->

</section>



