<section id="partner-projects">
    <div class="container absolute">
        <div class="row quote-box">
            <div class="col-md-4">
                <h2 class="quote-title">Partner Projects</h2>
                <p></p>
            </div>
        </div>
        <div class="row slidewrapper">
            <div id="slideshow1" class="slideshow">
                <div class="list">

                    {% for slide in include.texts.slides %}
                    <div class="element">
                        <div class="element-img" style="background-image: url('/img/general/{{ slide.img }}');"> 
                        </div>
                        <div class="element-name">
                            <h3 class="smallcaps">{{ slide.title }}</h3>
                        </div>
                        <div class="element-description">
                            <p class="small">{{ slide.description }}</p>
                        </div>
                    </div>
                    {% endfor %}

                </div> <!-- close list -->
            </div> <!-- close slideshow1 -->
        </div>  <!-- close slidewrapper -->  
    </div><!-- close container-->

</section>



