<div class="container">

<!-- Three columns of text below the carousel -->
    <div class="row">
      {% for member in include.texts.members %}
      <div class="col-lg-3">
        <svg class="bd-placeholder-img rounded-circle"  xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>{{ member.name }}</title><img class="rounded-circle" src="{{ site.baseurl }}/uploads/{{ member.img }}" width="140" height="140" alt=""></svg>
        <!-- <a href="{{ member.url }}" target="_blank"> -->
        <h2>{{ member.name }}</h2>
        <!-- </a> -->
        <p>{{ member.position }}</p>
        <p><a class="btn btn-secondary" href="{{ member.url }}" role="button">View details &raquo;</a></p>
      <!-- </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
    {% endfor %}
  </div>
  </div>
