<div class="container">
    <div class="row row-members">
      {% for member in include.texts.members %}
      <div class="col-2dot4 col-sm-2dot4 col-md-2dot4 col-lg-2dot4 col-xl-2dot4">
        <a class="text-dark no-underline no-link" href="{{ member.url }}" role="button">
        <svg class="bd-placeholder-img rounded-circle"  xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>{{ member.name }}</title><img class="rounded-circle" src="{{ site.baseurl }}/uploads/{{ member.img }}" width="140" height="140" alt=""></svg>
        <h3>{{ member.name }}</h3>
        <p>{{ member.position }}</p>
        </a>
      </div>
    {% endfor %}
  </div>
  </div>
