<section id="pito-dido">
    <div class="container">
        <div class="row no-side-margin" style="margin-top:80px; margin-bottom: 80px;">
            <img src="{{ site.baseurl }}/img/general/{{ site.data.about-texts.img4 }}" height="500px">
        </div>
        <div class="row">
                <div class="col-md-4">
                    <h3 class="quote-title">{{ site.data.about-texts.title4 }}</h3>
                </div>
            </div>
        <div class="row">
            <div class="col-md-4">
                <p>{{ site.data.about-texts.text4a }}</p>
            </div>
            <div class="col-md-4">
                <p style="">{{ site.data.about-texts.text4b }}</p>
            </div>
        </div>
    </div>
</section>



