<section id="roadmap">
    <div class="container absolute">
        <div class="row">
            <div class="col-md-4">
                <h2 class="quote-title">Our Roadmap</h2>
                <p>A long term challenge based on short actions. </p>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
        </div>

        <div class="row no-side-margin">
           <div class="top">
                <div class="top-element">Lorem top 1</div>
                <div class="top-element">Lorem top 2</div>
                <div class="top-element">Lorem top 3</div>
                <div class="top-element">Lorem top 4</div>
            </div>
          
            <div class="line"></div>
          
            <div class="bottom">
                <div class="bottom-element">Lorem bottom 1</div>
                <div class="bottom-element">Lorem bottom 2</div>
                <div class="bottom-element">Lorem bottom 3</div>
                <div class="bottom-element">Lorem bottom 4</div>
          </div>
        </div>

    </div><!-- close container-->

</section>





