<section id="roadmap">
    <div class="container">
        <div class="row" style="margin-bottom:40px;">
            <div class="col-md-4">
                <h2 class="quote-title">Our Roadmap</h2>
                <p>A long term challenge based on short term actions. </p>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
        </div>

        <div class="row no-side-margin roadmap-box">  
             
            <div class="line"></div>
            <div class="bottom">
                {% for event in include.texts.events %}
                <div class="bottom-element">
                    <div class="text-box">
                        <img class="timeline-logo" src="{{ site.baseurl }}/img/roadmap/{{ event.img }}">
                        <h4>{{ event.year }} &nbsp; {{ event.title }}</h4>
                        <p class="small">{{ event.description }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        
        </div>

        <div class="col-md-6" style="margin-top: 60px;">
            <p>{{ site.data.about-texts.quote6 }}</p>
        </div>

    </div><!-- close container-->

</section>





