<br />
<section id="{{ include.texts.id }}">
    <div class="container">
      <div class="card">
        <div class="row">
          <div class="col-md-6">
            <div class="card-body">
                <h5 class="card-title">{{ include.texts.largetitle }}</h5>
                <p class="card-text">{{ include.texts.description }}</p>
                <a class="btn btn-primary"> {{ include.texts.buttonaction }}</a>
                <a href="{{ include.texts.buttonlink }}" class="page-scroll btn green" target="_blank" data-bottom-top="background-position:left bottom; margin-top:" data-200-center-top="background-position:right bottom;">{{ include.texts.buttontitle }}</a>
              </div>
            </div>
            <div class="col-md-6">
              <img src="{{ site.baseurl }}/{{ include.texts.image }}" class="card-img-top" alt="{{ site.baseurl }}/{{ include.texts.image }}">
            </div>
        </div>
      </div>
  </div>
</section>
