<section id="{{ include.texts.id }}">
    <div class="container">
        <!--Orientation 'normal' text first, photo after-->
        <div class="row no-side-margin section-row">
            {% if include.texts.orientation == 'normal' %}
            <div class="col-xs-12 col-sm-6 col-md-6 section-texts float-left" style="height: {{ include.texts.imgheight }}px;" data-bottom-top="margin-top: 600px;" data-50-top="margin-top: 0px;">

                <div class="row no-side-margin">
                    {% if include.texts.haslargetitle == true %}
                    <div class="col-md-12 no-side-padding">
                        <h1 data-bottom="opacity: 0;" data-0-center-center="opacity:1;" class="section-title">{{ include.texts.largetitle }}</h1>
                    </div>
                    {% endif %}
                    {% if include.texts.hassmalltitle == true %}
                    <div class="col-md-8 no-side-padding">
                        {% if include.texts.sectioncolor == 'blue' %}
                        <div class="intro-line"><svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="42px" height="24px"><path d="M0 12 L42 12" style="fill:none; stroke:rgb(20,4,104);stroke-width:4"></path></svg>
                        </div>
                        {% elsif include.texts.sectioncolor == 'red' %}
                        <div class="intro-line"><svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="42px" height="24px"><path d="M0 12 L42 12" style="fill:none; stroke:rgb(226,24,38);stroke-width:4"></path></svg>
                        </div>
                        {% elsif include.texts.sectioncolor == 'green' %}
                        <div class="intro-line"><svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="42px" height="24px"><path d="M0 12 L42 12" style="fill:none; stroke:rgb(24,165,55);stroke-width:4"></path></svg>
                        </div>
                        {% else %}
                        <div class="intro-line"><svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="42px" height="24px"><path d="M0 12 L42 12" style="fill:none; stroke:rgb(255,239,25);stroke-width:4"></path></svg>
                        {% endif %}
                        <p class="section-small-title">{{ include.texts.smalltitle }}</p>
                    </div>
                    {% endif %}
                    {% if include.texts.hasdescription == true %}
                    <div class="col-md-12 no-side-padding">
                        <p data-bottom="opacity: 0;" data-0-center-center="opacity:1;" class="section-description">{{ include.texts.description }}</p>
                    </div>
                    {% endif %}

                    {% if include.texts.hasbutton == true %}
                    <div class="button-area" data-bottom-top="margin-bottom: -100px;" data-80-center-top="margin-bottom: 0px;">
                        <div class="col-md-12 no-side-padding text-right">
                            <p class="action"> {{ include.texts.buttonaction }}</p> 
                        </div>
                        <div class="col-md-12 no-side-padding text-right">
                        {% if include.texts.sectioncolor == 'blue' %}
                            <a href="{{ include.texts.buttonlink }}" class="page-scroll btn blue" target="_blank" data-bottom-top="background-position:left bottom; margin-top:" data-200-center-top="background-position:right bottom;">{{ include.texts.buttontitle }}</a>
                        {% elsif include.texts.sectioncolor == 'yellow'  %}
                            <a href="{{ include.texts.buttonlink }}" class="page-scroll btn yellow" target="_blank" data-bottom="background-position:left bottom;" data-bottom-top="background-position:left bottom; margin-top:" data-200-center-top="background-position:right bottom;">{{ include.texts.buttontitle }}</a>
                        {% elsif include.texts.sectioncolor == 'red'  %}
                            <a href="{{ include.texts.buttonlink }}" class="page-scroll btn red" target="_blank" data-bottom-top="background-position:left bottom; margin-top:" data-200-center-top="background-position:right bottom;">{{ include.texts.buttontitle }}</a>
                        {% else %}
                            <a href="{{ include.texts.buttonlink }}" class="page-scroll btn green" target="_blank" data-bottom-top="background-position:left bottom; margin-top:" data-200-center-top="background-position:right bottom;">{{ include.texts.buttontitle }}</a>
                        {% endif %}
                        </div>
                        <div class="col-md-12 no-side-padding">
                            <a href="{{ include.texts.buttonlink }}"><div class="" style="width: 19px; height: 17px; float:right;"><img src="{{ site.baseurl }}/uploads/download-icon.png"></div></a>
                        </div>
                    </div>
                    {% endif %}
                </div> <!--close row-->
            </div><!--close section-texts-->
            <div class= "col-sm-6 col-md-6 no-side-padding" data-bottom-top="margin-top: 200px;" data-50-top="margin-top: 0px;">
                {% if include.texts.hascolorbg == true %}
                    {% if include.texts.sectioncolor == 'blue' %}
                        <div class="plain-bg plain-bg-right bg-blue" style="width: {{ include.texts.imgwidth }}px; height: {{ include.texts.imgheight }}px;" data-bottom-top="margin-top: 80px;" data-top="margin-top: -40px;"> </div>
                    {% elsif include.texts.sectioncolor == 'yellow' %}
                        <div class="plain-bg plain-bg-right bg-yellow" style="width: {{ include.texts.imgwidth }}px; height: {{ include.texts.imgheight }}px;" data-bottom-top="margin-top: 80px;" data-top="margin-top: -40px;"> </div>
                    {% elsif include.texts.sectioncolor == 'red' %}
                        <div class="plain-bg plain-bg-right bg-red" style="width: {{ include.texts.imgwidth }}px; height: {{ include.texts.imgheight }}px;" data-bottom-top="margin-top: 80px;" data-top="margin-top: -40px;"> </div>
                    {% else %}
                        <div class="plain-bg plain-bg-right bg-reen" style="width: {{ include.texts.imgwidth }}px; height: {{ include.texts.imgheight }}px;" data-bottom-top="margin-top: 80px;" data-top="margin-top: -40px;"> </div>
                    {% endif %}
                {% endif %}
                <img class="section-img img-right" src="{{ site.baseurl }}/uploads/{{ include.texts.image }}">
            </div>
        </div>
        {% if include.texts.hasextraaction == true %}
            <div class="row no-side-margin text-right">
                <div class= "col-sm-2 col-md-2 extra-action" style="float: right;">
                    <a href="">{{ include.texts.extraaction }}</a>
                </div>
            </div>
        {% endif %}
        {% else %}
        <!--Orientation 'inverted' photo first, text after-->
        <div class="row no-side-margin section-row">
            <div class= "col-sm-6 col-md-6 no-side-padding" data-bottom-top="margin-top: 200px;" data-50-top="margin-top: 0px;">
                {% if include.texts.hascolorbg == true %}
                    {% if include.texts.sectioncolor == 'blue' %}
                        <div class="plain-bg plain-bg-left bg-blue" style="width: {{ include.texts.imgwidth }}px; height: {{ include.texts.imgheight }}px;" data-bottom-top="margin-top: 80px;" data-top="margin-top: -40px;"> </div>
                    {% elsif include.texts.sectioncolor == 'yellow' %}
                        <div class="plain-bg plain-bg-left bg-yellow" style="width: {{ include.texts.imgwidth }}px; height: {{ include.texts.imgheight }}px;"data-bottom="margin-top: 30px;" data-top="margin-top: -30px;"> </div>
                    {% elsif include.texts.sectioncolor == 'red' %}
                        <div class="plain-bg plain-bg-left bg-red" style="width: {{ include.texts.imgwidth }}px; height: {{ include.texts.imgheight }}px;" data-bottom-top="margin-top: 80px;" data-top="margin-top: -40px;"> </div>
                    {% else %}
                        <div class="plain-bg plain-bg-left bg-green" style="width: {{ include.texts.imgwidth }}px; height: {{ include.texts.imgheight }}px;" data-bottom-top="margin-top: 80px;" data-top="margin-top: -40px;"> </div>
                    {% endif %}
                {% endif %}
                <img class="section-img img-left" src="{{ site.baseurl }}/uploads/{{ include.texts.image }}">
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 section-texts float-right" style="height: {{ include.texts.imgheight }}px;" data-bottom-top="margin-top: 600px;" data-50-top="margin-top: 0px;">
                <div class="row no-side-margin">
                    {% if include.texts.haslargetitle == true %}
                    <div class="col-md-12 no-side-padding">
                        <h1 data-0-bottom-top="opacity: 0;" data-0-center-top="opacity:1;" class="section-title">{{ include.texts.largetitle }}</h1>
                    </div>
                    {% endif %}
                    {% if include.texts.hassmalltitle == true %}
                    <div class="col-md-12 no-side-padding">
                        <div class="col-md-2 no-side-padding">
                            {% if include.texts.sectioncolor == 'blue' %}
                            <div class="intro-line line-right"><svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="42px" height="24px"><path d="M0 12 L42 12" style="fill:none; stroke:rgb(20,4,104);stroke-width:4"></path></svg>
                            </div>
                            {% elsif include.texts.sectioncolor == 'red' %}
                            <div class="intro-line line-right"><svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="42px" height="24px"><path d="M0 12 L42 12" style="fill:none; stroke:rgb(226,24,38);stroke-width:4"></path></svg>
                            </div>
                            {% elsif include.texts.sectioncolor == 'green' %}
                            <div class="intro-line line-right"><svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="42px" height="24px"><path d="M0 12 L42 12" style="fill:none; stroke:rgb(24,165,55);stroke-width:4"></path></svg>
                            </div>
                            {% else %}
                            <div class="intro-line line-right"><svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="42px" height="24px"><path d="M0 12 L42 12" style="fill:none; stroke:rgb(255,239,25);stroke-width:4"></path></svg>
                            {% endif %}
                        </div>
                        <div class="col-md-8 no-side-padding">
                            <p class="section-small-title">{{ include.texts.smalltitle }}</p>
                        </div>
                    </div>
                    {% endif %}
                    {% if include.texts.hasdescription == true %}
                    <div class="col-md-12 no-side-padding">
                        <div class="col-md-2 no-side-padding">
                        </div>
                        
                        <div class="col-md-10 no-side-padding">
                            <p data-0-bottom-top="opacity: 0;" data-0-center-top="opacity:1;" class="section-description">{{ include.texts.description }}</p>
                        </div>
                    </div>
                    {% endif %}

                    {% if include.texts.hasbutton == true %}
                    <div class="button-area" data-bottom-top="margin-bottom: -100px;" data-80-center-top="margin-bottom: 0px;">
                        <div class="col-md-12 no-side-padding text-right">
                            <p class="action"> {{ include.texts.buttonaction }}</p> 
                        </div>
                        <div class="col-md-12 no-side-padding text-right">
                        {% if include.texts.sectioncolor == 'blue' %}
                            <a href="{{ include.texts.buttonlink }}" class="page-scroll btn blue" target="_blank" data-bottom-top="background-position:left bottom; margin-top:" data-200-center-top="background-position:right bottom;">{{ include.texts.buttontitle }}</a>
                        {% elsif include.texts.sectioncolor == 'yellow'  %}
                            <a href="{{ include.texts.buttonlink }}" class="page-scroll btn yellow" target="_blank" data-bottom-top="background-position:left bottom; margin-top:" data-200-center-top="background-position:right bottom;">{{ include.texts.buttontitle }}</a>
                        {% elsif include.texts.sectioncolor == 'red'  %}
                            <a href="{{ include.texts.buttonlink }}" class="page-scroll btn red" target="_blank" data-bottom-top="background-position:left bottom; margin-top:" data-200-center-top="background-position:right bottom;">{{ include.texts.buttontitle }}</a>
                        {% else %}
                            <a href="{{ include.texts.buttonlink }}" class="page-scroll btn green" target="_blank" data-bottom-top="background-position:left bottom; margin-top:" data-200-center-top="background-position:right bottom;">{{ include.texts.buttontitle }}</a>
                        {% endif %}
                        </div>
                        {% if include.texts.hasdownload == true %}
                        <div class="col-md-12 no-side-padding">
                            <a href="{{ include.texts.buttonlink }}"><div class="" style="width: 19px; height: 17px; float:right;"><img src="{{ site.baseurl }}/uploads/download-icon.png"></div></a>
                        </div>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div><!--close section content row --> 
        {% if include.texts.hasextraaction == true %}
            <div class="row no-side-margin text-left">
                <div class= "col-sm-2 col-md-2 extra-action" style="float: left;">
                    <a href="">{{ include.texts.extraaction }}</a>
                </div>
            </div>
        {% endif %}  <!-- Endif Extra Action Button -->
        {% endif %}  <!-- Endif Orientation condition -->

        {% if include.texts.hasdivisionline == true %}
            <div class="row no-side-margin text-center" data-bottom="margin-top: 300px;" data-top-top="margin-top: 0px;">
                {% if include.texts.sectioncolor == 'blue' %}
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="504px" height="24px"><path d="M0 12 L504 12" style="fill:none; stroke-width:4;" data-bottom="stroke:rgb(255, 255, 255);" data-0-center-center=" stroke:rgb(20, 4, 104);"></path></svg>
                {% elsif include.texts.sectioncolor == 'yellow'  %}
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="504px" height="24px"><path d="M0 12 L504 12" style="fill:none; stroke:rgb(255,239,25);stroke-width:4;"></path></svg>
                {% elsif include.texts.sectioncolor == 'red'  %}
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="504px" height="24px"><path d="M0 12 L504 12" style="fill:none; stroke:rgb(193,15,24);stroke-width:4;"></path></svg>
                {% else %}
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="504px" height="24px"><path d="M0 12 L504 12" style="fill:none; stroke:rgb(24,165,55);stroke-width:4;"></path></svg>
            </div>
            {% endif %}
        {% endif %}
    </div> <!--close container -->
</section>



