<section id="subscribe">
  <div class="container">
        <h4>Stay in touch </h4>
      <!-- Begin MailChimp Signup Form -->
        <form action="https://city.us18.list-manage.com/subscribe/post?u=6f63bca4c73da264f0f283196&amp;id=124968f5fe" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div class="form-group">
              <label for="exampleInputEmail1">Name</label>
              <input type="text" id="mce-EMAIL" class="form-control">
          </div>
          <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email required" id="mce-EMAIL" class="form-control" aria-describedby="emailHelp">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
            <div id="mce-responses" class="clear">
              <div class="response alert alert-success" id="mce-error-response" role="alert">Check your email!</div>
              <div class="response alert alert-danger" id="mce-success-response" role="alert"> Error</div>
            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_6f63bca4c73da264f0f283196_124968f5fe" tabindex="-1" value=""></div>
          <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary">
        </form>
      <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
    </div>
</section>
<br />
<br />
