<!-- Twitter Section -->


<div id="twitter" data-aos="fade-up">
    <div class="container">
        <div class="col-md-6 twitter-space">
            <a href="https://twitter.com/fabcityglobal">
            <div class="tweet-box">
                <div class="icon"><i class="fa fa-twitter link-grow"></i></div>
                <div class="tweet box-grow">
                    <p>Loading latest tweet... </p>
                </div>
                <a href="https://twitter.com/fabcityglobal"><h6 class="h6-inverted link-grow" > Join the conversation > </h6> </a>
            </div>           
            </a>
        </div><!-- close twitter-space -->
    </div>
</div>    


