<!-- Twitter Section -->


<div class="row no-side-margin">
    <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4 twitter-space">
        <a href="https://twitter.com/fabcityglobal" target="_blank">
        <div class="tweet-box">
            <div class="icon"><i class="fa fa-twitter link-grow"></i></div>
            <div class="tweet">
                <p>Loading latest tweet... </p>
            </div>
            <!--
            <a href="https://twitter.com/fabfndn"><h6 class="h6-inverted link-grow" > Join the conversation > </h6> </a>-->
        </div>           
        </a>
    </div><!-- close twitter-space -->
</div