<section id="{{ include.texts.id }}">
    <div class="container">
        <!--Orientation 'normal' text first, photo after-->
        <div class="row no-side-margin section-row">
            {% if include.texts.orientation == 'normal' %}
            {% if include.texts.hasleftcolorblock == true %}
                {% if include.texts.sectioncolor == 'blue' %}
                    <div class="plain-bg left-color-block bg-blue" style="height: {{ include.texts.imgheight }}px;" data-bottom-top="width: 10px" data-center="width: 40px;"> </div>
                {% elsif include.texts.sectioncolor == 'red' %}
                     <div class="plain-bg left-color-block bg-red" style="height: {{ include.texts.imgheight }}px;" data-bottom-top="width: 10px" data-center="width: 40px;"> </div>
                {% elsif include.texts.sectioncolor == 'green' %}
                     <div class="plain-bg left-color-block bg-green" style="height: {{ include.texts.imgheight }}px;" data-bottom-top="width: 10px" data-center="width: 40px;"> </div>
                {% else %}
                     <div class="plain-bg left-color-block bg-yellow" style="height: {{ include.texts.imgheight }}px;" data-bottom-top="width: 10px" data-center="width: 40px;"> </div>
                {% endif %}
            {% endif %}
            <div class="col-xs-12 col-sm-6 col-md-6 section-texts float-left" style="height: {{ include.texts.imgheight }}px;">
                <div class="row no-side-margin">
                    {% if include.texts.haslargetitle == true %}
                    <div class="plain-bg" style="height: 65px; background-color: rgb(255,239,25);"  data-200-bottom="width: 0px;" data-top="width: 300px;"> </div>
                    <div class="plain-bg" style="margin-top: 80px; height: 65px; background-color: rgb(255,239,25);" data-200-bottom="width: 0px;" data-100-top="width: 200px;"> </div>

                    <div class="col-md-12 no-side-padding">
                        <h1 data-bottom="opacity: 0;" data-0-center-center="opacity:1;" class="section-title">{{ include.texts.largetitle }}</h1>
                    </div>
                    {% endif %}
                    {% if include.texts.hassmalltitle == true %}
                    <div class="col-md-8 no-side-padding">
                        {% if include.texts.sectioncolor == 'blue' %}
                        <div class="intro-line"><svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="42px" height="24px"><path d="M0 12 L42 12" style="fill:none; stroke:rgb(20,4,104);stroke-width:4"></path></svg>
                        </div>
                        {% elsif include.texts.sectioncolor == 'red' %}
                        <div class="intro-line"><svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="42px" height="24px"><path d="M0 12 L42 12" style="fill:none; stroke:rgb(226,24,38);stroke-width:4"></path></svg>
                        </div>
                        {% elsif include.texts.sectioncolor == 'green' %}
                        <div class="intro-line"><svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="42px" height="24px"><path d="M0 12 L42 12" style="fill:none; stroke:rgb(24,165,55);stroke-width:4"></path></svg>
                        </div>
                        {% else %}
                        <div class="intro-line"><svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="42px" height="24px"><path d="M0 12 L42 12" style="fill:none; stroke:rgb(255,239,25);stroke-width:4"></path></svg>
                        {% endif %}
                        <p class="section-small-title">{{ include.texts.smalltitle }}</p>
                    </div>
                    {% endif %}
                    {% if include.texts.hasdescription == true %}
                    <div class="col-md-12 no-side-padding">
                        <p data-bottom="opacity: 0;" data-0-center-center="opacity:1;" class="section-description">{{ include.texts.description }}</p>
                    </div>
                    {% endif %}
                    {% if include.texts.hasbutton == true %}
                    <div class="button-area" data-bottom-top="margin-bottom: -100px;" data-80-center-top="margin-bottom: 0px;">
                        <div class="col-md-12 no-side-padding text-right">
                            <p class="action"> {{ include.texts.buttonaction }}</p> 
                        </div>
                        <div class="col-md-12 no-side-padding text-right">
                        {% if include.texts.sectioncolor == 'blue' %}
                            <a href="{{ include.texts.buttonlink }}" class="page-scroll btn blue" target="_blank" data-bottom-top="background-position:left bottom; margin-top:" data-200-center-top="background-position:right bottom;">{{ include.texts.buttontitle }}</a>
                        {% elsif include.texts.sectioncolor == 'yellow'  %}
                            <a href="{{ include.texts.buttonlink }}" class="page-scroll btn yellow" target="_blank" data-bottom="background-position:left bottom;" data-bottom-top="background-position:left bottom; margin-top:" data-200-center-top="background-position:right bottom;">{{ include.texts.buttontitle }}</a>
                        {% elsif include.texts.sectioncolor == 'red'  %}
                            <a href="{{ include.texts.buttonlink }}" class="page-scroll btn red" target="_blank" data-bottom-top="background-position:left bottom; margin-top:" data-200-center-top="background-position:right bottom;">{{ include.texts.buttontitle }}</a>
                        {% else %}
                            <a href="{{ include.texts.buttonlink }}" class="page-scroll btn green" target="_blank" data-bottom-top="background-position:left bottom; margin-top:" data-200-center-top="background-position:right bottom;">{{ include.texts.buttontitle }}</a>
                        {% endif %}
                        </div>
                        {% if include.texts.hasdownload == true %}
                        <div class="col-md-12 no-side-padding">
                            <ul class="share-row">
                                <li><a target="_blank" href="{{ include.texts.buttonlink }}"><img src="{{ site.baseurl }}/uploads/download-icon.png"></a></li>
                                <!--
                                <li><button type="button" id="btn-share" data-container="body" data-toggle="popover" data-placement="bottom"><img src="{{ site.baseurl }}/uploads/share-icon.png"></button></li>
                                -->
                            <ul>
                            <!--
                            <span id="popoverExampleHiddenContent" class="hidden">
                                <a target="_blank" class="btn-media twitter" href="https://twitter.com/share?url=https%3A%2F%2Ffab.city%2Fuploads%2F{{ include.texts.filename }}&via=fabcityglobal&related=twitterapi%2Ctwitter&hashtags=fabcity">
                                <i class="fa fa-twitter"></i>
                                </a>
                                <a target="_blank" href="{{ include.texts.buttonlink }}" class="btn-media facebook">
                                <i class="fa fa-facebook"></i>
                                </a>
                            </span>
                        -->
                        </div>
                        {% endif %}
                    </div>
                    {% endif %}
                </div> <!--close row-->
            </div><!--close section-texts-->
            <div class= "col-xs-12 col-sm-6 col-md-6 no-side-padding section-img-box" data-bottom-top="margin-top: 200px;" data-200-top="margin-top: 0px;" style="height: {{ include.texts.imgheight }}px;">
                {% if include.texts.hascolorbg == true %}
                    {% if include.texts.sectioncolor == 'blue' %}
                        <div class="plain-bg plain-bg-right bg-blue" style="width: {{ include.texts.imgwidth }}px; height: {{ include.texts.imgheight }}px;" data-bottom-top="margin-top: 80px;" data-top="margin-top: -40px;"> </div>
                    {% elsif include.texts.sectioncolor == 'yellow' %}
                        <div class="plain-bg plain-bg-right bg-yellow" style="width: {{ include.texts.imgwidth }}px; height: {{ include.texts.imgheight }}px;" data-bottom-top="margin-top: 80px;" data-top="margin-top: -40px;"> </div>
                    {% elsif include.texts.sectioncolor == 'red' %}
                        <div class="plain-bg plain-bg-right bg-red" style="width: {{ include.texts.imgwidth }}px; height: {{ include.texts.imgheight }}px;" data-bottom-top="margin-top: 80px;" data-top="margin-top: -40px;"> </div>
                    {% else %}
                        <div class="plain-bg plain-bg-right bg-reen" style="width: {{ include.texts.imgwidth }}px; height: {{ include.texts.imgheight }}px;" data-bottom-top="margin-top: 80px;" data-top="margin-top: -40px;"> </div>
                    {% endif %}
                {% endif %}
                <img class="section-img img-right" src="{{ site.baseurl }}/uploads/{{ include.texts.image }}">
            </div>
        </div> <!-- close section-row-->
        {% if include.texts.haslogos == true %}
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6"></div>
            <div class="col-xs-12 col-sm-6 col-md-6 no-side-padding" style="margin-top: 30px;">
                <p style="font-size: 16px; margin-bottom: 20px;">{{ include.texts.logostitle }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6 no-side-padding" style="float: right; margin-top: 0px;">
                {% for organization in include.texts.logos %}
                <a href="{{ organization.url }}" target="_blank">
                <div class="col-xs-2 col-sm-2 col-md-2 logo-box" style="background-image: url('{{ site.baseurl }}/uploads/{{ organization.logo }}');">
                </div>
                 </a>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        {% if include.texts.hasextraaction == true %}
            <div class="row no-side-margin text-right">
                <div class= "col-sm-2 col-md-2 extra-action" style="float: right;">
                    {% if include.texts.sectioncolor == 'blue' %}
                    <a class="underlined-blue" target="_blank" href="{{ include.texts.extraactionlink }}">{{ include.texts.extraaction }}</a>
                    {% elsif include.texts.sectioncolor == 'yellow' %}
                    <a class="underlined-yellow" target="_blank" href="{{ include.texts.extraactionlink }}">{{ include.texts.extraaction }}</a>
                    {% elsif include.texts.sectioncolor == 'red' %}
                    <a class="underlined-red" target="_blank" href="{{ include.texts.extraactionlink }}">{{ include.texts.extraaction }}</a>
                    {% else %}
                    <a class="underlined-green" target="_blank" href="{{ include.texts.extraactionlink }}">{{ include.texts.extraaction }}</a>
                    {% endif %}
                </div>
            </div>
        {% endif %} <!-- Endif hasextraaction -->
        {% endif %} <!-- Endif Orientation condition -->
        {% if include.texts.hasdivisionline == true %}
            <div class="row no-side-margin text-center division-line" data-bottom="margin-top: 300px;" data-top-top="margin-top: 0px;">
                {% if include.texts.sectioncolor == 'blue' %}
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="504px" height="24px"><path d="M0 12 L504 12" style="fill:none; stroke:rgb(20, 4, 104); stroke-width:4;"></path></svg>
                {% elsif include.texts.sectioncolor == 'yellow'  %}
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="504px" height="24px"><path d="M0 12 L504 12" style="fill:none; stroke:rgb(255,239,25);stroke-width:4;"></path></svg>
                {% elsif include.texts.sectioncolor == 'red'  %}
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="504px" height="24px"><path d="M0 12 L504 12" style="fill:none; stroke:rgb(193,15,24);stroke-width:4;"></path></svg>
                {% else %}
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="504px" height="24px"><path d="M0 12 L504 12" style="fill:none; stroke:rgb(24,165,55);stroke-width:4;"></path></svg>
            </div>
            {% endif %}
        {% endif %}
    </div> <!--close container -->
</section>