<section id="video-loop">
    <div class="container">
        <div class="row no-side-margin" data-bottom-top="margin-top: 200px;" data-50-top="margin-top: 0px;">
            <!--Native loop video option-->
            <div class="videoWrapper">
                <img src="{{ site.baseurl }}/uploads/{{ include.texts.fallbackimg }}" style="width: 100%; position: absolute; top: 0; left: 0; width: 100%; z-index: 0;">
                <video src="{{ site.baseurl }}/uploads/{{ include.texts.videofile }}" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 1;" autoplay muted loop>
                </video>    
            </div>
            <!--Embed youtube iframe option-->
            <!--
            <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src="https://player.vimeo.com/video/195949279?color=e03951&title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
            -->
        </div>
        <div class="row no-side-margin text-right">
            <div class= "col-sm-2 col-md-2 extra-action" style="float: right;">
                <a class="underlined-white" href="{{ include.texts.videourl }}">{{ include.texts.action }}</a>
            </div>
        </div>
        <!--Main button option-->
        <!--
        <div class="row no-side-margin">
            <div style="float: right;" data-bottom-top="margin-top: 200px;" data-70-center-top="margin-top: 0px;">
                <div class="col-md-12 no-side-padding text-right">
                    <p class="action"> Watch the</p> 
                </div>
                <div class="col-md-12 no-side-padding text-right">

                    <a href="" class="btn black" target="_blank" data-bottom-top="background-position:left bottom; margin-top:" data-bottom-bottom="background-position:right bottom;"><i class="far fa-play-circle" style="padding-right: 10px;"></i>Full video</a>
                </div>
            </div>
        </div>-->
    </div><!--close container -->
</section>