<!--Blue Claims Strip home -->

<div class="sub-container" style="padding-top: 0px; position: relative;">
	<div class="row text-center blue-highlights" style="margin: 0px -60px 0px -60px; padding: 90px 0px 300px 0px;">
	    {% for statement in include.texts.blueclaims %}
	    <div class="col-md-4 indicator-box" data-aos="fade-up">
	        <span class="indicator-img" style="margin-bottom: 30px;">
	            <div class="icon"> <img src="/img/icons/{{ statement.icon }}.svg"></div>
	        </span>
	        <h5 class="h5-inverted" style="margin:0px;">{{ statement.title }}</h5>
	    </div>
	    {% endfor %}
	</div>
</div>
