<section id="claim-2">
    <div class="container">
        <div class="row">
            <div class="com-md-8"> </div>
            <div class="col-md-4 number" style="float: right;">
                <h2 class="h-inverted">02</h2>
            </div>
        </div>
        <div class="row claim">
            <div class="col-md-4">
                <p class="p-inverted">{{ site.data.home-texts.claim2text }}</p>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <h1 class="h-inverted">{{ site.data.home-texts.claim2 }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 bg-3 img-cover" style="background-image: url('{{ site.baseurl }}/img/general/3.jpg');"></div>
            <div class="col-xs-4 col-sm-4 col-md-4 bg-3 img-cover" style="background-image: url('{{ site.baseurl }}/img/general/4.jpg');"></div>
            <div class="col-xs-4 col-sm-4 col-md-4 bg-3 img-cover" style="background-image: url('{{ site.baseurl }}/img/general/5.jpg'); margin-right: 0px;"></div>
        </div>
    </div><!-- close container-->

    <div class="bg-plain large green">

</section>



