<!-- Fab City Globe Section -->

<section id="fabcity" class="holy-grail globe">
  <div class="container fabcity">
    <div class="row">
      <div class="holy-grail-body">

        <main class="holy-grail-content" style="position: relative">
          <div id="earth_div"></div>
          
          <div id="legend">
            <span class="dot"></span>
            <span id="count"></span> Fab Labs registered on <a href="http://fablabs.io">fablabs.io</a>
          </div>
        </main>

        <aside class="holy-grail-sidebar">
      <!--  <div class="logo-container">
            <img id="logo" src="img/fabcity.png" alt="Fabcity" />
          </div> -->
          <ul class="city-list">
            <h2 class="section-heading">Member cities</h2>
              <li>Barcelona</li>
              <li>Boston</li>
              <li>Somerville</li>
              <li>Cambridge</li>
              <li>Ekurhuleni</li>
              <li>Kerala</li>
              <li>Georgia</li>
              <li>Shenzhen</li>
              <li>Amsterdam</li>
              <li>Toulouse</li>
              <li>Occitanie Region</li>
              <li>Paris</li>
              <li>Bhutan</li>
              <li>Sacramento</li>
              <li>Santiago de Chile</li>
              <li>Detroit</li>
              <li>Brest</li>
              <li>Curitiba</li>
          </ul>
        <div class="city-quote">
            <p>
              List last update: August 2017. <a href="mailto:info@fab.city" target="_blank">Contact us </a> in order to start this conversation in your city.
            </p>
          </div>

        </aside>

      </div><!--close holy-grail-body-->
    </div> <!--close row-->
  </div><!--close container-->
</section>
