<header>
    <div class="container">
        <div class="intro-text">
           <div class="intro-lead-in">
            <div class="row no-side-margin">
                Locally
            </div>
            <div class="row no-side-margin productive">
                productive,
            </div>
            <div class="row no-side-margin">
                globally connected
            </div>
            <div class="row no-side-margin cities">
                cities
            </div>
        </div>
        <div class="countdown-box">
			<div id="countdown" class="col-xs-12 col-sm-12 col-md-12">
				<div class="countdown styled"></div>
			</div>
			<div class="col-md-6 description">
				  <p>By 2050 cities will need to produce everything they consume.</p>
			</div>
		</div>
    </div> <!--close container-->

    <div id="frame">
        <div class="top-left-corner">
        </div>
        <div class="top-right-corner">
        </div>
        <div class="bottom-left-corner">
        </div>
        <div class="bottom-right-corner">
        </div>
    </div>

</header>

