<section id="partner-projects">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2 class="quote-title">Partner Projects</h2>
                <p></p>
            </div>
        </div>

        <div class="row">
            {% for project in site.data.home-texts.projects %}
                <div class="col-md-4 col-sm-6 project-box">
                    <a href="{{ project.url }}" target="_blank" style="text-decoration: none;">
                     <div class="project-img img-cover" style="background-image: url('{{ site.baseurl }}/img/general/{{ project.img }}');">
                    </div>
                    
                    <div class="project-caption">
                        <h4 class="project-title">{{ project.title }}</h4>
                        <p class="small project-description">{{ project.description }}</p>
                    </div>
                    </a>
                </div>
            {% endfor %}
        </div> <!-- close row -->

    </div><!-- close container-->
</section>



