<section id="partners">
    <div class="container absolute">
        <div class="row quote-box">
            <div class="col-md-4">
                <h2 class="quote-title">{{ site.data.home-texts.partnerstitle }}</h2>
                <p>{{ site.data.home-texts.partnerstext }}</p>
            </div>
            <div class="col-md-8 text-center">
                <div class="bg-partners" style="background-image: url('{{ site.baseurl }}/img/general/hex-bg.svg');"></div>

                <div class="col-md-12" style="margin-top: 40px;">
                    <span class="sponsor">
                        <div class="icon"><img class="sponsor-img" src="{{ site.baseurl }}/img/logos/iaac.png"> </div>
                    </span>
                </div>
                <div class="col-md-12">
                    <span class="sponsor">
                        <div class="icon"><img class="sponsor-img" src="{{ site.baseurl }}/uploads/logoCBA.jpg"> </div>
                     <span class="sponsor">
                        <div class="icon"><img class="sponsor-img" src="{{ site.baseurl }}/uploads/fabfoundation.svg"> </div>
                    </span>
                     <span>
                        <div class="icon"><img class="sponsor-img" src="{{ site.baseurl }}/uploads/iaac.png"> </div>
                    </span>
                </div>
                <div class="col-md-12">
                    <span class="sponsor">
                        <div class="icon"><img class="sponsor-img" src="{{ site.baseurl }}/img/logos/logoCBA.jpg"> </div>
                    </span>
                </div>
            </div>
        </div>
    </div><!-- close container-->
</section>



