<!-- Fab City Globe Section -->

<section id="partner-cities">
   <div class="bg-img" style="margin-left: 40px;">
    <img class="bg-map" src="{{ site.baseurl }}/img/general/map-cities.png"></div>

    <div class="container">
        <div class="row map-content">
            <div class="col-md-4">
                <p class="small">{{ site.data.home-texts.citiestext }}</p>
            </div>
            <div class="col-md-2">
            </div>
             <div class="col-md-6">
                <h1 style="margin-bottom: 20px;">Partner Cities/States</h1>
                {% for city in site.data.home-texts.cities %}
                 <div class="col-xs-6 col-sm-4 col-md-4 no-side-padding" style="padding-right:10px;"><h3 style="margin-bottom: 3px;">{{ city.name }}</h3></div>
                {% endfor %}
            </div>
        </div>
    </div><!-- close container-->
<!--
    <div class="xl-title"><h1 class="xl"> {{ site.data.home-texts.whatwedobtn }} </h1></div>-->
</section>
