<section id="rise-makers" style="margin-top: 80px;">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2 class="quote-title">{{ site.data.about-texts.title2 }}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <p>{{ site.data.about-texts.text2a }}</p>
            </div>
            <div class="col-md-4">
                <p style="">{{ site.data.about-texts.text2b }}</p>
            </div>
        </div>
    </div><!-- close container-->
    <div class="row no-side-margin">
        <div class="col-xs-12 col-sm-8 col-md-8 no-side-padding right">
            <div class="bg-makers img-cover" style="background-image: url('{{ site.baseurl }}/img/general/{{ site.data.about-texts.img2 }}');"></div>
        </div>
    </div>
</section>



